@each $jc in center start end flex-start flex-end left right space-between space-around space-evenly stretch {
    .justify-content--#{$jc} {
      justify-content: $jc;
    }
  }
  
  @each $ai in center start end flex-start flex-end stretch {
    .align-items--#{$ai} {
      align-items: $ai;
    }
  }
  
  .preview {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 176px;
    padding: 24px;
    border-right: $av-border-sm $av-brand-lighter;
    border-bottom: $av-border-sm $av-brand-lighter;
  
    &__content {
      display: flex;
      flex: 1;
      -ms-flex-preferred-size: auto;
      flex-direction: column;
      margin: auto;
      width: 100%;
    }
  
    &__caption {
      @include text-body;
      @include utils-ellipsis;
      line-height: $av-line-height-m;
      color: $av-fixed-light;
      text-align: center;
      margin-top: 16px;
    }
  
    @include color-modifiers(background-color, (
      brand-lightest: $av-brand-lightest,
      brand-accent: $av-brand-accent,
      brand-lighter: $av-brand-lighter,
      brand-light: $av-brand-light,
      nav-primary: $av-nav-primary,
      nav-light: $av-nav-light,
      nav-accent: $av-nav-accent,
      fixed-modal: $av-fixed-modal
    ));
  
    &--color-nav-primary,
    &--color-nav-light,
    &--color-nav-accent,
    &--color-fixed-modal {
  
      .preview__caption {
        color: $av-fixed-white;
        &.is-inverse {
          color: $av-scroll-thumb-inverse;
        }
      }
    }
  
    &--has-background {
      border-right: none;
    }
  
    &--has-caption {
      padding: 24px 24px 16px 24px;
    }
    &--hidden {
      display: none;
    }
  }