@layer tokens {
  :root {
    --acv-carousel-nav-content-gap: var(--acv-spacing-regular);
    --acv-carousel-nav-button-icon-color-available: var(--acv-color-disabled);
    --acv-carousel-nav-button-icon-color-active: var(--acv-color-active);
  }
}
