@import '../common/variables';
@import '../common/mixins';

@include b(menu) {
  @include normalize;
  @include utils-clearfix;

  max-width: 100%;
  overflow: hidden;

  @include e(bar) {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    list-style: none;
    flex-shrink: 1; // for IE10 support

    li {
      list-style: none;
    }

    &__icon {
      line-height: 0;
    }
  }

  .el-menu-item,
  .el-submenu__item {
    @include utils-ellipsis;

    user-select: none;
    cursor: pointer;
    outline: 0;

    &.is-active {
      cursor: default;
    }
  }
}
