@import '../common/variables';
@import '../common/mixins';

@include b(menu) {
  @include m(horizontal) {
    display: flex;
    box-shadow: 0 -1px 0 0 $av-brand-light inset;

    .el-menu__bar {
      margin: 0 16px;
      height: 64px;
      display: flex;
      align-items: center;
    }

    @include b(menu-item) {
      @include secondary-borderless-action-state();

      position: relative;
      padding: 0 8px;
      display: inline-flex;
      transition: transform .5s ease;
      overflow: visible;
      align-items: center;
      height: 32px;
      flex: 0 0 auto;

      &:not(:first-child) {
        margin-left: 16px;
      }

      > .el-text {
        color: $av-fixed-primary;
        font-size: $av-font-size-xxs;
        font-weight: $av-font-weight-bold;
        letter-spacing: .3px;
      }

      > .el-tag {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 23px;
        height: 16px;

        .el-tag__text {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          overflow: unset;
        }
      }

      &.is-active {
        cursor: default;

        .el-active-indicator {
          position: absolute;
          display: block;
          bottom: -16px;
          left: 8px;
          width: calc(100% - 16px);
          border-bottom: $av-border-md $av-brand-secondary;
        }
      }

      // fix: overriding mixin rules for `active` state (not `:active`)
      &:not(:disabled).is-active {
        background: transparent;
      }

      &.is-disabled {
        > .el-text {
          color: $av-fixed-lighter;
        }
      }
    }

    .el-menu__controls {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      outline-style: none;
      height: 64px;
      width: 128px;

      &::before {
        content: '';
        position: absolute;
        left: -48px;
        pointer-events: none;
        top: 0;
        height: calc(100% - 1px);
        width: 48px;
        background: linear-gradient(to right, transparent, $av-fixed-white 59%);
      }

      @include when(no-gradient) {
        &::before {
          display: none;
        }
      }
    }

    .el-menu__controls-divider {
      width: $av-border-width-sm;
      background-color: $av-brand-light;
      height: 24px;
    }

    @include when(borderBottom) {
      box-shadow: none;
    }

    @include when(fixed-white) {
      background-color: $av-fixed-white;
    }

    @include when(nav-primary) {
      background-color: $av-nav-primary;
    }
  }
}
