@import '../common/variables';
@import '../common/mixins';

@include b(menu) {
  @include m(vertical) {
    .el-text {
      max-width: 100%;
      vertical-align: middle;
    }

    .is-multiline {
      .el-text {
        white-space: normal;
        line-height: 20px;
      }
    }

    @for $num-lines from 2 through 5 {
      .multiline-limit--#{$num-lines} {
        .el-menu-item__title {
          @include utils-multi-line-ellipsis($num-lines);
        }
      }
    }

    .el-menu-item,
    .el-submenu__item {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      min-height: 48px;

      &::before {
        // for vertical align in flex parent with min-height in IE.
        content: '';
        display: inline-block;
        height: 32px;
        width: 0;
      }

      &__content {
        width: 100%;
        overflow: hidden;
      }
    }

    /* primary */
    &.el-menu--primary {
      .el-menu-item,
      .el-submenu__item {
        color: $av-nav-text;

        .el-menu__bar-icon {
          padding-right: 16px;
        }

        &:not(.is-active) {
          &.is-focus,
          &:focus {
            color: $av-nav-text-active;
            background-color: $av-inversed-lightest;
          }

          &:hover {
            color: $av-nav-text;
            background-color: $av-inversed-lightest;
          }

          &:active {
            color: $av-nav-text-active;
            background-color: $av-nav-secondary;
          }
        }
      }

      .is-root {
        &.el-menu-item,
        &.el-submenu__item {
          min-height: 64px;
          padding-top: 16px;
          padding-bottom: 16px;

          .el-text {
            font-weight: $av-font-weight-bold;
            letter-spacing: .3px;
          }
        }
      }

      .el-menu-item.is-active {
        background-color: $av-nav-accent;
        color: $av-nav-text-active;
      }

      @for $i from 1 through 5 {
        .el-menu__bar--level-#{$i} {
          .el-submenu__item,
          .el-menu-item,
          .el-menu-group__title {
            padding-left: 16px + (48 * ($i - 1));
          }
        }
      }

      .el-submenu__arrow {
        display: none;
      }
    }

    /* secondary */

    /* tertiary */
    &.el-menu--secondary,
    &.el-menu--tertiary {
      .el-menu-item,
      .el-submenu__item {
        color: $av-brand-primary;
        padding-left: 48px;
        background-clip: padding-box;

        .el-menu__bar-icon {
          display: block;
          color: $av-brand-primary;
          padding-right: 16px;

          i {
            display: block;
          }
        }

        &__right-icon {
          color: $av-brand-primary;
        }

        .el-text {
          font-weight: $av-font-weight-bold;
          vertical-align: baseline;
        }

        &.is-focus {
          background-color: $av-fixed-focus;
        }

        &.is-disabled {
          pointer-events: none;
          color: $av-fixed-light;

          .el-menu__bar-icon {
            color: $av-fixed-lighter;
          }

          .el-menu-item__right-icon {
            color: $av-brand-light;
          }
        }

        &:hover {
          background-color: $av-brand-accent;
        }

        &:active,
        &.is-active {
          background-color: $av-brand-lightest;
        }

        &:focus {
          background-color: $av-fixed-focus;
        }
      }

      .el-menu-item {
        &.is-root {
          min-height: 64px;
          padding-top: 16px;
          padding-bottom: 16px;
        }

        &.is-active {
          color: $av-fixed-primary;
        }
      }

      &.el-menu--without-submenus {
        .el-menu-item {
          padding-left: 24px;
        }
      }

      .el-submenu__item.is-root {
        min-height: 64px - $av-border-width-sm;
        padding-top: 16px;
        padding-bottom: 16px;

        &:hover {
          background-color: $av-fixed-white;
        }

        &:focus {
          background-color: $av-fixed-white;
        }
      }

      .el-menu__bar {
        padding-bottom: $av-border-width-sm;
      }

      .el-menu__bar > li {
        border-top: $av-border-sm $av-brand-lighter;

        &:first-child {
          min-height: 64px - $av-border-width-sm;
          border-top: none;
        }

        &:last-child {
          box-shadow: 0 $av-border-width-sm 0 0 $av-brand-lighter;
        }
      }

      @for $i from 1 through 5 {
        .el-menu__bar--level-#{$i} {
          .el-submenu__item,
          .el-menu-item {
            padding-left: 24px + (32 * $i);
          }
        }
      }

      .el-submenu__arrow {
        color: $av-brand-primary;
        margin-right: 16px;
        width: 16px;
        margin-left: -32px;
        right: auto;
      }

      .is-opened > .el-submenu__item .el-submenu__arrow::before {
        transform: rotate(90deg);
      }
    }

    /* tertiary */
    &.el-menu--tertiary {
      .el-menu-item {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        padding-right: 24px;
      }

      .el-menu-item__title {
        font-weight: 400 !important;
        line-height: 24px;
        color: $av-fixed-primary;
      }

      .el-menu-item__content {
        line-height: 0 !important;
      }

      .el-menu__bar-icon {
        padding-right: 16px !important;
      }
    }

    @include when(fixed-white) {
      &.el-menu--primary,
      &.el-menu--secondary,
      &.el-menu--tertiary {
        background-color: $av-fixed-white;
      }
    }

    @include when(nav-primary) {
      &.el-menu--primary,
      &.el-menu--secondary,
      &.el-menu--tertiary {
        background-color: $av-nav-primary;
      }
    }

    @include when(hide-all-borders) {
      &.el-menu--primary,
      &.el-menu--secondary,
      &.el-menu--tertiary {
        .el-menu__bar > li {
          border-top: none;
          box-shadow: none;
        }
      }
    }
  }

  @include m(collapse) {
    &.el-menu--primary,
    &.el-menu--secondary,
    &.el-menu--tertiary {
      .el-menu-item,
      .el-submenu__item {
        display: flex;
        justify-content: center;

        .el-menu__bar-icon {
          padding-right: 0;
        }
      }
    }
  }
}
