:root {
  /* border-style */
  --acv-border-style-solid: solid;
  --acv-border-style-dashed: dashed;

  /* border */
  --acv-border-none: none;
  --acv-border-small: var(--acv-border-regular) var(--acv-border-style-solid);
  --acv-border-medium: var(--acv-border-large) var(--acv-border-style-solid);
  --acv-border-large: var(--acv-border-x-large) var(--acv-border-style-solid);
  --acv-border-primary: var(--acv-border-small) var(--acv-color-brand-primary);
  --acv-border-secondary: var(--acv-border-small)
    var(--acv-color-brand-secondary);
  --acv-border-tertiary: var(--acv-border-small) var(--acv-color-brand-tertiary);
}
