:where(html) {
  --acv-color-amber-darkest: hsl(46deg 94% 26%);
  --acv-color-amber-darker: hsl(46deg 96% 31%);
  --acv-color-amber-dark: hsl(46deg 98% 39%);
  --acv-color-amber: hsl(45deg 100% 51%);
  --acv-color-amber-light: hsl(44deg 102% 69%);
  --acv-color-amber-lighter: hsl(43deg 104% 87%);
  --acv-color-amber-lightest: hsl(42deg 105% 97%);
  --acv-color-amber-hover: hsl(
    from var(--acv-color-amber) calc(h - 4) s calc(l - 2)
  );
  --acv-color-amber-active: hsl(
    from var(--acv-color-amber) calc(h - 3) calc(s - 1) calc(l - 8)
  );
  --acv-color-amber-muted: var(--acv-color-amber-darkest);
  --acv-color-amber-text: var(--acv-color-white);
}
