:where(html) {
  --acv-color-red-lightest: hsl(0deg 100% 98%);
  --acv-color-red-lighter: hsl(0deg 96% 85%);
  --acv-color-red-light: hsl(0deg 89% 71%);
  --acv-color-red: hsl(0deg 81% 57%);
  --acv-color-red-dark: hsl(0deg 73% 45%);
  --acv-color-red-darker: hsl(0deg 64% 35%);
  --acv-color-red-darkest: hsl(0deg 55% 30%);
  --acv-color-red-hover: hsl(
    from var(--acv-color-red) calc(h - 4) s calc(l - 2)
  );
  --acv-color-red-active: hsl(
    from var(--acv-color-red) calc(h - 3) calc(s - 1) calc(l - 8)
  );
  --acv-color-red-muted: var(--acv-color-red-darkest);

  /* Text colors */
  --acv-color-red-darkest-text: var(--acv-color-red-light);
  --acv-color-red-darker-text: var(--acv-color-red-lighter);
  --acv-color-red-dark-text: var(--acv-color-red-lightest);
  --acv-color-red-text: var(--acv-color-red-lightest);
  --acv-color-red-lightest-text: var(--acv-color-red-dark);
  --acv-color-red-lighter-text: var(--acv-color-red-darker);
  --acv-color-red-light-text: var(--acv-color-red-darkest);
}
