:where(html) {
  --acv-color-light-green-darkest: hsl(95deg 100% 6%);
  --acv-color-light-green-darker: hsl(92deg 100% 11%);
  --acv-color-light-green-dark: hsl(89deg 100% 17%);
  --acv-color-light-green: hsl(81deg 100% 24%);
  --acv-color-light-green-light: hsl(76deg 100% 31%);
  --acv-color-light-green-lighter: hsl(75deg 68% 45%);
  --acv-color-light-green-lightest: hsl(75deg 76% 61%);
}
