:where(html) {
  --acv-color-pink-darkest: hsl(341deg 76% 27%);
  --acv-color-pink-darker: hsl(341deg 78% 32%);
  --acv-color-pink-dark: hsl(341deg 80% 40%);
  --acv-color-pink: hsl(340deg 82% 52%);
  --acv-color-pink-light: hsl(339deg 84% 70%);
  --acv-color-pink-lighter: hsl(338deg 86% 88%);
  --acv-color-pink-lightest: hsl(337deg 87% 97%);
}
