:where(html) {
  --acv-color-purple-darkest: hsl(286deg 100% 21%);
  --acv-color-purple-darker: hsl(290deg 100% 27%);
  --acv-color-purple-dark: hsl(291deg 64% 42%);
  --acv-color-purple: hsl(291deg 62% 58%);
  --acv-color-purple-light: hsl(292deg 96% 72%);
  --acv-color-purple-lighter: hsl(300deg 100% 80%);
  --acv-color-purple-lightest: hsl(300deg 100% 88%);
}
