:where(html) {
  --acv-color-secondary-darkest: hsl(220deg 5% 25%);
  --acv-color-secondary-darker: hsl(223deg 4% 36%);
  --acv-color-secondary-dark: hsl(223deg 3% 47%);
  --acv-color-secondary: hsl(223deg 3% 59%);
  --acv-color-secondary-light: hsl(225deg 5% 71%);
  --acv-color-secondary-lighter: hsl(217deg 10% 84%);
  --acv-color-secondary-lightest: hsl(220deg 60% 97%);
  --acv-color-secondary-hover: var(
    --acv-color-button-hover-secondary,
    hsl(from var(--acv-color-secondary) calc(h - 4) s calc(l - 2))
  );
  --acv-color-secondary-active: var(
    --acv-color-button-active-secondary,
    hsl(from var(--acv-color-secondary) calc(h - 3) calc(s - 1) calc(l - 8))
  );
  --acv-color-secondary-muted: var(--acv-color-primary-lightest);

  /* Text colors */
  --acv-color-secondary-darkest-text: var(--acv-color-secondary-light);
  --acv-color-secondary-darker-text: var(--acv-color-secondary-lighter);
  --acv-color-secondary-dark-text: var(--acv-color-secondary-lightest);
  --acv-color-secondary-text: var(--acv-color-secondary-lightest);
  --acv-color-secondary-lightest-text: var(--acv-color-secondary-dark);
  --acv-color-secondary-lighter-text: var(--acv-color-secondary-darker);
  --acv-color-secondary-light-text: var(--acv-color-secondary-darkest);
}
