:where(html) {
  --acv-color-blue-darkest: hsl(216deg 63% 21%); /* -5% */
  --acv-color-blue-darker: hsl(216deg 65% 26%); /* -8% */
  --acv-color-blue-dark: hsl(216deg 67% 34%); /* -12% */
  --acv-color-blue: hsl(215deg 69% 46%);
  --acv-color-blue-light: hsl(214deg 71% 64%); /* +18% */
  --acv-color-blue-lighter: hsl(213deg 73% 82%); /* +18% */
  --acv-color-blue-lightest: hsl(212deg 74% 95%); /* +13% */

  /* Text colors */
  --acv-color-blue-darkest-text: var(--acv-color-blue-light);
  --acv-color-blue-darker-text: var(--acv-color-blue-lighter);
  --acv-color-blue-dark-text: var(--acv-color-blue-lightest);
  --acv-color-blue-text: var(--acv-color-blue-lightest);
  --acv-color-blue-lightest-text: var(--acv-color-blue-dark);
  --acv-color-blue-lighter-text: var(--acv-color-blue-darker);
  --acv-color-blue-light-text: var(--acv-color-blue-darkest);
}
