:root {
  /* border-style */
  --acv-border-style-solid: solid;
  --acv-border-style-dashed: dashed;

  /* border */
  --acv-border-none: 0;
  --acv-border-small: var(--acv-border-regular) var(--acv-border-style-solid);
  --acv-border-medium: var(--acv-border-large) var(--acv-border-style-solid);
  --acv-border-large: var(--acv-border-x-large) var(--acv-border-style-solid);

  /* border with color */
  --acv-border-primary: var(--acv-border-small) var(--acv-color-brand-primary);
  --acv-border-secondary: var(--acv-border-small)
    var(--acv-color-brand-secondary);
  --acv-border-tertiary: var(--acv-border-small) var(--acv-color-brand-tertiary);

  /* border width */
  --acv-border-width-zero: var(--acv-base-border-width-00);
  --acv-border-width-small: var(--acv-base-border-width-01);
  --acv-border-width-medium: var(--acv-base-border-width-02);
  --acv-border-width-large: var(--acv-base-border-width-03);

  /* border size */
  --acv-border-size-1px: 1px;
  --acv-border-size-2px: 2px;
  --acv-border-size-4px: 4px;
  --acv-border-size-10px: 10px;
  --acv-border-size-25px: 25px;

  /* border radius */
  --acv-radius-2px: var(--acv-base-radius-02);
  --acv-radius-4px: var(--acv-base-radius-04);
  --acv-radius-6px: var(--acv-base-radius-06);
  --acv-radius-8px: var(--acv-base-radius-08);
  --acv-radius-16px: var(--acv-base-radius-16);
  --acv-radius-relative-1: 1rem;
  --acv-radius-relative-2: 2rem;
  --acv-radius-relative-4: 4rem;
  --acv-radius-relative-8: 8rem;
  --acv-radius-fluid-1: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-2px)
  );
  --acv-radius-fluid-2: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-4px)
  );
  --acv-radius-fluid-3: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-relative-1)
  );
  --acv-radius-fluid-4: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-relative-2)
  );
  --acv-radius-fluid-5: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-relative-4)
  );
  --acv-radius-fluid-6: clamp(
    0px,
    calc(100vw - 100%) * 1e5,
    var(--acv-radius-relative-8)
  );
  --acv-border-radius-zero: var(--acv-base-radius-00);
  --acv-border-radius-small: var(--acv-base-radius-02);
  --acv-border-radius-regular: var(--acv-base-radius-04);
  --acv-border-radius-medium: var(--acv-base-radius-06);
  --acv-border-radius-large: var(--acv-base-radius-08);
  --acv-border-radius-x-large: var(--acv-base-radius-16);
  --acv-border-radius-circle: var(--acv-base-radius-circle);
}
