:root {
  --acv-breakpoint-width-x-small: 640px;
  --acv-breakpoint-width-small: 768px;
  --acv-breakpoint-width-medium: 1024px;
  --acv-breakpoint-width-large: 1280px;
  --acv-breakpoint-width-x-large: 1440px;
  --acv-breakpoint-width-xx-large: 1920px;
  --acv-breakpoint-viewport--xs-only: "max-width: calc(768px - 1)";
  --acv-breakpoint-viewport--small-and-up: "min-width: 768px";
  --acv-breakpoint-viewport--small-only: "min-width: 768px and max-width: calc(1024px - 1)";
  --acv-breakpoint-viewport--small-down: "max-width: 1024px";
  --acv-breakpoint-viewport--md: 1024px;
  --acv-breakpoint-viewport--lg: 1280px;
  --acv-breakpoint-viewport--xl: 1440px;
  --acv-breakpoint-viewport--2xl: 1920px;
  --acv-breakpoint--mobile: var(--acv-breakpoint-width-x-small);
  --acv-breakpoint--tablet: var(--acv-breakpoint-width-medium);
  --acv-breakpoint--laptop: var(--acv-breakpoint-width-large);
  --acv-breakpoint--desktop: var(--acv-breakpoint-width-x-large);
  --is-x-small-viewport: false;
  --is-small-vieport: false;
  --is-medium-viewport: false;
  --is-large-viewport: false;
  --is-x-large-viewport: false;
  --is-xx-large-viewport: false;

  /* Extra Small viewport */
  @media (0 <= width < 640px) {
    --is-x-small-viewport: true;
  }

  @media (width >= 640px) {
    --is-x-small-above-viewport: true;
  }

  @media (width < 640px) {
    --is-x-small-below-viewport: true;
  }

  /* Small viewport */
  @media (640px <= width < 768px) {
    --is-small-viewport: true;
  }

  @media (width >= 768px) {
    --is-small-above-viewport: true;
  }

  @media (width < 768px) {
    --is-small-below-viewport: true;
  }

  /* Medium viewport */
  @media (768px <= width < 1024px) {
    --is-medium-viewport: true;
  }

  @media (width >= 1024px) {
    --is-medium-above-viewport: true;
  }

  @media (width < 1024px) {
    --is-medium-below-viewport: true;
  }

  /* Large viewport */
  @media (1024px <= width < 1280px) {
    --is-large-viewport: true;
  }

  @media (width >= 1280px) {
    --is-large-above-viewport: true;
  }

  @media (width < 1280px) {
    --is-large-below-viewport: true;
  }

  /* Extra Large viewport */
  @media (1280px <= width < 1440px) {
    --is-x-large-viewport: true;
  }

  @media (width >= 1440px) {
    --is-x-large-above-viewport: true;
  }

  @media (width < 1440px) {
    --is-x-large-below-viewport: true;
  }

  /* Extra Extra Large viewport */
  @media (1440px <= width < 1920px) {
    --is-xx-large-viewport: true;
  }

  @media (width >= 1920px) {
    --is-xx-large-above-viewport: true;
  }

  @media (width < 1920px) {
    --is-xx-large-below-viewport: true;
  }
}
