:root {
  --acv-font-acronis-cyber: Acronis Cyber, sans-serif;
  --acv-font-jet-brains: JetBrains Mono, monospace;
  --acv-font-monospace: Inconsolata, Fira Mono, ui-monospace, SF Mono, Menlo,
    Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --acv-font-system-ui: system-ui, sans-serif;
  --acv-font-family-mono: var(--acv-font-monospace);
  --acv-font-family-sans: var(--acv-font-system-ui);
  --acv-font-family-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --acv-font-size-fluid-0: clamp(0.75rem, 2vw, 1rem);
  --acv-font-size-fluid-1: clamp(1rem, 4vw, 1.5rem);
  --acv-font-size-fluid-2: clamp(1.5rem, 6vw, 2.5rem);
  --acv-font-size-fluid-3: clamp(2rem, 9vw, 3.5rem);
  --acv-font-line-height-0: 0.95;
  --acv-font-line-height-1-1: 1.1;
  --acv-font-line-height-1-2: 1.25;
  --acv-font-line-height-1-3: 1.375;
  --acv-font-line-height-1-5: 1.5;
  --acv-font-line-height-2: 2;
  --acv-font-size-relative-05: 0.5rem;
  --acv-font-size-relative-075: 0.75rem;
  --acv-font-size-relative-1: 1rem;
  --acv-font-size-relative-1-1: 1.1rem;
  --acv-font-size-relative-1-25: 1.25rem;
  --acv-font-size-relative-1-5: 1.5rem;
  --acv-font-size-relative-2: 2rem;
  --acv-font-size-relative-2-5: 2.5rem;
  --acv-font-size-relative-3: 3rem;
  --acv-font-size-relative-3-5: 3.5rem;
}
