:root {
  /* letter-spacing */
  --acv-letter-spacing-tighter: -5%;
  --acv-letter-spacing-tight: -2.5%;
  --acv-letter-spacing-normal: 0;
  --acv-letter-spacing-xs: 0.3px;
  --acv-letter-spacing-sm: 1.2px;
  --acv-letter-spacing-md: 2.4px;
  --acv-letter-spacing-lg: 3.2px;

  /* text-transform */
  --acv-text-transform-none: none;
  --acv-text-transform-uppercase: uppercase;
  --acv-text-transform-lowercase: lowercase;
  --acv-text-transform-capitalize: capitalize;

  /* text-decoration */
  --acv-text-decoration-none: none;
  --acv-text-decoration-underline: underline;
  --acv-text-decoration-line-through: line-through;

  /* Heading */
  --acv-heading-line-height: var(--acv-line-height-small);
  --acv-heading-h1-font-size: var(--acv-base-font-size-48);
  --acv-heading-h1-font-weight: var(--acv-font-weight-strong);
  --acv-heading-h1-line-height: var(--acv-line-height-small);
  --acv-heading-h1-spacing: var(--acv-letter-spacing-normal);
  --acv-heading-h2-font-size: var(--acv-base-font-size-32);
  --acv-heading-h2-font-weight: var(--acv-font-weight-strong);
  --acv-heading-h2-line-height: var(--acv-font-line-height-large);
  --acv-heading-h2-spacing: var(--acv-letter-spacing-normal);
  --acv-heading-h3-font-size: var(--acv-base-font-size-24);
  --acv-heading-h3-line-height: var(--acv-base-font-line-height-32);
  --acv-heading-h3-font-weight: var(--acv-font-weight-accent);
  --acv-heading-h4-font-size: var(--acv-base-font-size-16);
  --acv-heading-h4-line-height: var(--acv-base-font-line-height-24);
  --acv-heading-h4-font-weight: var(--acv-font-weight-accent);
  --acv-heading-h5-font-size: var(--acv-base-font-size-14);
  --acv-heading-h5-line-height: var(--acv-base-font-line-height-20);
  --acv-heading-h5-font-weight: var(--acv-font-weight-accent);

  /* Body */
  --acv-body-font-size: var(--acv-font-size-body);
  --acv-body-line-height: var(--acv-font-line-height-small);

  /* Fine print */
  --acv-fineprint-font-size: var(--acv-font-size-fineprint);
  --acv-fineprint-line-height: var(--acv-font-line-height-x-small);

  /* line-height */
  --acv-line-height-xsmall: 1.1;
  --acv-line-height-small: 1.2;
  --acv-line-height-medium: 1.4;
  --acv-line-height-large: 1.5;
  --acv-line-height-x-large: 1.72;

  /* Paragraph */
  --acv-paragraph-indent: var(--acv-dimension-zero);
  --acv-paragraph-spacing: var(--acv-spacing-y-base);
}
