@layer tokens {
  :root {
    --acv-tooltip-color: hsl(0deg 0% 98%);
    --acv-tooltip-background: var(--acv-color-surface-inversed-dark-primary);
    --acv-tooltip-padding: 16px;
    --acv-tooltip-border-radius: var(--acv-radius-medium);
    --acv-tooltip-fontsize: 10px;
    --acv-tooltip-mobile-padding: 8px 16px;
    --acv-tooltip-mobile-fontsize: 14px;
  }
}
