$OpenSansPath: '~/open-sans-fontface/fonts';
$OpenSansVersion: '1.1.0' !default;

@import '~/open-sans-fontface/open-sans.scss';

@font-face {
  font-family: 'Open Sans';

  @include fontdef($OpenSansPath, $OpenSansVersion, 'Semibold');

  font-weight: 500;
  font-style: normal;
}
