@import '../variables';
@import '../mixins';

$bg-colors: (
  brand-lightest: $av-brand-lightest,
  brand-accent: $av-brand-accent,
  brand-lighter: $av-brand-lighter,
  brand-light: $av-brand-light,
  solid-brand-lightest: $av-solid-brand-lightest,
  solid-brand-accent: $av-solid-brand-accent,
  solid-brand-lighter: $av-solid-brand-lighter,
  solid-brand-light: $av-solid-brand-light,
  fixed-white: $av-fixed-white
);

@include b(bg) {
  @each $key, $value in $bg-colors {
    @include m($key) {
      background-color: $value !important;
    }
  }
}
