@import '../variables';
@import '../mixins';

$height-values: (
  100: 100%,
  100vh: 100vh,
  auto: auto
);

$width-values: (
  100: 100%,
  100vw: 100vw,
  auto: auto
);

@include b('size') {
  @each $key, $value in $height-values {
    @include m(height, $key) {
      height: $value !important;
    }
  }

  @each $key, $value in $width-values {
    @include m(width, $key) {
      width: $value !important;
    }
  }
}
