@each $spacer in (0 4 8 12 16 24) {
  .pt-#{$spacer} {
    padding-top: #{$spacer}px !important;
  }

  .pr-#{$spacer} {
    padding-right: #{$spacer}px !important;
  }

  .pb-#{$spacer} {
    padding-bottom: #{$spacer}px !important;
  }

  .pl-#{$spacer} {
    padding-left: #{$spacer}px !important;
  }

  .px-#{$spacer} {
    padding-left: #{$spacer}px !important;
    padding-right: #{$spacer}px !important;
  }

  .py-#{$spacer} {
    padding-top: #{$spacer}px !important;
    padding-bottom: #{$spacer}px !important;
  }

  .pa-#{$spacer} {
    padding: #{$spacer}px !important;
  }

  .mt-#{$spacer} {
    margin-top: #{$spacer}px !important;
  }

  .mr-#{$spacer} {
    margin-right: #{$spacer}px !important;
  }

  .mb-#{$spacer} {
    margin-bottom: #{$spacer}px !important;
  }

  .ml-#{$spacer} {
    margin-left: #{$spacer}px !important;
  }

  .mx-#{$spacer} {
    margin-left: #{$spacer}px !important;
    margin-right: #{$spacer}px !important;
  }

  .my-#{$spacer} {
    margin-top: #{$spacer}px !important;
    margin-bottom: #{$spacer}px !important;
  }

  .ma-#{$spacer} {
    margin: #{$spacer}px !important;
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
