@import '../variables';
@import '../mixins';

$text-colors: (
  brand-primary: $av-brand-primary,
  fixed-primary: $av-fixed-primary,
  fixed-light: $av-fixed-light,
  fixed-lighter: $av-fixed-lighter,
  fixed-white: $av-fixed-white,
  fixed-danger: $av-fixed-danger,
  fixed-success: $av-fixed-success
);
$text-transform: lowercase uppercase capitalize;
$text-align: left right center justify;
$white-space: (
  wrap: normal,
  nowrap: nowrap
);
$word-break: (
  break: break-word
);

@include b(text) {
  font-size: $av-font-size-s;
  line-height: $av-line-height-s;
  font-weight: $av-font-weight-normal;

  /**
    * Typography  /  1.1.0
    * @example <div class='el-text el-text--display-large'>32 / 48 – display-large</div>
    */
  @include m(display, large) {
    @include text-display-large;
  }

  @include m(display, medium) {
    @include text-display-medium;
  }

  @include m(display, regular) {
    @include text-display-regular;
  }

  @include m(heading) {
    @include text-heading;
  }

  @include m(strong) {
    @include text-strong;
  }

  @include m(subheading) {
    @include text-subheading;
  }

  @include m(body, 32) {
    @include text-body;

    line-height: 32px;
  }

  @include m(body, 24) {
    @include text-body;
  }

  @include m(caption) {
    @include text-caption;
  }

  @include m(accent) {
    @include text-accent;
  }

  /**
   * font-weight
   * @example <div class='el-text el-text--weight-bold'>Example usage of class</div>
   */
  @include m(weight, bold) {
    font-weight: $av-font-weight-bold;
  }

  /**
   * font-size
   * @example <div class='el-text el-text--size-xxs'>Example usage of class</div>
   */
  @include m(size, xxxs) {
    font-size: $av-font-size-xxxs;
  }

  @include m(size, xxs) {
    font-size: $av-font-size-xxs;
  }

  @include m(size, xs) {
    font-size: $av-font-size-xs;
  }

  @include m(size, s) {
    font-size: $av-font-size-s;
  }

  @include m(size, m) {
    font-size: $av-font-size-m;
  }

  @include m(size, l) {
    font-size: $av-font-size-l;
  }

  @include m(size, xl) {
    font-size: $av-font-size-xl;
  }

  /**
   * line-height
   * @example <div class='el-text el-text--height-xs'>Example usage of class</div>
   */
  @include m(height, xs) {
    line-height: $av-line-height-xs;
  }

  @include m(height, s) {
    line-height: $av-line-height-s;
  }

  @include m(height, m) {
    line-height: $av-line-height-m;
  }

  @include m(height, l) {
    line-height: $av-line-height-l;
  }

  /**
   * spacing
   * @example <div class='el-text el-text--spacing-m'>Example usage of class</div>
   */
  @include m(spacing, m) {
    letter-spacing: $av-letter-spacing;
  }

  /**
   * ellipsis
   * @example <div class='el-text el-text--ellipsis'>Example usage of class</div>
   */
  @include m(ellipsis) {
    @include utils-ellipsis;

    max-width: 100%;
    vertical-align: middle;
  }

  @include m(highlighting) {
    background: $av-fixed-highlight;
  }

  @each $value in $text-transform {
    @include m($value) {
      text-transform: $value !important;
    }
  }

  @each $value in $text-align {
    @include m(align, $value) {
      text-align: $value !important;
    }
  }

  @each $key, $value in $white-space {
    @include m($key) {
      white-space: $value !important;
    }
  }

  @each $key, $value in $word-break {
    @include m($key) {
      overflow-wrap: $value !important;
      word-break: $value !important;
      word-wrap: $value !important;
    }
  }

  @include color-modifiers(color, $text-colors);
}
