@layer utilities {
  .acv-position--static {
    position: static;
  }

  .acv-position--relative {
    position: relative;
  }

  .acv-position--absolute {
    position: absolute;
  }

  .acv-position--fixed {
    position: fixed;
  }
}
