@layer utilities {
  .acv-size--height-100 {
    height: 100%;
  }

  .acv-size--height-100vh {
    height: 100vh;
  }

  .acv-size--height-auto {
    height: auto;
  }

  .acv-size--width-100 {
    width: 100%;
  }

  .acv-size--width-100vw {
    width: 100vw;
  }

  .acv-size--width-auto {
    width: auto;
  }
}
