# .npmrc configuration file
# For detailed documentation, refer to: https://docs.npmjs.com/cli/v8/using-npm/config

# The registry URL for npm packages
registry=https://registry.npmjs.org/

# Always authenticate when accessing the registry
always-auth = true

# Authentication type for npm 9+ (legacy mode)
# See: https://nodejs.org/en/blog/release/v18.14.0/#login
auth-type = legacy

# Disable audit reports for package vulnerabilities
audit = false

# Automatically install peer dependencies
auto-install-peers = true

# Enforce strict engine compatibility
engine-strict = true

# Disable funding messages
fund = false

# Use legacy peer dependencies resolution
legacy-peer-deps = false

# Lockfile version to use (3 is for npm 7+)
lockfile-version = 3

# Set the log level to 'notice'
# Possible values: silent, error, warn, http, info, verbose, silly
# For more details, see: https://docs.npmjs.com/cli/v8/commands/npm-config#loglevel
# Set log level to 'http' for detailed request logging (Miss Cache)
loglevel = notice

# Prefer offline cache for package installation
prefer-offline = false

# Save exact versions of dependencies
save-exact = true

# Use '~' as the default save prefix for dependencies
save-prefix = "~"

# Automatically save dependencies to package.json
save = true

# Enforce strict SSL for registry requests
strict-ssl = true

# Disable update notifications
update-notifier = false

# Set the maximum number of concurrent connections
# Related to issue: #PLTFRM-70936
maxsockets = 15

# Remove the default 'v' prefix for version tags
# tag-version-prefix = ""

# Custom commit message format for version tagging
message = "chore(release): %s :tada:"

# Set the default access level for published packages
access = public
