@layer components {
  table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
  }

  th,
  td {
    padding: 0.7em;
  }

  tbody > tr:nth-child(odd) {
    background: var(--acv-color-secondary-lighter);
  }
}
