@import '../common/variables';

@include b(custom-options) {
  position: relative;
  border-bottom: $av-border-sm $av-brand-lighter;
  width: 296px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .el-checkbox-group__content {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
  }

  @include e(item) {
    flex: 0 1 auto;
  }
}
