@import '../common/variables';
@import '../common/mixins';

@include b(date-table) {
  font-size: $av-font-size-xs;
  font-weight: $av-font-weight-normal;
  user-select: none;
  margin: 0;

  @include e(row) {
    font-size: $av-font-size-xs;

    @include m(hidden) {
      display: none;
    }
  }

  @include e(weekday-name) {
    max-width: 40px;
  }

  @include m(start-end) {
    background-color: $av-fixed-white !important;
  }

  .weekends {
    color: $av-fixed-light;
  }

  thead,
  tbody {
    &::before {
      content: '';
      display: block;
      height: 8px;
    }

    th,
    td {
      &:first-child {
        width: 48px;
        padding-left: 8px;
      }

      &:last-child {
        width: 48px;
        padding-right: 8px;
      }
    }
  }

  thead {
    th {
      font-size: $av-font-size-xs;
      font-weight: $av-font-weight-normal;
      line-height: $av-line-height-m;
      width: 40px;
      height: 32px;
      box-sizing: border-box;
      border-bottom: $av-border-sm $av-brand-lighter;
      padding: 0;

      &::after {
        content: '';
        display: block;
        height: 8px;
      }
    }
  }

  tbody {
    &::after {
      content: '';
      display: block;
      height: 8px;
    }

    td {
      font-size: $av-font-size-xs;
      font-weight: $av-font-weight-normal;
      width: 40px;
      height: 32px;
      cursor: pointer;
      position: relative;
      border: none;
      padding: 0;

      div {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      span {
        width: 40px;
        height: 32px;
        display: block;
        text-align: center;
        line-height: $av-line-height-m;
      }

      &.available {
        &:hover {
          div {
            background-color: $av-brand-accent;
          }
        }
      }

      &.in-range {
        div {
          background-color: $av-brand-accent;

          &:hover {
            background-color: $av-brand-accent;
          }
        }
      }

      &.start-date,
      &.end-date {
        div {
          background-color: $av-brand-light;

          &:hover {
            background-color: $av-brand-light;
          }
        }
      }

      &.start-date-consecutive {
        div {
          background-color: $av-brand-accent;

          &:hover {
            background-color: $av-brand-accent;
          }
        }
      }

      &.current {
        div {
          background-color: $av-brand-accent;

          &:hover {
            background-color: $av-brand-accent;
          }
        }
      }

      &.disabled {
        div {
          opacity: 1;
          cursor: default;
          color: $av-fixed-lightest;
        }
      }

      &.next-month,
      &.prev-month {
        div {
          color: $av-fixed-white;
          cursor: default;
        }

        &.disabled,
        &.current,
        &.in-range,
        &.start-date,
        &.end-date,
        &.start-date-consecutive {
          div {
            background-color: $av-fixed-white;
            color: $av-fixed-white;
            cursor: default;
          }

          &:hover {
            div {
              background-color: $av-fixed-white;
            }
          }
        }
      }
    }
  }

  @include when(multi-mode) {
    .weekends {
      color: $av-fixed-primary;
    }
  }
}
