@import '../common/variables';
@import '../common/mixins';
@import 'picker-panel';

@include b(date-picker) {
  display: inline-block;

  table {
    table-layout: fixed;
    line-height: $av-line-height-m;
    width: auto;

    th,
    td {
      height: auto;
      text-align: center;
    }
  }

  @include e(editor-wrap) {
    position: relative;
    display: table-cell;
    padding: 0 5px;
  }

  @include e(header) {
    max-width: 296px;
    height: 48px;
    padding: 0 16px;
    font-size: $av-font-size-s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: $av-border-sm $av-brand-lighter;

    @include m(multi) {
      @include utils-ellipsis;

      width: 100%;
    }

    & > span {
      display: inline-block;
      flex: 1;
      text-align: center;
    }
  }

  @include e(header-btn) {
    color: $av-brand-primary;
    cursor: pointer;

    @include m(with-spacer-left) {
      margin-left: 8px;
    }

    @include m(with-spacer-right) {
      margin-right: 8px;
    }

    &.disabled {
      cursor: default;
    }
  }

  @include e(header-label-month) {
    max-width: 68px;
  }

  @include e(header-label-year) {
    @include m(full-width) {
      max-width: 200px;
    }

    max-width: 100px;
  }

  @include e(header-label) {
    @include utils-ellipsis;

    display: inline-block;
    font-size: $av-font-size-m;
    font-weight: $av-font-weight-normal;
    padding: 0 8px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    color: $av-fixed-primary;

    &:hover {
      background-color: $av-brand-accent;
    }

    &.disabled {
      cursor: default;

      &:hover,
      &.active {
        background-color: inherit;
      }
    }
  }

  @include e(label-wrapper) {
    height: 100%;
  }

  @include e(prev-btn) {
    float: left;
  }

  @include e(next-btn) {
    float: right;
  }
}
