@import '../common/variables';

@include b(date-range-picker) {
  display: inline-flex;

  table {
    table-layout: fixed;
    line-height: $av-line-height-m;
    width: auto;

    th,
    td {
      height: auto;
      text-align: center;
    }
  }

  .el-picker-panel__body {
    display: flex;
  }

  @include e(header) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $av-font-size-s;
    padding: 0 16px;
    height: 48px;
    border-bottom: $av-border-sm $av-brand-lighter;

    & > span {
      flex: 1;
      text-align: center;
    }

    i.is-disabled {
      color: $av-fixed-white;
      cursor: default;
    }
  }

  @include e(content) {
    box-sizing: border-box;
    margin: 0;

    @include when(right) {
      .el-date-range-picker__header {
        div {
          margin-left: 50px;
          margin-right: 50px;
        }
      }
    }

    &:not(:first-child) {
      border-left: 1px solid $av-brand-accent;
    }
  }

  @include e(editors-wrap) {
    box-sizing: border-box;
    display: table-cell;

    @include when(right) {
      text-align: right;
    }
  }

  @include e(predefined) {
    border-left: 1px solid $av-brand-accent;
    width: 160px;
    padding: 12px 16px;
  }

  @include e(predefined-setting) {
    display: inline-block;
  }

  @include e(action-panel) {
    border-top: 1px solid $av-brand-accent;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
