@import '../common/variables';
@import '../common/mixins';

@include b(date-editor) {
  position: relative;
  text-align: left;

  .el-input__suffix {
    i {
      cursor: pointer;
    }
  }

  @include when(non-editable) {
    .el-input__container,
    .el-input__container input {
      cursor: pointer;
    }

    &.is-disabled {
      .el-input__container,
      .el-input__container input {
        cursor: default;
      }
    }
  }
}
