@import '../common/variables';

@include b(picker-panel) {
  color: $av-fixed-primary;
  border: $av-border-sm $av-brand-primary;
  box-shadow: var(--el-shadow-regular);
  background-color: $av-fixed-white;
  border-radius: $av-border-radius-2;
  margin: 5px 0;

  @include e((body, body-wrapper)) {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  @include e(content) {
    position: relative;

    @include m(multi) {
      border-bottom: $av-border-sm $av-brand-lighter;
    }
  }

  @include e(footer) {
    border-top: $av-border-sm $av-brand-lighter;
    padding: 4px;
    text-align: right;
    background-color: $av-fixed-white;
    position: relative;
    font-size: 0;
  }

  @include e(footer-multi) {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    @include when(one-day) {
      justify-content: flex-end;
    }

    @include m(clear-btn) {
      max-width: 158px;
      margin-left: 4px;
      font-weight: $av-font-weight-normal !important;
    }

    @include m(all-btn) {
      max-width: 90px;
      margin-left: 16px;
    }
  }

  @include e(shortcut) {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    line-height: 28px;
    font-size: $av-font-size-xs;
    color: $av-fixed-primary;
    padding-left: 12px;
    text-align: left;
    outline: none;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $av-brand-accent;
    }
  }

  @include e(btn) {
    border: $av-border-sm $av-fixed-light;
    color: $av-fixed-light;
    line-height: $av-line-height-s;
    border-radius: $av-border-radius-1;
    padding: 0 20px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    font-size: $av-font-size-xxs;

    &[disabled] {
      color: $av-fixed-lighter;
      cursor: default;
    }
  }

  @include e(icon-btn) {
    font-size: $av-font-size-xxs;
    color: $av-fixed-primary;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    margin-top: 8px;

    &:hover {
      color: $av-brand-primary;
    }

    @include when(disabled) {
      color: $av-fixed-light;

      &:hover {
        cursor: default;
      }
    }
  }

  @include e(link-btn) {
    vertical-align: middle;
  }

  .el-popper__arrow {
    transform: translateX(-400%);
  }
}

.el-picker-panel *[slot=sidebar],
.el-picker-panel__sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 110px;
  border-right: $av-border-sm $av-brand-lighter;
  box-sizing: border-box;
  padding-top: 6px;
  background-color: $av-fixed-white;
  overflow: auto;
}

.el-picker-panel *[slot=sidebar] + .el-picker-panel__body,
.el-picker-panel__sidebar + .el-picker-panel__body {
  margin-left: 110px;
}
