@import '../common/variables';

@include b(year-table) {
  margin: 32px 8px;
  border-collapse: collapse;

  td {
    text-align: center;
    padding: 16px 0;
    border: none;

    &.disabled .cell {
      background-color: $av-fixed-white;
      color: $av-fixed-lightest;
      cursor: default;

      &:hover {
        color: $av-fixed-lightest;
        background-color: $av-fixed-white;
      }
    }

    .cell {
      width: 70px;
      height: 32px;
      display: block;
      line-height: $av-line-height-m;
      margin: 0 auto;
      color: $av-fixed-primary;
      cursor: pointer;

      &:hover {
        background-color: $av-brand-accent;
        color: $av-fixed-primary;
      }
    }

    &.current:not(.disabled) .cell {
      background-color: $av-brand-accent;
    }
  }
}
