@layer acv-reset {
  :root {
    --acv-outline-width: 1px;
    --acv-border-large: 2px;
    --acv-border-regular: 1px;
    --acv-border-x-large: 3px;
    --acv-font-line-height-large: 40px;
    --acv-font-line-height-medium: 32px;
    --acv-font-line-height-regular: 24px;
    --acv-font-line-height-small: 20px;
    --acv-font-line-height-x-large: 48px;
    --acv-font-line-height-x-small: 16px;
    --acv-font-size-accent: 16px;
    --acv-font-size-body: 14px;
    --acv-font-size-caption: 12px;
    --acv-font-size-display: 32px;
    --acv-font-size-fineprint: 10px;
    --acv-font-size-lead: 18px;
    --acv-font-size-note: 11px;
    --acv-font-size-title: 24px;
    --acv-font-weight-accent: 500;
    --acv-font-weight-regular: 400;
    --acv-font-weight-strong: 600;
    --acv-font-weight-x-strong: 700;
    --acv-height-large: 40px;
    --acv-height-regular: 32px;
    --acv-height-small: 24px;
    --acv-height-x-large: 48px;
    --acv-height-x-small: 16px;
    --acv-radius-circle: 999px;
    --acv-radius-large: 8px;
    --acv-radius-medium: 6px;
    --acv-radius-regular: 4px;
    --acv-radius-small: 2px;
    --acv-radius-zero: 0px;
    --acv-shadow-blur-regular: 20px;
    --acv-shadow-blur-small: 4px;
    --acv-shadow-position-y-regular: 8px;
    --acv-shadow-position-y-small: 4px;
    --acv-spacing-large: 24px;
    --acv-spacing-regular: 16px;
    --acv-spacing-small: 8px;
    --acv-spacing-x-large: 32px;
    --acv-spacing-x-regular: 12px;
    --acv-spacing-x-small: 4px;
    --acv-spacing-xx-small: 2px;
    --acv-spacing-zero: 0px;
  }
}
