@import '../../common/variables';
@import '../../common/mixins';

@include b(whatisnew-window) {
  @include e(content) {
    padding: 80px 0 24px;
  }

  .el-carousel__arrow {
    transition: none;
  }

  .el-carousel__arrow--right {
    margin-right: 48px;
  }

  .el-carousel__arrow--left {
    margin-left: 48px;
  }

  .el-carousel__footer {
    margin-top: 32px !important;
  }

  .el-carousel__indicator {
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: $av-brand-light;
    transition: background-color .5s linear, border-color .5s linear, opacity .5s linear;

    @include when(active) {
      background-color: $av-brand-primary;
    }
  }
}

@include b(whatisnew-items-list) {
  @include e(back-button) {
    position: absolute;
    left: 16px;
    top: 16px;
  }

  @include e(finish-button) {
    width: calc(100% - 48px);
    position: absolute;
  }

  @include e(finish-button-wrapper) {
    position: relative;
    margin-top: -48px;
    height: 48px;
    padding: 0 24px;
  }
}

@include b(whatisnew-item) {
  position: relative;
  margin: 0 64px;
  height: 100%;

  @include e(upsell-badge) {
    text-align: center;
    position: absolute;
    width: 100%;
  }

  @include e(image) {
    max-width: 100%;
    height: 272px;
    border-radius: 8px;
    margin-bottom: 32px;

    @include m(empty) {
      background: #eee;
    }
  }

  @include e(description) {
    text-align: center;
  }

  @include e(title) {
    word-break: break-word;
  }
}

@include b(whatisnew-steps) {
  display: flex;

  @include e(item) {
    background: var(--av-brand-light);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    transition: background-color .5s linear, border-color .5s linear, opacity .5s linear;
    cursor: pointer;

    @include m(current) {
      background: var(--av-brand-primary);
    }
  }
}

@include b(whatisnew-carousel) {
  @include e(frame) {
    overflow: hidden;
  }

  @include e(items-container) {
    display: flex;
    overflow: hidden;
    transition: margin-left .5s cubic-bezier(.01, .73, .57, .99) 0s;
  }

  @include e(item) {
    margin: 0 64px;
  }

  @include e(steps) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
  }

  @include e(buttons) {
    margin: 32px 48px 0;
  }

  @include e(buttons-back-ctr) {
    text-align: left;
  }

  @include e(buttons-next-ctr) {
    text-align: right;
  }
}
