@mixin secondary-borderless-action-state() {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-radius: $av-border-radius-2;
  font-weight: $av-font-weight-bold;

  @include pseudo(hover) {
    background-color: var(--el-secondary-hover);
  }

  @include when(focus) {
    background-color: var(--av-fixed-focus);
  }

  @include when(active) {
    background-color: var(--el-secondary-active);
  }

  &:not(:disabled):active,
  &:not(:disabled).is-active {
    background: var(--el-secondary-active);
  }

  &:not(:disabled).is-selected {
    background-color: var(--el-secondary-active);
  }

  @include when(disabled) {
    cursor: default;
    pointer-events: none;
  }
}

@mixin btn-secondary-borderless-action-state() {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-radius: $av-border-radius-2;
  font-weight: $av-font-weight-bold;

  @include pseudo(hover) {
    background-color: var(--el-secondary-hover);
  }

  @include when(focus) {
    background-color: var(--av-fixed-focus);
  }

  @include when(active) {
    background-color: var(--el-secondary-active);
  }

  &:not(:disabled):active,
  &:not(:disabled).is-active {
    background: var(--el-secondary-active);
  }

  &:not(:disabled).is-selected {
    background-color: var(--el-secondary-active);
  }

  @include when(disabled) {
    cursor: default;
    pointer-events: none;
  }
}
