$dialog-width-small: 512px;
$dialog-width-medium: 672px;
$dialog-width-large: 832px;
$dialog-width-x-large: 1184px;

$dialog-height-small: 512px;
$dialog-height-medium: 640px;
$dialog-height-large: 832px;

$dialog-header-height: 64px;
$dialog-footer-height: 64px;

$dialog-small-margin: 48px;
$dialog-medium-margin: 64px;
$dialog-large-margin: 128px;

$dialog-widths: (
  small: $dialog-width-small,
  medium: $dialog-width-medium,
  large: $dialog-width-large,
  x-large: $dialog-width-x-large
);

$dialog-heights: (
  small: $dialog-height-small,
  medium: $dialog-height-medium,
  large: $dialog-height-large
);

$height-margin-map: (
  auto: $dialog-small-margin,
  full: $dialog-small-margin,
  small: $dialog-small-margin,
  large: $dialog-medium-margin,
  medium: $dialog-large-margin,
  fixed-medium: 0,
  fullscreen: 0
);

@mixin dialog-body-height($height: 'auto') {
  @if ($height == 'full' or $height == 'auto' or $height == 'fixed-medium' or $height == 'fullscreen') {
    @include case-render($height);
  } @else {
    @include case-render('full');

    @media screen and (min-height: 500px) {
      @include case-render($height);
    }
  }
}

@mixin case-render($height: 'auto') {
  $gutter: map-get($height-margin-map, $height);
  $wrap-content: $height == 'auto';
  $base-height: 100vh;

  @if ($height == 'fixed-medium') {
    $base-height: $dialog-height-medium;
  }

  @include set-height($dialog-footer-height + $dialog-header-height + $gutter * 2, $wrap-content, $base-height);

  @include when(no-footer) {
    @include set-height($dialog-header-height + $gutter * 2, $wrap-content, $base-height);

    @include when(no-header) {
      @include set-height($gutter * 2, $wrap-content, $base-height);
    }
  }

  @include when(no-header) {
    @include set-height($dialog-footer-height + $gutter * 2, $wrap-content, $base-height);
  }
}

@mixin set-height($total-margin, $wrap-content: true, $base-height: 100vh) {
  @include e(body) {
    @if ($wrap-content) {
      max-height: calc(#{$base-height} - #{$total-margin});
    } @else {
      height: calc(#{$base-height} - #{$total-margin});
    }
  }

  @include e(aside) {
    @if ($wrap-content) {
      max-height: calc(#{$base-height} - #{$total-margin} + #{$dialog-footer-height});
    } @else {
      height: calc(#{$base-height} - #{$total-margin} + #{$dialog-footer-height});
    }
  }

  @include when(no-footer) {
    @include e(aside) {
      @if ($wrap-content) {
        max-height: calc(#{$base-height} - #{$total-margin});
      } @else {
        height: calc(#{$base-height} - #{$total-margin});
      }
    }
  }
}
