@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin hide-scrollbar {
  // Firefox
  // https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color
  scrollbar-color: transparent transparent; /* stylelint-disable-line property-no-unknown */
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background: transparent;
  }
}

@mixin link {
  text-decoration: none;
  color: $av-fixed-link;

  // Sergey Nikishkin's wanted disable the standard behavior when hover/active
  &:hover {
    // color: $av-brand-primary-hover;
    cursor: pointer;
  }

  // &:active {
  //   color: $av-brand-primary-active;
  // }
}

@mixin normalize {
  @include font-smoothing;

  font-family: $av-font-family;
  font-size: $av-font-size-s;
  line-height: 1.5;
  color: $av-fixed-primary;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  a {
    @include link;
  }

  b,
  strong {
    font-weight: $av-font-weight-bold;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: $av-font-family;
  }

  ::selection {
    background: $av-brand-light;
  }
  //TODO: Find out why autoprefixer doesn't add next three lines automatically
  ::-moz-selection {
    background: $av-brand-light;
  }

  // Placeholder
  input::-webkit-input-placeholder {
    color: $av-fixed-light;
    opacity: 1;
  }

  input::-moz-placeholder {
    color: $av-fixed-light;
    opacity: 1;
  }

  input:-moz-placeholder {
    color: $av-fixed-light;
    opacity: 1;
  }

  input:-ms-input-placeholder {
    color: $av-fixed-light;
    opacity: 1;
  }

  // IE
  input {
    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }
}
