@mixin animate-background($alpha: .2) {
  @keyframes animate-background-keyframes {
    0% {
      background-position-x: 0;
    }

    100% {
      background-position-x: 16px;
    }
  }

  background-image:
    linear-gradient(
      45deg,
      rgba(255, 255, 255, $alpha) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, $alpha) 50%,
      rgba(255, 255, 255, $alpha) 75%,
      transparent 75%,
      transparent
    );
  background-size: 16px 16px;
  background-repeat: repeat-x;
  animation-name: animate-background-keyframes;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
