@mixin text-display-large {
  font-size: $av-font-size-xl;
  font-weight: $av-font-weight-normal;
  line-height: $av-line-height-l;
}

@mixin text-display-medium {
  font-size: $av-font-size-l;
  font-weight: $av-font-weight-normal;
  line-height: $av-line-height-m;
}

@mixin text-display-regular {
  font-size: $av-font-size-m;
  font-weight: $av-font-weight-normal;
  line-height: $av-line-height-s;
}

@mixin text-heading {
  font-size: $av-font-size-xs;
  font-weight: $av-font-weight-bold;
  letter-spacing: $av-letter-spacing;
  line-height: $av-line-height-m;
}

@mixin text-subheading {
  font-size: $av-font-size-xs;
  font-weight: $av-font-weight-medium;
  line-height: $av-line-height-m;
}

@mixin text-strong {
  font-size: $av-font-size-xs;
  font-weight: $av-font-weight-bold;
  line-height: $av-line-height-m;
}

@mixin text-body {
  font-size: $av-font-size-xs;
  font-weight: $av-font-weight-normal;
  line-height: $av-line-height-s;
}

@mixin text-caption {
  font-size: $av-font-size-xxs;
  font-weight: $av-font-weight-normal;
  line-height: $av-line-height-xs;
}

@mixin text-accent {
  font-weight: 700;
  font-size: $av-font-size-xxxs;
  letter-spacing: $av-letter-spacing;
  line-height: $av-line-height-xs;
}
