/* TODO: remove this file and move to .vue */
@layer tokens {
  :root {
    /* Button base color */
    /*--acv-button-color: var(--acv-color-primary);*/

    /* Text colors */
    --acv-button-text-color: var(--acv-color-primary-text);
    --acv-button-text-color-hover: var(
      --acv-color-button-label-inversed-primary
    );
    --acv-button-text-color-active: var(
      --acv-color-button-label-inversed-primary
    );
    --acv-button-text-color-disabled: var(--acv-color-text-disabled);

    /* Background colors */
    --acv-button-background-color: var(--acv-button-color);
    --acv-button-background-color-hover: hsl(
      from var(--acv-button-color) h s calc(l - 10)
    );
    --acv-button-background-color-active: hsl(
      from var(--acv-button-color) h s calc(l - 33)
    );
    --acv-button-background-color-disabled: hsl(
      from var(--acv-button-color) calc(h - 2) calc(s - 11) calc(l + 33)
    );

    /* Border colors */
    --acv-button-border-color: var(--acv-color-button-primary);
    --acv-button-border-color-hover: var(--acv-color-text-disabled);
    --acv-button-border-color-active: var(--acv-color-text-disabled);
    --acv-button-border-color-disabled: var(--acv-color-text-disabled);

    /* Border */
    --acv-button-border-radius: var(--acv-radius-regular);
    --acv-button-border-width: var(--acv-border-none);
    --acv-button-border-style: var(--acv-border-style-solid);
    --acv-button-focus-outline: var(--acv-border-x-large)
      var(--acv-border-style-solid) var(--acv-color-button-focus);

    /* Padding */
    --acv-button-padding: var(--acv-button-padding-medium);
    --acv-button-padding-small: var(--acv-spacing-x-small);
    --acv-button-padding-medium: var(--acv-spacing-small);
    --acv-button-padding-large: var(--acv-spacing-regular);

    /* Font sizes */
    --acv-button-font-size: var(--acv-button-font-size-medium);
    --acv-button-font-size-small: var(--acv-font-size-caption);
    --acv-button-font-size-medium: var(--acv-font-size-body);
    --acv-button-font-size-large: var(--acv-font-size-lead);

    /* Heights */
    --acv-button-height: var(--acv-button-height-medium);
    --acv-button-height-small: var(--acv-height-small);
    --acv-button-height-medium: var(--acv-height-regular);
    --acv-button-height-large: var(--acv-height-x-large);

    /* Button States */
    --acv-button-active-color: hsl(
      from var(--acv-button-color) calc(h - 1) calc(s - 11) calc(l + 33)
    );

    /* Content gap */
    --acv-button-content-gap: var(--acv-spacing-regular);
    --acv-button-content-gap-small: var(--acv-spacing-x-small);
    --acv-button-content-gap-medium: var(--acv-spacing-small);
    --acv-button-content-gap-large: var(--acv-spacing-regular);

    /* Min width */
    --acv-button-min-width: var(--acv-button-min-width-small);
    --acv-button-min-width-small: 24px;
    --acv-button-min-width-medium: 32px;
    --acv-button-min-width-large: 48px;
  }
}
