@import "../styles/generic/reset.css";

html {
  box-sizing: border-box;
  font-size: var(--acv-size-font-base);
  font-family: var(--acv-base-font-family-inter);
  color: var(--acv-color-gray-dark);
}

code {
  font-family: "Courier New", "Courier", monospace;
  font-size: var(--acv-size-font-small);
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-columns: 12rem 1fr;
}

.page__header {
  grid-area: header;
  background-color: var(--acv-color-primary-light);
  padding: var(--acv-spacing-regular) var(--acv-spacing-large);
}

.page__title {
  color: var(--acv-color-white);
  font-weight: var(--acv-font-weight-accent);
  margin: 0;
}

.page__nav {
  grid-area: nav;
}

.nav {
  position: sticky;
  top: 0;
  list-style: none;
  margin: 0;
  padding: var(--acv-spacing-large);
}

.nav ul {
  list-style: none;
  margin: 0;
  padding-left: var(--acv-spacing-regular);
}

.nav__link {
  display: block;
  color: var(--acv-color-gray-darker);
  text-decoration: none;
  padding: var(--acv-spacing-x-small) var(--acv-spacing-small);
  margin-left: calc(-1 * var(--acv-spacing-small));
  margin-right: calc(-1 * var(--acv-spacing-small));
}

.nav__link:hover,
.nav__link:focus {
  background-color: var(--acv-color-gray-light);
  border-radius: var(--acv-size-radius-base);
}

.page__main {
  grid-area: main;
  padding: var(--acv-spacing-large);
  width: 100%;
  max-width: 60rem;
}

.introduction {
  font-size: var(--acv-font-size-accent);
  font-weight: var(--acv-base-font-weight-light);
  margin-top: 0;
}

.section__title {
  font-size: var(--acv-spacing-large);
  font-weight: var(--font-weight-bold);
  margin-top: var(--acv-base-spacing-32);
  margin-bottom: var(--acv-spacing-small);
}

.section__description {
  margin-top: var(--acv-spacing-small);
  margin-bottom: var(--acv-spacing-small);
}

.group__title {
  font-weight: var(--acv-font-weight-strong);
  margin-top: var(--acv-spacing-large);
  margin-bottom: var(--acv-spacing-small);
}

.group__description {
  margin-top: var(--acv-spacing-small);
  margin-bottom: var(--acv-spacing-small);
}

/* Display tokens in a table */

.group__table {
  border-collapse: collapse;
  min-width: 100%;
}

.group__table th {
  font-size: var(--acv-font-size-caption);
}

.group__table th,
.group__table td {
  border-bottom: var(--acv-size-border-1) solid var(--acv-color-gray-light);
  text-align: left;
  padding-top: var(--acv-spacing-small);
  padding-bottom: var(--acv-spacing-small);
}

.group__table th:nth-child(1) {
  width: 40%;
}

.group__table th:nth-child(2) {
  width: 20%;
}

.group__table th:nth-child(2),
.group__table td:nth-child(2) {
  padding-left: var(--acv-spacing-regular);
  padding-right: var(--acv-spacing-regular);
}

/* Display tokens in a grid, where each item is bordered */

.group__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--acv-spacing-regular) var(--acv-spacing-regular);
}

.group__grid--1 { grid-template-columns: repeat(1, 1fr); }
.group__grid--2 { grid-template-columns: repeat(2, 1fr); }
.group__grid--3 { grid-template-columns: repeat(3, 1fr); }
.group__grid--4 { grid-template-columns: repeat(4, 1fr); }

.group__grid-item {
  display: grid;
  border: var(--acv-size-border-1) solid var(--acv-color-gray-light);
  border-radius: var(--acv-size-radius-base);
  padding: var(--acv-spacing-small);

  /* max-width: 222px; */

  /* place-items: center center; */
}

/* not using row-gap to allow overriding spacing at the name/sample/value level */
.group__grid-item > div:nth-child(2) {
  margin-top: var(--acv-spacing-regular);
  margin-bottom: var(--acv-spacing-regular);
}

/* hide empty item rows so that they don't affect grid */
.group__grid-item > div:empty { display: none; }

/* Token name row */

.comment {
  font-size: var(--acv-font-size-caption);
  font-style: italic;
}

/* Token value row */

.value {
  display: block;
}

.value__icon {
  display: block;
  text-align: center;
}

/* Token sample row */

/* boxed */
.sample__swatch,
.sample__border,
.sample__border-radius,
.sample__shadow {
  height: 40px;
  width: 100%;
  border-radius: var(--acv-size-radius-base);
}

/* bordered! */
.sample__border,
.sample__border-radius {
  border-width: var(--acv-size-border-1);
  border-style: solid;
  border-color: var(--acv-color-brand-primary);
}

.sample__square {
  background-color: currentColor;
  border-radius: var(--acv-size-radius-base);
}

.sample__font-family {
  font-size: var(--acv-size-font-large);
}

.sample__icon {
  display: block;
  margin: calc(-1 * var(--acv-spacing-regular)) auto calc(-1 * var(--acv-spacing-regular)) auto;
  width: 72px;
}
