@layer tokens {
  :root {
    --acv-button-group-color: var(--acv-color-brand-primary);
    --acv-button-border-width: var(--acv-color-brand-primary);
    --acv-button-padding-x: var(--acv-color-brand-primary);
    --acv-button-padding-x-sm: 8px;
    --acv-button-padding-x-lg: 12px;
    --acv-button-active-box-shadow: var(--acv-box-shadow);
  }
}
