.el-alert-widget {
  .el-alert__title,
  .el-alert__subtitle,
  .el-alert__description {
    margin-right: 24px;
  }

  &__title {
    justify-content: space-between;
  }

  .el-alert__container {
    padding: 16px 0;

    .el-alert__icon {
      padding-left: 16px;
    }

    .el-alert__actions {
      justify-content: space-between;
      border-top: 1px solid $av-brand-lighter;
      padding: 16px 24px 0 16px;
      margin-left: -48px;
    }
  }
}
