@import '../common/variables';
@import '../common/mixins';

@include b(details) {
  font-size: $av-font-size-s;
  line-height: $av-line-height-s;
  font-weight: $av-font-weight-normal;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  @include e(details) {
    z-index: $av-z-index-normal;
    overflow: hidden;
    box-shadow: var(--el-shadow-vertical);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  @include e(panel) {
    position: relative;
    flex: 1 1 0;
    display: grid;
    display: -ms-grid;
    grid-template-columns: minmax(0, 1fr);
    -ms-grid-columns: minmax(0, 1fr);
    grid-template-rows: auto auto 1fr;
    -ms-grid-rows: auto auto 1fr;
    grid-template-areas: 'panel-header' 'panel-toolbar' 'panel-table';
  }

  @include e(panel-header) {
    grid-area: panel-header;
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    height: 64px;
    display: flex;
  }

  @include e(panel-toolbar) {
    align-items: center;
    display: flex;
    grid-area: panel-toolbar;
    grid-column: 1;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    overflow: hidden;
    height: 64px;
  }

  @include e(panel-table) {
    grid-area: panel-table;
    grid-column: 1;
    grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    overflow: hidden;
  }
}

@include res(md) {
  @include b(details) {
    @include e(details) {
      width: 596px;
    }

    @include when(open) {
      .el-details__panel-header,
      .el-details__panel-toolbar {
        max-width: calc(100% - 596px);
      }

      .el-details__panel-table {
        .el-scrollbar__bar.is-vertical {
          right: 598px;
        }
      }
    }
  }
}

@include res(lg) {
  @include b(details) {
    @include e(details) {
      width: 720px;
    }

    @include when(open) {
      .el-details__panel-header,
      .el-details__panel-toolbar {
        max-width: calc(100% - 720px);
      }

      .el-details__panel-table {
        .el-scrollbar__bar.is-vertical {
          right: 722px;
        }
      }
    }
  }
}

@include res(xl) {
  @include b(details) {
    @include e(details) {
      width: 800px;
    }

    @include when(open) {
      .el-details__panel-header,
      .el-details__panel-toolbar {
        max-width: calc(100% - 800px);
      }

      .el-details__panel-table {
        .el-scrollbar__bar.is-vertical {
          right: 802px;
        }
      }
    }
  }
}
