@import '../common/mixins';

@include b(fitted-actions) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  overflow: hidden;

  .elements {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-width: 0;
    max-height: 32px;
  }

  .tracing-layer {
    position: absolute;
    display: flex;
  }

  .element {
    display: inline-flex;
    height: 32px;
    cursor: pointer;
    position: relative;
    align-items: center;

    .button {
      margin: 0 8px 0 7px;
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  .dropdown {
    flex: 0 1 auto;
    margin-left: 8px;
  }
}
