@import '../common/mixins';

@include b(header) {
  display: flex;
  width: 100%;
  position: relative;
  background-clip: padding-box;
  justify-content: flex-end;

  @include e(content) {
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1;
  }

  @include e(aside) {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    justify-content: flex-end;
    margin: 0 4px 0 20px;
  }

  @include e(aside-item) {
    margin-right: 16px;

    @include m(search) {
      display: flex;
      align-items: center;
      margin-left: 4px;
    }
  }

  @include e(actions) {
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    justify-content: flex-end;
  }

  @include e(menu) {
    .el-button {
      width: 32px;
      height: 32px;
      padding: 4px;

      &:hover {
        background-color: $av-brand-accent;
      }

      &.is-active-button,
      &:active {
        background-color: $av-brand-lighter;
      }
    }
  }

  @include e(menu-dropdown) {
    .i[class*='-16'] {
      @include when(right) {
        order: 100;
        margin-left: auto;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }

    .i[class*='-24'] {
      @include when(right) {
        order: 100;
        margin-left: auto;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }

  @include e(search) {
    &.el-search {
      width: 350px;
    }

    &.el-search--collapse-hover,
    .el-search__icon--large {
      width: 64px;
    }

    &.el-search--collapse-hover:hover,
    &.el-search--collapse-hover:active {
      background: none;
    }
  }

  @include e(suggestions) {
    .el-autocomplete-suggestion__list li {
      color: $av-brand-primary;
    }
  }

  @include m(bordered) {
    border-bottom: $av-border-sm $av-brand-accent;
  }

  @include color-modifiers(background-color, (
    fixed-white: $av-fixed-white,
    nav-primary: $av-nav-primary
  ));
}
