@import '../common/mixins';
@import '../common/variables';

@include b(line-chart) {
  position: relative;

  @import 'chart-legend';
  @import 'chart-tooltip';

  @include e(drawing) {
    position: relative;
    display: inline-flex;
  }

  @include e(legend) {
    display: block;

    &__title {
      margin-right: 16px;
    }

    &__item {
      margin-bottom: 0;
      transition: opacity 200ms ease-in-out;
      display: inline-block;
    }

    &__item:hover {
      cursor: pointer;
    }

    &__value {
      font-weight: 600;
      font-size: 14px;
      color: $av-fixed-primary;
    }
  }
}
