@import '../common/mixins';
@import '../common/variables';

@include b(live-tracker) {
  position: relative;
  width: 100%;

  @include e(icon) {
    color: $av-brand-primary;
    height: $av-line-height-m;
  }

  @include e(title) {
    height: $av-line-height-s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(subtitle) {
    height: $av-line-height-xs;
    color: $av-fixed-light;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(current) {
    height: $av-line-height-l;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(total) {
    height: $av-line-height-s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(item) {
    &:hover {
      cursor: pointer;
    }
  }
}
