@import '../common/mixins';
@import '../common/variables';

@include b(loading-complex) {
  width: 100%;
  height: 100%;
  position: relative;

  @include e(backdrop) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include m(inline) {
      flex-direction: row;
      gap: 8px;
    }
  }

  @include e(slot) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @include e(text) {
    width: 60%;
    text-align: center;
  }

  @include e(spinner) {
    display: flex;
    justify-content: center;
    align-items: center;

    @include m(48px) {
      height: 72px;
      width: 72px;
    }
  }
}
