@import '../common/mixins';
@import '../common/variables';

@include b(multi-search) {
  display: flex;
  width: 100%;

  @include e(search) {
    min-width: 208px;
    max-width: 760px;
    width: 760px;
  }

  @include e(search-button) {
    max-width: 760px;
    min-width: 0;
  }
}
