@import '../common/mixins';
@import '../common/variables';

@include b(pie-chart) {
  position: relative;
  display: flex;

  @import 'chart-legend';
  @import 'chart-tooltip';

  @include e(legend) {
    table {
      border-spacing: 0;
    }

    &__item:focus {
      background-color: $av-fixed-focus;
      outline: none;
    }

    &__value {
      line-height: 24px;
    }
  }

  @include e(drawing) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(summary) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  @include e(title) {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $av-font-weight-bold;
  }

  @include e(subtitle) {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
