@import '../common/mixins';
@import '../common/variables';

@include b(popover-widget) {
  min-height: 48px;

  &__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 16px;
    font-size: $av-font-size-xs;
    font-weight: $av-font-weight-bold;
    line-height: $av-line-height-m;
  }

  &__illustration {
    margin: 60px 0 40px;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .next-button {
      margin-left: auto;
    }
  }

  &__counter {
    color: $av-fixed-light;
  }

  &__close {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
