@import '../common/mixins';
@import '../common/variables';

@include b(progress-radial) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include m(size-tiny) {
    .el-progress-radial {
      &__icon {
        left: 0;
        padding: 0;
      }

      &__status {
        margin-left: 8px;
      }

      &__subtitle {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        display: inline-block;
        margin-left: -2px;
      }

      &__title {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;
        display: inline-block;
      }
    }
  }

  @include m(size-small) {
    .el-progress-radial {
      &__icon {
        left: 30px;
        top: 30px;
      }

      &__subtitle {
        font-size: 8px;
        line-height: 10px;
      }

      &__title {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }

  @include m(size-medium) {
    .el-progress-radial {
      &__icon {
        left: 44px;
        top: 44px;
      }

      &__subtitle {
        font-size: 9px;
        line-height: 10px;
      }

      &__title {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

  @include m(size-large) {
    .el-progress-radial {
      &__icon {
        left: 56px;
        top: 56px;
        transform: scale(1.4);
      }

      &__subtitle {
        font-size: 12px;
        line-height: 12px;
      }

      &__title {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }

  @include e(svg) {
    transform: rotate(-90deg);
  }

  @include e(track) {
    fill: none;
    stroke-linecap: round;
    stroke: $av-brand-accent;
  }

  @include e(paint) {
    --initialStroke: 0;
    --transitionDuration: 0;

    stroke-opacity: 1;
    stroke-dasharray: var(--initialStroke);
    stroke-dashoffset: var(--initialStroke);
    transition: stroke-dashoffset var(--transitionDuration);

    &.success {
      stroke: $av-fixed-success;
    }

    &.warning {
      stroke: $av-fixed-warning;
    }

    &.critical {
      stroke: $av-fixed-warning;
    }

    &.danger {
      stroke: $av-fixed-danger;
    }
  }

  @include e(icon) {
    position: absolute;
    background-color: white;
    padding: 2px;
    border-radius: 50%;
  }

  @include e(status) {
    text-align: center;

    @include m(shape-stacked) {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include e(subtitle) {
    color: $av-fixed-lighter;
    font-weight: 400;
    display: block;
  }

  @include e(title) {
    color: $av-fixed-primary;
    font-weight: 700;
    display: block;
  }
}

.el-progress-radial-enter-active,
.el-progress-radial-leave-active {
  transition: all 250ms;
}

.el-progress-radial-enter,
.el-progress-radial-leave-to {
  opacity: 0;
}
