@import '../common/variables';

@include b(toolbar) {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  background-color: transparent;
  background-clip: padding-box;

  @include e(content) {
    display: flex;
    min-height: 100%;
    align-items: center;
    min-width: 0;
    flex: 1;
  }

  @include e(aside) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100%;
    overflow: hidden;
  }

  @include e(close) {
    margin: 0 16px;
  }

  @include m(bordered) {
    border-bottom: $av-border-sm $av-brand-lighter;
  }

  @include color-modifiers(background-color, (
    fixed-white: $av-fixed-white
  ));
}

@include b(toolbar-container) {
  width: 100%;

  @include m(active) {
    .el-toolbar {
      background-color: $av-fixed-white;
    }
  }
}

@include b(toolbar-search) {
  min-width: 208px;
  max-width: 760px;
  width: 760px;
}
