@include b(widget-wrapper) {
  position: relative;
  border-radius: $av-border-radius-2;
  border: $av-border-sm $av-brand-light;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $av-fixed-white;

  @include e(title) {
    min-height: $av-line-height-s;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include e(subtitle) {
    display: block;
  }

  @include e(header-aside) {
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
  }

  @include e(view) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  @include e(empty) {
    text-align: center;
  }

  @include e(footer) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px;
  }

  @include e(footer-aside) {
    min-width: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
