$rows-group-header-background-colors: (
  brand-light: $av-solid-brand-light,
  brand-lighter: $av-solid-brand-lighter,
  brand-lightest: $av-solid-brand-lightest,
  brand-accent: $av-solid-brand-accent,
  fixed-white: $av-fixed-white
);

@mixin sticky-group-background {
  & {
    @at-root .el-table__rows-group-header-bg--color-brand-light#{&} {
      background: $av-solid-brand-light;
    }

    @at-root .el-table__rows-group-header-bg--color-brand-lighter#{&} {
      background: $av-solid-brand-lighter;
    }

    @at-root .el-table__rows-group-header-bg--color-brand-lightest#{&} {
      background: $av-solid-brand-lightest;
    }

    @at-root .el-table__rows-group-header-bg--color-brand-accent#{&} {
      background: $av-solid-brand-accent;
    }

    @at-root .el-table__rows-group-header-bg--color-fixed-white#{&} {
      background: $av-fixed-white;
    }
  }
}

@include b(table) {
  .el-table__body_wrapper {
    .el-table__rows-group-header.is-collapsible.is-collapsed:last-of-type {
      .el-table__cell {
        border-bottom-color: $av-brand-lightest;
      }
    }
  }

  @include e(rows-group-header-bg) {
    .el-table__cell {
      @include color-modifiers(background-color, $rows-group-header-background-colors);
    }
  }

  @include e(rows-group-header) {
    display: table-row;
    height: 48px;
    width: 100%;

    @include when(collapsible) {
      .el-table__cell {
        padding-left: 16px;
      }
    }

    @include when(collapsed) {
      .el-table__row-group-header-collapse-icon {
        transform: rotate(-90deg);
      }
    }

    .el-table__cell {
      @include sticky-group-background;

      background: inherit;
    }
  }

  @include e(rows-group-row) {
    display: table-row;
    height: 48px;
  }

  @include e(rows-group-loading) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include e(rows-group-header-content) {
    display: flex;
    align-items: center;
    height: 100%;
  }

  @include m(medium) {
    .el-table__rows-group-header {
      height: 40px;

      .el-button {
        height: 32px;
        min-height: 32px;
      }
    }
  }

  @include m(compact) {
    .el-table__rows-group-header {
      height: $av-line-height-m;

      .el-button {
        height: $av-line-height-s;
        min-height: $av-line-height-s;
      }
    }
  }
}
