@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(cell) {
    &_skeleton {
      background: $av-brand-accent;
      border-radius: 4px;
      height: 8px;
      max-width: 100%;
      min-width: 16px;
      display: inline-block;
    }

    @include when(index) {
      .el-table__cell_skeleton {
        min-width: 100%;
      }
    }

    @include when(selection) {
      .el-table__cell_skeleton {
        min-width: 100%;
      }
    }
  }

  .el-recycle-scroller__item-view {
    &:nth-child(8n+1) {
      @include e(cell) {
        &_skeleton {
          width: 100%;
          max-width: 128px;
        }
      }
    }

    &:nth-of-type(8n+2) {
      @include e(cell) {
        &_skeleton {
          width: 50%;
          max-width: 64px;
        }
      }
    }

    &:nth-child(8n+3) {
      @include e(cell) {
        &_skeleton {
          width: 75%;
          max-width: 96px;
        }
      }
    }

    &:nth-child(8n+4) {
      @include e(cell) {
        &_skeleton {
          width: 25%;
          max-width: 32px;
        }
      }
    }

    &:nth-child(8n+5) {
      @include e(cell) {
        &_skeleton {
          width: 37.5%;
          max-width: 48px;
        }
      }
    }

    &:nth-child(8n+6) {
      @include e(cell) {
        &_skeleton {
          width: 62.5%;
          max-width: 80px;
        }
      }
    }

    &:nth-child(8n+7) {
      @include e(cell) {
        &_skeleton {
          width: 50%;
          max-width: 64px;
        }
      }
    }
  }
}
