@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(head_cell) {
    @include text-strong;

    white-space: nowrap;
    position: relative;
    user-select: none;
    border-bottom: $av-border-sm transparent;
    overflow: hidden;

    &_content,
    &_slot {
      display: flex;
      width: 100%;
    }

    .arrow {
      font-size: 0;
    }

    &_text {
      user-select: text;
      min-width: 64px;
    }

    @include when(draggable) {
      cursor: grab;

      &:active {
        cursor: grabbing !important;
      }
    }

    @include when(dragging-cell) {
      background-color: $av-brand-lightest;
      cursor: grabbing !important;
    }

    @include when(dragging-item) {
      background-color: $av-brand-accent !important;
      opacity: 1 !important;
      box-shadow: var(--el-shadow-regular);
      cursor: grabbing !important;
    }

    @include when(actions-column) {
      padding: 0 16px;

      .el-dropdown {
        min-width: 32px;
      }
    }
  }
}
