.el-table__actions {
  .el-dropdown-link {
    outline: none;

    &.is-disabled {
      pointer-events: none;
      cursor: default;
    }

    .el-button::-moz-focus-inner,
    .el-button:focus {
      border: 0;
      outline: none;
    }
  }
}
