@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(column-resize) {
    .resize {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 5px;

      &:hover {
        background: $av-nav-accent;
        cursor: ew-resize;
      }
    }
  }

  @include e(column-resize-proxy-header) {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 48px;
    border-left: 5px $av-border-style-solid $av-nav-accent;
    z-index: 10;

    &:hover {
      cursor: ew-resize;
    }
  }

  @include e(column-resize-proxy-body) {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: $av-border-sm $av-nav-accent;
    z-index: 10;

    &:hover {
      cursor: ew-resize;
    }
  }
}
