@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include m(default) {
    @include e(head_row) {
      height: 48px;
    }
  }

  @include m(medium) {
    @include e(head_row) {
      height: 32px;
    }
  }

  @include e(head_row) {
    display: table-row;

    > div {
      position: absolute;
      display: contents;
      width: 0;
      height: 0;

      @include when(dragging) {
        cursor: grabbing !important;

        * {
          cursor: grabbing !important;
        }
      }

      @include when(rowresize) {
        cursor: ew-resize !important;

        * {
          cursor: ew-resize !important;
        }
      }
    }

    // TODO: remove the special handling for is-selectable style
    // when new table selection apply to all AUK-1738
    &.is-selectable {
      .is-selection {
        &:not(.is-disabled):hover {
          cursor: default;
        }
      }
    }

    .el-table__selection-cell-checkbox-wrapper {
      margin-right: 16px;

      &:not(.is-disabled):hover {
        cursor: pointer;
        background-color: $av-brand-accent;
      }
    }
  }
}
