@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(head) {
    display: table;
    border-spacing: 0;
    position: relative;
  }

  @include e(thead) {
    display: table-row-group;
  }
}
