@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(body_wrapper) {
    .el-scrollbar {
      height: 100%;
    }
  }

  @include e(body) {
    position: relative;

    & {
      display: table;
    }

    & + .el-table {
      border-top: $av-border-sm $av-brand-accent;
      margin: -$av-border-width-sm 0;
    }
  }

  @include e(tbody) {
    display: table-row-group;

    &.el-table__tbody--with-scroll {
      display: block;
      overflow: none;
    }
  }
}
