@import '../common/variables';
@import '../common/mixins';

@include b(table) {
  @include e(row) {
    display: table-row;
    height: 48px;
    position: relative;

    &:focus {
      outline: none;
    }

    &:last-of-type:not(.el-table__rows-group-header) {
      .el-table__cell {
        border-bottom: none;
      }
    }

    @include when((selected,current)) {
      .el-table__cell {
        box-shadow: 0 #{-$av-border-width-sm} $av-brand-lightest;
        background-color: $av-brand-lightest;
      }

      & + .el-table__row.is-selected {
        .el-table__cell {
          box-shadow: none;
        }
      }
    }

    @include when(multi-selection-mode) {
      &:not(.is-disabled):hover {
        cursor: pointer;
      }

      &.is-selectable {
        .is-selection {
          &:not(.is-disabled):hover {
            cursor: pointer;
          }
        }
      }
    }

    // TODO: remove the special handling for is-selectable style
    // when new table selection apply to all AUK-1738
    &.is-selectable {
      // TODO show pointer only for select actions
      // TODO create tests for cursors
      &.is-highlightable {
        .is-selection {
          &:not(.is-disabled):hover {
            cursor: pointer;
          }
        }
      }

      .is-selection {
        @include when(selection-checkbox-hidden) {
          .el-table__selection-cell-checkbox-wrapper {
            visibility: hidden;
          }
        }

        &:not(.is-disabled):hover {
          cursor: default;
        }
      }

      &:hover {
        .is-selection {
          .el-table__selection-cell-checkbox-wrapper {
            visibility: visible;
          }
        }
      }
    }

    // TODO add test
    &.is-highlightable {
      cursor: pointer;
    }

    @include when(disabled) {
      cursor: unset;
      color: $av-fixed-light;

      .el-table__cell {
        cursor: default;
      }
    }

    .el-table__selection-cell-checkbox-wrapper {
      margin-right: 16px;

      &:not(.is-disabled):hover {
        cursor: pointer;
        background-color: $av-brand-lightest;
      }
    }
  }
}
