@include b(table) {
  &.el-table--compact {
    @include text-caption;

    .el-table__row {
      height: $av-line-height-s;
    }

    .el-table__head_cell,
    .el-table__cell {
      padding: 4px 12px 3px;
      line-height: $av-line-height-s;

      &.ie-sticky-polyfill {
        height: 32px;
      }

      &:first-of-type.is-selection {
        padding: 0 12px;
      }
    }

    @include e(selection-cell-checkbox-wrapper) {
      width: 24px;
      height: 24px;
    }
  }

  &.el-table--medium {
    .el-table__row {
      height: 40px;
    }

    .el-table__head_cell,
    .el-table__cell,
    .el-table__rows-group-header.is-collapsible .el-table__cell {
      padding: 4px 10px 3px;
      line-height: $av-line-height-m;

      &.ie-sticky-polyfill {
        height: 40px;
      }

      &:first-of-type.is-selection {
        padding: 0 10px;
      }
    }

    .el-table__top,
    .el-table__footer {
      line-height: $av-line-height-m;
      height: $av-line-height-m;
    }
  }
}
