@import '../../common/variables';
@import '../../common/mixins';

@include b(about-window) {
  @include e(section) {
    margin-bottom: 32px;
  }

  @include e(content) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include e(logo) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
  }

  @include e(logo-image) {
    width: 112px;
    height: 112px;
    flex: 0 1 auto;
  }

  @include e(versions) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @include e(version) {
    flex: 0 1 auto;
    color: $av-fixed-light;
    line-height: 2.29;
  }

  @include e(message) {
    color: $av-fixed-light;
    margin-bottom: 8px;

    @include when(error) {
      color: $av-fixed-danger;
    }
  }

  @include e(links) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $av-fixed-light;
  }

  @include e(link) {
    flex: 0 1 auto;
    flex-basis: 184px;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}
