:root {
  --acv-surface-white: var(--acv-color-white);
  --acv-surface-primary: var(--acv-color-surface-primary);
  --acv-surface-primary-dark: from var(--acv-color-surface-primary) calc(h + 1)
    calc(s - 2) calc(l - 12);
  --acv-surface-primary-darker: from var(--acv-color-surface-primary)
    calc(h + 1) calc(s - 4) calc(l - 20);
  --acv-surface-primary-darkest: from var(--acv-color-surface-primary)
    calc(h + 1) calc(s - 6) calc(l - 25);
  --acv-surface-secondary: var(--acv-color-surface-secondary);
  --acv-surface-inversed-primary: var(--acv-color-surface-inversed-primary);
  --acv-surface-inversed-dark-primary: var(
    --acv-color-surface-inversed-dark-primary
  );
  --acv-surface-inversed-secondary: var(--acv-color-surface-inversed-secondary);
  --acv-surface-tertiary: var(--acv-color-surface-fixed-primary);
  --acv-surface-quaternary: var(--acv-color-surface-fixed-secondary);
}
