// border-radius
$av-border-radius-1: 2px !default;
$av-border-radius-2: 4px !default;
$av-border-radius-circle: 50% !default;

// border-width
$av-border-width-sm: 1px !default;
$av-border-width-md: 3px !default;

// border-style
$av-border-style-solid: solid !default;

// border
$av-border-sm: $av-border-width-sm $av-border-style-solid !default;
$av-border-md: $av-border-width-md $av-border-style-solid !default;
