$av-box-shadow: 0 10px 20px 0;
$av-box-shadow-focus: $av-box-shadow rgba(45, 49, 56, .25);
$av-box-shadow-modal: $av-box-shadow rgba(45, 49, 56, .7);
$av-box-shadow-details: 0 15px 30px 0 rgba(45, 49, 56, .25);
