$--sm: 768px !default;
$--md: 1000px !default;
$--lg: 1280px !default;
$--xl: 1440px !default;
$--xxl: 1920px !default;

$--breakpoints: (
  'xs' : (max-width: $--sm),
  'sm' : (min-width: $--sm),
  'md' : (min-width: $--md),
  'lg' : (min-width: $--lg),
  'xl' : (min-width: $--xl),
  'xxl' : (min-width: $--xxl)
);

$--breakpoints-spec: (
  'xs-only' : (max-width: $--sm - 1),
  'sm-and-up' : (min-width: $--sm),
  'sm-only': (min-width: #{$--sm}) and (max-width: #{$--md} - 1),
  'sm-and-down': (max-width: $--md - 1),
  'md-and-up' : (min-width: $--md),
  'md-only': (min-width: #{$--md}) and (max-width: #{$--lg } - 1),
  'md-and-down': (max-width: $--lg - 1),
  'lg-and-up' : (min-width: $--lg),
  'lg-only': (min-width: #{$--lg}) and (max-width: #{$--xl } - 1),
  'lg-and-down': (max-width: $--xl - 1),
  'xl-only' : (min-width: $--xl),
);
