@import 'colors/scss/colors/default';

// Brand-primary
$av-brand-primary-hover: darken($av-brand-primary, 7%);
$av-brand-primary-active: darken($av-brand-primary, 12%);
$av-brand-lighter: rgba($av-brand-primary, .15);  // removed, fallback

// Nav
$av-nav-primary-hover: lighten($av-nav-primary, 7%);
$av-nav-primary-active: $av-nav-secondary;
$av-nav-light: #002e68;  // removed, fallback
$av-nav-accent: $av-nav-secondary;  // renamed, fallback

// Fixed
$av-fixed-modal: $av-fixed-secondary;  // renamed, fallback
$av-fixed-error: #d5650b;  // removed, fallback
$av-fixed-nav-accent: #0065e3;  // removed, fallback

// Solid colors: Brand-primary
$av-solid-brand-light: mix(#2668c5, #fff, 30%);  // removed, fallback
$av-solid-brand-lighter: mix(#2668c5, #fff, 15%);  // removed, fallback

// Solid colors: Status
$av-solid-fixed-info-accent: mix($av-fixed-info, #fff, 5%);  // removed, fallback

// Translucent button (removed)
$av-translucent-button: rgba(255, 255, 255, .2);  // removed, fallback
$av-translucent-button-darker: rgba(230, 230, 230, .4);  // removed, fallback
$av-translucent-button-darkest: rgba(217, 217, 217, .3);  // removed, fallback
