// font-family
$av-font-family: var(--ui-kit-font, 'Open Sans', sans-serif) !default;

// font-weight
$av-font-weight-normal: 400 !default;
$av-font-weight-medium: 500 !default;
$av-font-weight-bold: 600 !default;

// font-size
$av-font-size-xxxs: 11px !default;
$av-font-size-xxs: 12px !default;
$av-font-size-xs: 14px !default;
$av-font-size-s: 16px !default;
$av-font-size-m: 18px !default;
$av-font-size-l: 24px !default;
$av-font-size-xl: 32px !default;

// line-height
$av-line-height-xs: 16px !default;
$av-line-height-s: 24px !default;
$av-line-height-m: 32px !default;
$av-line-height-l: 48px !default;

// letter-spacing
$av-letter-spacing: .3px !default;
