$av-transition: all .3s cubic-bezier(.645, .045, .355, 1) !default;
$av-transition-color: color .2s cubic-bezier(.645, .045, .355, 1) !default;
$av-transition-border: border-color .2s cubic-bezier(.645, .045, .355, 1) !default;
$av-transition-fade: opacity 300ms cubic-bezier(.23, 1, .32, 1) !default;
$av-transition-md-fade: transform 300ms cubic-bezier(.23, 1, .32, 1) 100ms, opacity 300ms cubic-bezier(.23, 1, .32, 1) 100ms !default;
$av-transition-fade-linear: opacity 200ms linear !default;
