$av-z-index-normal: 1 !default;
$av-z-index-label: 2 !default;
$av-z-index-scrollbar: 100 !default;
$av-z-index-toolbar: 1000 !default;
$av-z-index-header: 1010 !default;
$av-z-index-dropdowns: 1020 !default;
$av-z-index-tooltips: 1030 !default;
$av-z-index-poppers: 1040 !default;
// poppers: starts from 2000 and increases, controlled by JS inline style.
$av-z-index-notifications: 3000 !default;
$av-z-index-loading: 3010 !default;
