@mixin color-modifier($properties, $color, $pseudo-element: null) {
  @at-root {
    @each $key, $value in $color {
      #{&}--color-#{$key}#{if($pseudo-element, ':' + $pseudo-element, null)} {
        @each $property in $properties {
          #{$property}: #{$value};
        }
      }
    }
  }
}

@mixin color-modifiers($properties, $colors, $pseudo-element: null) {
  @each $key, $value in $colors {
    @include color-modifier($properties, (#{$key}: #{$value}), $pseudo-element);
  }
}

@mixin safe-rgba-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);

  #{$attribute}: $solid-color;
}
