@mixin notification-modifiers() {
  $modifiers: (
    info,
    success,
    warning,
    critical,
    error,
    unknown
  );
  $block_colors: (
    info: --av-fixed-info-accent,
    success: --av-fixed-success-accent,
    warning: --av-fixed-warning-accent,
    critical: --av-fixed-critical-accent,
    error: --av-fixed-danger-accent,
    unknown: --av-fixed-neutral-accent
  );
  $border_colors: (
    info: --av-fixed-info,
    success: --av-fixed-success,
    warning: --av-fixed-warning,
    critical: --av-fixed-critical,
    error: --av-fixed-danger,
    unknown: --av-fixed-lighter
  );
  $icon_colors: (
    error: --av-fixed-danger,
    info: --av-fixed-info,
    success: --av-fixed-success,
    warning: --av-fixed-warning,
    unknown: --av-fixed-lighter
  );

  @at-root {
    @each $modifier in $modifiers {
      // block
      #{&}--#{$modifier} {
        background-color: var(#{map-get($block_colors, $modifier)});

        &.el-alert--with-card {
          box-shadow: inset 0 0 0 $av-border-width-sm var(#{map-get($border_colors, $modifier)});
        }
      }

      // icon
      #{&}--#{$modifier}  #{&}__icon {
        color: var(#{map-get($icon_colors, $modifier)});
      }

      // close button
      #{&}--#{$modifier} #{&}__close {
        &:focus .el-button {
          outline: none;
          background-color: var(--av-fixed-focus);
        }

        &:hover {
          background-color: var(--el-status-hover);
        }

        &:active {
          background-color: var(--el-status-active);
        }
      }
    }
  }
}
