@layer components {
  .link {
    text-decoration: none;
    color: var(--acv-link-color);

    &:hover {
      color: var(--acv-link-color-hover);
      cursor: pointer;
    }

    &:active {
      color: var(--acv-link-color-active);
    }
  }
}
