# Transient fetch output (when run with the default ./icons output dir)
icons/

# Test scratch directories created by the vitest specs
test-icons-output/
test-icons-temp/
test-manifests-temp/
test-categories-temp/
test-temp-dir/

*.log
