@layer utilities {
  .pt-0 {
    padding-top: 0;
  }

  .pr-0 {
    padding-right: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pl-0 {
    padding-left: 0;
  }

  .px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pa-0 {
    padding: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .mr-0 {
    margin-right: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .ml-0 {
    margin-left: 0;
  }

  .mx-0 {
    margin-left: 0;
    margin-right: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .ma-0 {
    margin: 0;
  }

  .pt-4 {
    padding-top: 4px;
  }

  .pr-4 {
    padding-right: 4px;
  }

  .pb-4 {
    padding-bottom: 4px;
  }

  .pl-4 {
    padding-left: 4px;
  }

  .px-4 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .py-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .pa-4 {
    padding: 4px;
  }

  .mt-4 {
    margin-top: 4px;
  }

  .mr-4 {
    margin-right: 4px;
  }

  .mb-4 {
    margin-bottom: 4px;
  }

  .ml-4 {
    margin-left: 4px;
  }

  .mx-4 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .my-4 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .ma-4 {
    margin: 4px;
  }

  .pt-8 {
    padding-top: 8px;
  }

  .pr-8 {
    padding-right: 8px;
  }

  .pb-8 {
    padding-bottom: 8px;
  }

  .pl-8 {
    padding-left: 8px;
  }

  .px-8 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .pa-8 {
    padding: 8px;
  }

  .mt-8 {
    margin-top: 8px;
  }

  .mr-8 {
    margin-right: 8px;
  }

  .mb-8 {
    margin-bottom: 8px;
  }

  .ml-8 {
    margin-left: 8px;
  }

  .mx-8 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .my-8 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .ma-8 {
    margin: 8px;
  }

  .pt-12 {
    padding-top: 12px;
  }

  .pr-12 {
    padding-right: 12px;
  }

  .pb-12 {
    padding-bottom: 12px;
  }

  .pl-12 {
    padding-left: 12px;
  }

  .px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .py-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .pa-12 {
    padding: 12px;
  }

  .mt-12 {
    margin-top: 12px;
  }

  .mr-12 {
    margin-right: 12px;
  }

  .mb-12 {
    margin-bottom: 12px;
  }

  .ml-12 {
    margin-left: 12px;
  }

  .mx-12 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .my-12 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .ma-12 {
    margin: 12px;
  }

  .pt-16 {
    padding-top: 16px;
  }

  .pr-16 {
    padding-right: 16px;
  }

  .pb-16 {
    padding-bottom: 16px;
  }

  .pl-16 {
    padding-left: 16px;
  }

  .px-16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .py-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .pa-16 {
    padding: 16px;
  }

  .mt-16 {
    margin-top: 16px;
  }

  .mr-16 {
    margin-right: 16px;
  }

  .mb-16 {
    margin-bottom: 16px;
  }

  .ml-16 {
    margin-left: 16px;
  }

  .mx-16 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .my-16 {
    margin-block: 16px 16px;
  }

  .ma-16 {
    margin: 16px;
  }

  .pt-24 {
    padding-top: 24px;
  }

  .pr-24 {
    padding-right: 24px;
  }

  .pb-24 {
    padding-bottom: 24px;
  }

  .pl-24 {
    padding-left: 24px;
  }

  .px-24 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .pa-24 {
    padding: 24px;
  }

  .mt-24 {
    margin-top: 24px;
  }

  .mr-24 {
    margin-right: 24px;
  }

  .mb-24 {
    margin-bottom: 24px;
  }

  .ml-24 {
    margin-left: 24px;
  }

  .mx-24 {
    margin-inline: 24px 24px;
  }

  .my-24 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .ma-24 {
    margin: 24px;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
