:root {
  --acv-color-success: var(--acv-color-status-success-secondary);
  --acv-color-success-background: var(--acv-color-status-success-primary);
  --acv-color-success-border: var(--acv-color-status-success-secondary);
  --acv-color-success-text: var(--acv-color-text-status-success);
  --acv-color-danger: var(--acv-color-status-danger-secondary);
  --acv-color-danger-background: var(--acv-color-status-danger-primary);
  --acv-color-danger-border: var(--acv-color-status-danger-secondary);
  --acv-color-danger-text: var(--acv-color-text-status-danger);
  --acv-color-critical: var(--acv-color-status-critical-secondary);
  --acv-color-critical-background: var(--acv-color-status-critical-primary);
  --acv-color-critical-border: var(--acv-color-status-critical-secondary);
  --acv-color-critical-text: var(--acv-color-text-status-critical);
  --acv-color-warning: var(--acv-color-status-warning-secondary);
  --acv-color-warning-background: var(--acv-color-status-warning-primary);
  --acv-color-warning-border: var(--acv-color-status-warning-secondary);
  --acv-color-warning-text: var(--acv-color-text-status-warning);
  --acv-color-neutral: var(--acv-color-status-neutral-secondary);
  --acv-color-neutral-background: var(--acv-color-status-neutral-primary);
  --acv-color-neutral-border: var(--acv-color-status-neutral-secondary);
  --acv-color-neutral-text: var(--acv-color-text-status-neutral);
  --acv-color-info: var(--acv-color-status-info-secondary);
  --acv-color-info-background: var(--acv-color-status-info-primary);
  --acv-color-info-border: var(--acv-color-status-info-secondary);
  --acv-color-info-text: var(--acv-color-text-status-info);
}
