:root {
  /* Chart colors */
  --acv-color-chart-blue: hsl(215deg 68% 46%);
  --acv-color-chart-brown: hsl(30deg 51% 45%);
  --acv-color-chart-critical: hsl(29deg 100% 53%);
  --acv-color-chart-danger: hsl(0deg 81% 57%);
  --acv-color-chart-green: hsl(177deg 91% 34%);
  --acv-color-chart-gray: hsl(216deg 8% 61%);
  --acv-color-chart-info: hsl(214deg 80% 58%);
  --acv-color-chart-light-blue: hsl(205deg 86% 75%);
  --acv-color-chart-neutral: hsl(216deg 8% 88%);
  --acv-color-chart-purple: hsl(282deg 84% 71%);
  --acv-color-chart-red: hsl(0deg 84% 65%);
  --acv-color-chart-success: hsl(75deg 68% 45%);
  --acv-color-chart-transparent: hsl(205deg 86% 75% / 0.5);
  --acv-color-chart-turquoise: hsl(196deg 77% 51%);
  --acv-color-chart-violet: hsl(261deg 24% 47%);
  --acv-color-chart-warning: hsl(45deg 100% 51%);
  --acv-color-chart-yellow: hsl(48deg 77% 61%);
  --acv-color-chart-dark: hsl(215deg 30% 20% / 0.9);

  /* Blue */
  --acv-color-data-blue: var(--acv-color-chart-blue);
  --acv-color-data-blue-text: var(--acv-color-chart-blue);
  --acv-color-data-blue-line: hsl(215deg 68% 66%);
  --acv-color-data-blue-bg: hsl(215deg 68% 86%);

  /* Brown */
  --acv-color-data-brown: hsl(30deg 51% 45%);
  --acv-color-data-brown-text: hsl(30deg 51% 45%);
  --acv-color-data-brown-line: hsl(30deg 51% 65%);
  --acv-color-data-brown-bg: hsl(30deg 51% 85%);

  /* Critical */
  --acv-color-data-critical: hsl(29deg 100% 53%);
  --acv-color-data-text: hsl(29deg 100% 53%);
  --acv-color-data-line: hsl(29deg 100% 73%);
  --acv-color-data-bg: hsl(29deg 100% 93%);

  /* Danger */
  --acv-color-data-danger: var(--acv-color-chart-danger);
  --acv-color-data-danger-text: var(--acv-color-data-danger);
  --acv-color-data-danger-line: hsl(
    from var(--acv-color-data-danger) h s calc(l + 20%)
  );
  --acv-color-data-danger-bg: hsl(
    from var(--acv-color-data-danger) h s calc(l + 40%)
  );
}
