:where(html) {
  --acv-color-tertiary-darkest: hsl(
    from var(--acv-color-brand-tertiary) calc(h + 1) calc(s - 6) calc(l - 25)
  );
  --acv-color-tertiary-darker: hsl(
    from var(--acv-color-brand-tertiary) calc(h + 1) calc(s - 4) calc(l - 20)
  );
  --acv-color-tertiary-dark: hsl(
    from var(--acv-color-brand-tertiary) calc(h + 1) calc(s - 2) calc(l - 12)
  );
  --acv-color-tertiary: var(--acv-color-brand-tertiary, hsl(218deg 57% 97%));
  --acv-color-tertiary-light: hsl(
    from var(--acv-color-tertiary) calc(h - 1) calc(s + 2) calc(l + 18)
  );
  --acv-color-tertiary-lighter: hsl(
    from var(--acv-color-tertiary) calc(h - 2) calc(s + 4) calc(l + 36)
  );
  --acv-color-tertiary-lightest: hsl(
    from var(--acv-color-tertiary) calc(h - 3) calc(s + 5) calc(l + 49)
  );
}
