:where(html) {
  --acv-color-purple-darkest: hsl(292deg 56% 33%);
  --acv-color-purple-darker: hsl(292deg 58% 38%);
  --acv-color-purple-dark: hsl(292deg 60% 46%);
  --acv-color-purple: hsl(291deg 62% 58%);
  --acv-color-purple-light: hsl(290deg 64% 76%);
  --acv-color-purple-lighter: hsl(289deg 66% 88%);
  --acv-color-purple-lightest: hsl(288deg 67% 98%);
}
