@layer acv-base {
  :root {
    --acv-toolbar-color: var(--acv-color-text-primary);
    --acv-toolbar-min-height: 50px;
    --acv-toolbar-padding: 0 12px;
    --acv-toolbar-inset-size: 58px;
    --acv-toolbar-title-font-size: 21px;
    --acv-toolbar-title-font-weight: normal;
    --acv-toolbar-title-letter-spacing: 0.01em;
    --acv-toolbar-title-padding: 0 12px;
  }
}
