@layer acv-reset {
  :where(:root) {
    --acv-outline-width: 1px;
    --acv-border-large: var(--acv-base-border-width-02, 2px);
    --acv-border-regular: var(--acv-base-border-width-01, 1px);
    --acv-border-x-large: var(--acv-base-border-width-03, 3px);
    --acv-font-line-height-large: var(--acv-base-font-line-height-40, 40px);
    --acv-font-line-height-medium: var(--acv-base-font-line-height-32, 32px);
    --acv-font-line-height-regular: var(--acv-base-font-line-height-24, 24px);
    --acv-font-line-height-small: var(--acv-base-font-line-height-20, 20px);
    --acv-font-line-height-x-large: var(--acv-base-font-line-height-48, 48px);
    --acv-font-line-height-x-small: var(--acv-base-font-line-height-16, 16px);
    --acv-font-size-accent: var(--acv-base-font-size-16, 16px);
    --acv-font-size-body: var(--acv-base-font-size-14, 14px);
    --acv-font-size-caption: var(--acv-base-font-size-12, 12px);
    --acv-font-size-display: var(--acv-base-font-size-32, 32px);
    --acv-font-size-fineprint: var(--acv-base-font-size-10, 10px);
    --acv-font-size-lead: var(--acv-base-font-size-18, 18px);
    --acv-font-size-note: var(--acv-base-font-size-11, 11px);
    --acv-font-size-title: var(--acv-base-font-size-24, 24px);
    --acv-font-weight-accent: var(--acv-base-font-weight-500, 500);
    --acv-font-weight-regular: var(--acv-base-font-weight-400, 400);
    --acv-font-weight-strong: var(--acv-base-font-weight-600, 600);
    --acv-font-weight-x-strong: var(--acv-base-font-weight-700, 700);
    --acv-height-large: var(--acv-base-height-40, 40px);
    --acv-height-regular: var(--acv-base-height-32, 32px);
    --acv-height-small: var(--acv-base-height-24, 24px);
    --acv-height-x-large: var(--acv-base-height-48, 48px);
    --acv-height-x-small: var(--acv-base-height-16, 16px);
    --acv-radius-circle: var(--acv-base-radius-circle, 999px);
    --acv-radius-large: var(--acv-base-radius-08, 8px);
    --acv-radius-medium: var(--acv-base-radius-06, 6px);
    --acv-radius-regular: var(--acv-base-radius-04, 4px);
    --acv-radius-small: var(--acv-base-radius-02, 2px);
    --acv-radius-zero: var(--acv-base-radius-00, 0px);
    --acv-shadow-blur-regular: var(--acv-base-shadow-blur-20, 20px);
    --acv-shadow-blur-small: var(--acv-base-shadow-blur-08, 4px);
    --acv-shadow-position-y-regular: var(--acv-base-shadow-position-y-08, 8px);
    --acv-shadow-position-y-small: var(--acv-base-shadow-position-y-04, 4px);
    --acv-spacing-large: var(--acv-base-spacing-24, 24px);
    --acv-spacing-regular: var(--acv-base-spacing-16, 16px);
    --acv-spacing-small: var(--acv-base-spacing-08, 8px);
    --acv-spacing-x-large: var(--acv-base-spacing-32, 32px);
    --acv-spacing-x-regular: var(--acv-base-spacing-12, 12px);
    --acv-spacing-x-small: var(--acv-base-spacing-04, 4px);
    --acv-spacing-xx-small: var(--acv-base-spacing-02, 2px);
    --acv-spacing-zero: var(--acv-base-spacing-00, 0px);
  }
}
