:root {
  --acv-dimension-zero: 0px;
  --acv-dimension-static-size-8: 8px;
  --acv-dimension-static-size-16: 16px;
  --acv-dimension-static-size-100: 100px;
  --acv-dimension-static-size-200: 200px;
  --acv-dimension-static-size-300: 300px;
  --acv-dimension-4xs: 0.125;
  --acv-dimension-3xs: 0.25;
  --acv-dimension-2xs: 0.5;
  --acv-dimension-xs: 0.75;
  --acv-dimension-sm: 1;
  --acv-dimension-md: 1.5;
  --acv-dimension-lg: 2;
  --acv-dimension-xl: 3;
  --acv-dimension-2xl: 4.5;
  --acv-dimension-3xl: 6;
  --acv-dimension-4xl: 15;
  --acv-dimension-height-4xs: 8px;
  --acv-dimension-height-3xs: 16px;
  --acv-dimension-height-2xs: 24px;
  --acv-dimension-height-xs: 32px;
  --acv-dimension-height-sm: 48px;
  --acv-dimension-height-md: 64px;
  --acv-dimension-height-lg: 72px;
  --acv-dimension-height-xl: 96px;
  --acv-dimension-width-3xs: 320px;
  --acv-dimension-width-2xs: 480px;
  --acv-dimension-width-xs: 512px;
  --acv-dimension-width-sm: 768px;
  --acv-dimension-width-md: 1024px;
  --acv-dimension-width-lg: 1280px;
  --acv-dimension-width-xl: 1440px;
  --acv-section-margin: 0 0 calc(var(--acv-spacing-md) * 16px) 0;
}
