:where(html) {
  --gradient-1: linear-gradient(
    to bottom right,
    hsl(260deg 100% 18%),
    hsl(297deg 100% 19%),
    hsl(317deg 99% 27%),
    hsl(335deg 65% 41%),
    hsl(351deg 55% 54%),
    hsl(7deg 69% 62%),
    hsl(20deg 86% 66%),
    hsl(30deg 100% 71%)
  );
  --gradient-2: linear-gradient(
    to bottom right,
    hsl(287deg 100% 18%),
    hsl(275deg 100% 44%),
    hsl(263deg 100% 71%)
  );
  --gradient-3: radial-gradient(
      circle at top right,
      hsl(180deg 100% 50%),
      hsl(180deg 100% 50% / 0)
    ),
    radial-gradient(
      circle at bottom left,
      hsl(328deg 100% 54%),
      hsl(328deg 100% 54% / 0)
    );
  --gradient-4: linear-gradient(
    to bottom right,
    hsl(159deg 100% 48%),
    hsl(187deg 100% 48%)
  );
  --gradient-5: conic-gradient(
    from -270deg at 75% 110%,
    hsl(300deg 100% 50%),
    hsl(40deg 100% 97%)
  );
  --gradient-6: conic-gradient(
    from -90deg at top left,
    hsl(0deg 0% 0%),
    hsl(0deg 0% 100%)
  );
  --gradient-7: linear-gradient(
    to bottom right,
    hsl(200deg 80% 69%),
    hsl(207deg 100% 28%)
  );
  --gradient-8: conic-gradient(
    from 90deg at 50% 0%,
    hsl(0deg 0% 7%),
    50%,
    hsl(0deg 0% 13%),
    hsl(0deg 0% 7%)
  );
  --gradient-9: conic-gradient(
    from 0.5turn at bottom center,
    hsl(195deg 53% 79%),
    hsl(0deg 0% 100%)
  );
  --gradient-10: conic-gradient(
    from 90deg at 40% -25%,
    hsl(51deg 100% 50%),
    hsl(38deg 98% 49%),
    hsl(25deg 94% 48%),
    hsl(13deg 92% 47%),
    hsl(0deg 89% 46%),
    hsl(348deg 86% 45%),
    hsl(335deg 84% 44%),
    hsl(322deg 81% 43%),
    hsl(335deg 84% 44%),
    hsl(348deg 86% 45%),
    hsl(0deg 89% 46%),
    hsl(25deg 94% 48%),
    hsl(38deg 98% 49%),
    hsl(51deg 100% 50%),
    hsl(51deg 100% 50%),
    hsl(51deg 100% 50%)
  );
  --gradient-11: conic-gradient(
    at bottom left,
    hsl(328deg 100% 54%),
    hsl(180deg 100% 50%)
  );
  --gradient-12: conic-gradient(
    from 90deg at 25% -10%,
    hsl(16deg 100% 50%),
    hsl(71deg 88% 60%),
    hsl(125deg 77% 71%),
    hsl(180deg 65% 81%),
    hsl(125deg 77% 71%)
  );
  --gradient-13: radial-gradient(
    circle at 50% 200%,
    hsl(239deg 100% 13%),
    hsl(267deg 100% 26%),
    hsl(295deg 100% 38%),
    hsl(323deg 100% 51%),
    hsl(351deg 100% 64%),
    hsl(19deg 100% 76%),
    hsl(47deg 100% 89%)
  );
  --gradient-14: conic-gradient(
    at top right,
    hsl(120deg 100% 50%),
    hsl(180deg 100% 50%)
  );
  --gradient-15: linear-gradient(
    to bottom right,
    hsl(228deg 96% 89%),
    hsl(0deg 96% 89%),
    hsl(48deg 96% 89%)
  );
  --gradient-16: radial-gradient(
    circle at 50% -250%,
    hsl(217deg 19% 27%),
    hsl(221deg 39% 11%),
    hsl(0deg 0% 0%)
  );
  --gradient-17: conic-gradient(
    from -90deg at 50% -25%,
    hsl(240deg 100% 50%),
    hsl(271deg 76% 53%)
  );
  --gradient-18: linear-gradient(
      0deg,
      hsla(0deg 100% 50% / 0.8),
      hsla(0deg 100% 50% / 0) 75%
    ),
    linear-gradient(
      60deg,
      hsla(60deg 100% 50% / 0.8),
      hsla(60deg 100% 50% / 0) 75%
    ),
    linear-gradient(
      120deg,
      hsla(120deg 100% 50% / 0.8),
      hsla(120deg 100% 50% / 0) 75%
    ),
    linear-gradient(
      180deg,
      hsla(180deg 100% 50% / 0.8),
      hsla(180deg 100% 50% / 0) 75%
    ),
    linear-gradient(
      240deg,
      hsla(240deg 100% 50% / 0.8),
      hsla(240deg 100% 50% / 0) 75%
    ),
    linear-gradient(
      300deg,
      hsla(300deg 100% 50% / 0.8),
      hsla(300deg 100% 50% / 0) 75%
    );
  --gradient-19: linear-gradient(
    to bottom right,
    hsl(50deg 100% 67%),
    hsl(30deg 100% 66%)
  );
  --gradient-20: conic-gradient(
    from -135deg at -10% center,
    hsl(39deg 100% 50%),
    hsl(25deg 100% 54%),
    hsl(11deg 100% 58%),
    hsl(358deg 100% 62%),
    hsl(344deg 100% 66%),
    hsl(330deg 100% 71%)
  );
  --gradient-21: conic-gradient(
    from -90deg at 25% 115%,
    hsl(0deg 100% 50%),
    hsl(336deg 100% 50%),
    hsl(312deg 100% 50%),
    hsl(288deg 100% 50%),
    hsl(264deg 100% 50%),
    hsl(240deg 100% 50%),
    hsl(240deg 100% 50%),
    hsl(240deg 100% 50%),
    hsl(240deg 100% 50%)
  );
  --gradient-22: linear-gradient(
    to bottom right,
    hsl(229deg 52% 79%),
    hsl(169deg 97% 76%)
  );
  --gradient-23: linear-gradient(
    to bottom right,
    hsl(202deg 17% 39%),
    hsl(231deg 28% 22%)
  );
  --gradient-24: conic-gradient(
    from 0.5turn at 0% 0%,
    hsl(156deg 100% 38%),
    10%,
    hsl(218deg 100% 75%),
    90%,
    hsl(156deg 100% 38%)
  );
  --gradient-25: conic-gradient(
    at 125% 50%,
    hsl(264deg 87% 76%),
    hsl(349deg 100% 74%),
    hsl(48deg 100% 53%),
    hsl(349deg 100% 74%),
    hsl(264deg 87% 76%)
  );
  --gradient-26: linear-gradient(
    to bottom right,
    hsl(241deg 75% 76%),
    hsl(345deg 87% 88%)
  );
  --gradient-27: conic-gradient(
    from 0.5turn at bottom left,
    hsl(328deg 100% 54%),
    hsl(270deg 50% 40%)
  );
  --gradient-28: conic-gradient(
    from -90deg at 50% 105%,
    hsl(0deg 0% 100%),
    hsl(302deg 59% 65%)
  );
  --gradient-29: radial-gradient(
      circle at top right,
      hsl(250deg 100% 85%),
      hsl(250deg 100% 85% / 0)
    ),
    radial-gradient(
      circle at bottom left,
      hsl(220deg 90% 75%),
      hsl(220deg 90% 75% / 0)
    );
  --gradient-30: radial-gradient(
      circle at top right,
      hsl(150deg 100% 50%),
      hsl(150deg 100% 50% / 0)
    ),
    radial-gradient(
      circle at bottom left,
      hsl(150deg 100% 84%),
      hsl(150deg 100% 84% / 0)
    );
  --noise-1: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.005' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-2: url("data:image/svg+xml,%3Csvg viewBox='0 0 300 300' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.05' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-3: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-4: url("data:image/svg+xml,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-5: url("data:image/svg+xml,%3Csvg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --noise-filter-1: contrast(300%) brightness(100%);
  --noise-filter-2: contrast(200%) brightness(150%);
  --noise-filter-3: contrast(200%) brightness(250%);
  --noise-filter-4: contrast(200%) brightness(500%);
  --noise-filter-5: contrast(200%) brightness(1000%);
}
