:root {
  @media (prefers-color-scheme: dark) {
    --acv-os-dark: true;
  }

  @media (prefers-color-scheme: light) {
    --acv-os-light: true;
  }

  @media (prefers-contrast: more) {
    --acv-high-contrast: true;
  }

  @media (prefers-contrast: less) {
    --acv-low-contrast: true;
  }

  @media (inverted-colors: inverted) {
    --acv-inverted-colors: true;
  }

  @media (forced-colors: active) {
    --acv-forced-colors: true;
  }

  @media (orientation: portrait) {
    --acv-portrait: true;
  }

  @media (orientation: landscape) {
    --acv-landscape: true;
  }
}
