:root {
  /* Named colors */
  --acv-color-white: var(
    --acv-color-text-inversed-primary,
    hsl(0deg 100% 100%)
  );
  --acv-color-black: var(--acv-color-text-primary, hsl(230deg 13% 9%));
  --acv-color-transparent: hsl(0deg 0% 100% / 0);
  --acv-color-red: hsl(0deg 81% 57%);
  --acv-color-pink: hsl(340deg 82% 52%);
  --acv-color-purple: hsl(291deg 64% 42%);
  --acv-color-deep-purple: hsl(262deg 52% 47%);
  --acv-color-indigo: hsl(231deg 48% 48%);
  --acv-color-blue: hsl(218deg 57% 46%);
  --acv-color-dodge-blue: hsl(214deg 80% 58%);
  --acv-color-light-blue: hsl(195deg 98% 58%);
  --acv-color-cyan: hsl(187deg 100% 42%);
  --acv-color-teal: hsl(174deg 100% 29%);
  --acv-color-green: hsl(122deg 39% 49%);
  --acv-color-light-green: hsl(75deg 68% 45%);
  --acv-color-lime: hsl(66deg 70% 54%);
  --acv-color-yellow: hsl(52deg 100% 50%);
  --acv-color-amber: hsl(45deg 100% 51%);
  --acv-color-orange: hsl(29deg 100% 53%);
  --acv-color-deep-orange: hsl(14deg 100% 57%);
  --acv-color-brown: hsl(16deg 25% 38%);
  --acv-color-gray: hsl(0deg 0% 62%);
  --acv-color-blue-gray: hsl(200deg 18% 46%);

  /* Shades of black in order to lightness */
  --acv-color-whitesmoke: hsl(from var(--acv-color-black) h s calc(l + 87));
  --acv-color-gainsboro: hsl(from var(--acv-color-black) h s calc(l + 77));
  --acv-color-lightgray: hsl(from var(--acv-color-black) h s calc(l + 74));
  --acv-color-darkgray: hsl(from var(--acv-color-black) h s calc(l + 57));

  /* --acv-color-gray: hsl(from var(--acv-color-black) h s calc(l + 41)); */
  --acv-color-dimgray: hsl(from var(--acv-color-black) h s calc(l + 32));

  /* Shades of primary color */
  --acv-color-primary: var(--acv-color-brand-primary);
  --acv-color-primary-darkest: hsl(
    from var(--acv-color-primary) h s calc(l - 30)
  );
  --acv-color-primary-darker: hsl(
    from var(--acv-color-primary) h s calc(l - 20)
  );
  --acv-color-primary-dark: hsl(from var(--acv-color-primary) h s calc(l - 10));
  --acv-color-primary-light: hsl(
    from var(--acv-color-primary) h s calc(l + 10)
  );
  --acv-color-primary-lighter: hsl(
    from var(--acv-color-primary) h s calc(l + 20)
  );
  --acv-color-primary-lightest: hsl(
    from var(--acv-color-primary) h s calc(l + 30)
  );
  --acv-color-primary-hover: var(
    --acv-color-button-hover-primary,
    var(--acv-color-primary-dark)
  );
  --acv-color-primary-active: var(
    --acv-color-button-active-primary,
    var(--acv-color-primary-dark)
  );
  --acv-color-primary-muted: var(--acv-color-primary-darkest);
  --acv-color-primary-text: var(--acv-color-button-label-inversed-primary);

  /* Shades of secondary color */
  --acv-color-secondary: var(--acv-color-brand-secondary);
  --acv-color-secondary-calc: hsl(
    from var(--acv-color-primary) calc(h + 3) calc(s - 11) calc(l + 51)
  );
  --acv-color-secondary-darkest: hsl(
    from var(--acv-color-secondary) h s calc(l - 30)
  );
  --acv-color-secondary-darker: hsl(
    from var(--acv-color-secondary) h s calc(l - 20)
  );
  --acv-color-secondary-dark: hsl(
    from var(--acv-color-secondary) h s calc(l - 10)
  );
  --acv-color-secondary-light: hsl(
    from var(--acv-color-secondary) h s calc(l + 15)
  );
  --acv-color-secondary-lighter: hsl(
    from var(--acv-color-secondary) h s calc(l + 35)
  );
  --acv-color-secondary-lightest: hsl(
    from var(--acv-color-secondary) h s calc(l + 55)
  );
  --acv-color-secondary-hover: var(
    --acv-color-button-hover-secondary,
    hsl(from var(--acv-color-secondary) calc(h - 4) s calc(l - 2))
  );
  --acv-color-secondary-active: var(
    --acv-color-button-active-secondary,
    hsl(from var(--acv-color-secondary) calc(h - 3) calc(s - 1) calc(l - 8))
  );
  --acv-color-secondary-muted: var(--acv-color-primary-lightest);
  --acv-color-secondary-text: var(--acv-color-text-primary);

  /* Shades of tertiary color */
  --acv-color-tertiary: var(--acv-color-brand-tertiary);
  --acv-color-inverted: var(--acv-color-button-label-inversed-primary);

  /* Shades of red color */
  --acv-color-red-darkest: hsl(from var(--acv-color-red) h s calc(l - 30));
  --acv-color-red-darker: hsl(from var(--acv-color-red) h s calc(l - 20));
  --acv-color-red-dark: hsl(from var(--acv-color-red) h s calc(l - 10));
  --acv-color-red-light: hsl(from var(--acv-color-red) h s calc(l + 10));
  --acv-color-red-lighter: hsl(from var(--acv-color-red) h s calc(l + 20));
  --acv-color-red-lightest: hsl(from var(--acv-color-red) h s calc(l + 30));
  --acv-color-red-hover: hsl(
    from var(--acv-color-red) calc(h - 4) s calc(l - 2)
  );
  --acv-color-red-active: hsl(
    from var(--acv-color-red) calc(h - 3) calc(s - 1) calc(l - 8)
  );
  --acv-color-red-muted: var(--acv-color-red-darkest);
  --acv-color-red-text: var(--acv-color-white);

  /* Shades of orange color */
  --acv-color-orange-darkest: hsl(
    from var(--acv-color-orange) h s calc(l - 30)
  );
  --acv-color-orange-darker: hsl(from var(--acv-color-orange) h s calc(l - 20));
  --acv-color-orange-dark: hsl(from var(--acv-color-orange) h s calc(l - 10));
  --acv-color-orange-light: hsl(from var(--acv-color-orange) h s calc(l + 10));
  --acv-color-orange-lighter: hsl(
    from var(--acv-color-orange) h s calc(l + 20)
  );
  --acv-color-orange-lightest: hsl(
    from var(--acv-color-orange) h s calc(l + 30)
  );

  /* Shades of amber color */
  --acv-color-amber-darkest: hsl(from var(--acv-color-amber) h s calc(l - 30));
  --acv-color-amber-darker: hsl(from var(--acv-color-amber) h s calc(l - 20));
  --acv-color-amber-dark: hsl(from var(--acv-color-amber) h s calc(l - 10));
  --acv-color-amber-light: hsl(from var(--acv-color-amber) h s calc(l + 10));
  --acv-color-amber-lighter: hsl(from var(--acv-color-amber) h s calc(l + 20));
  --acv-color-amber-lightest: hsl(from var(--acv-color-amber) h s calc(l + 30));

  /* Shades of blue gray color */
  --acv-color-blue-gray-darkest: hsl(
    from var(--acv-color-blue-gray) h s calc(l - 30)
  );
  --acv-color-blue-gray-darker: hsl(
    from var(--acv-color-blue-gray) h s calc(l - 20)
  );
  --acv-color-blue-gray-dark: hsl(
    from var(--acv-color-blue-gray) h s calc(l - 10)
  );
  --acv-color-blue-gray-light: hsl(
    from var(--acv-color-blue-gray) h s calc(l + 10)
  );
  --acv-color-blue-gray-lighter: hsl(
    from var(--acv-color-blue-gray) h s calc(l + 20)
  );
  --acv-color-blue-gray-lightest: hsl(
    from var(--acv-color-blue-gray) h s calc(l + 30)
  );

  /* Shades of indigo color */
  --acv-color-indigo-darkest: hsl(
    from var(--acv-color-indigo) h s calc(l - 30)
  );
  --acv-color-indigo-darker: hsl(from var(--acv-color-indigo) h s calc(l - 20));
  --acv-color-indigo-dark: hsl(from var(--acv-color-indigo) h s calc(l - 10));
  --acv-color-indigo-light: hsl(from var(--acv-color-indigo) h s calc(l + 10));
  --acv-color-indigo-lighter: hsl(
    from var(--acv-color-indigo) h s calc(l + 20)
  );
  --acv-color-indigo-lightest: hsl(
    from var(--acv-color-indigo) h s calc(l + 30)
  );

  /* Shades of dodge blue color */
  --acv-color-dodge-blue-darkest: hsl(
    from var(--acv-color-dodge-blue) h s calc(l - 30)
  );
  --acv-color-dodge-blue-darker: hsl(
    from var(--acv-color-dodge-blue) h s calc(l - 20)
  );
  --acv-color-dodge-blue-dark: hsl(
    from var(--acv-color-dodge-blue) h s calc(l - 10)
  );
  --acv-color-dodge-blue-light: hsl(
    from var(--acv-color-dodge-blue) h s calc(l + 10)
  );
  --acv-color-dodge-blue-lighter: hsl(
    from var(--acv-color-dodge-blue) h s calc(l + 20)
  );
  --acv-color-dodge-blue-lightest: hsl(
    from var(--acv-color-dodge-blue) h s calc(l + 30)
  );

  /* Shades of light blue color */
  --acv-color-light-blue-darkest: hsl(
    from var(--acv-color-light-blue) h s calc(l - 30)
  );
  --acv-color-light-blue-darker: hsl(
    from var(--acv-color-light-blue) h s calc(l - 20)
  );
  --acv-color-light-blue-dark: hsl(
    from var(--acv-color-light-blue) h s calc(l - 10)
  );
  --acv-color-light-blue-light: hsl(
    from var(--acv-color-light-blue) h s calc(l + 10)
  );
  --acv-color-light-blue-lighter: hsl(
    from var(--acv-color-light-blue) h s calc(l + 20)
  );
  --acv-color-light-blue-lightest: hsl(
    from var(--acv-color-light-blue) h s calc(l + 30)
  );

  /* Shades of light green color */
  --acv-color-light-green-darkest: hsl(
    from var(--acv-color-light-green) h s calc(l - 30)
  );
  --acv-color-light-green-darker: hsl(
    from var(--acv-color-light-green) h s calc(l - 20)
  );
  --acv-color-light-green-dark: hsl(
    from var(--acv-color-light-green) h s calc(l - 10)
  );
  --acv-color-light-green-light: hsl(
    from var(--acv-color-light-green) h s calc(l + 10)
  );
  --acv-color-light-green-lighter: hsl(
    from var(--acv-color-light-green) h s calc(l + 20)
  );
  --acv-color-light-green-lightest: hsl(
    from var(--acv-color-light-green) h s calc(l + 30)
  );

  /* Shades of blue color */
  --acv-color-blue-darkest: hsl(from var(--acv-color-blue) h s calc(l - 30));
  --acv-color-blue-darker: hsl(from var(--acv-color-blue) h s calc(l - 20));
  --acv-color-blue-dark: hsl(from var(--acv-color-blue) h s calc(l - 10));
  --acv-color-blue-light: hsl(from var(--acv-color-blue) h s calc(l + 10));
  --acv-color-blue-lighter: hsl(from var(--acv-color-blue) h s calc(l + 20));
  --acv-color-blue-lightest: hsl(from var(--acv-color-blue) h s calc(l + 30));

  /* Shades of gray color */
  --acv-color-gray-darkest: hsl(from var(--acv-color-gray) h s calc(l - 30));
  --acv-color-gray-darker: hsl(from var(--acv-color-gray) h s calc(l - 20));
  --acv-color-gray-dark: hsl(from var(--acv-color-gray) h s calc(l - 10));
  --acv-color-gray-light: hsl(from var(--acv-color-gray) h s calc(l + 10));
  --acv-color-gray-lighter: hsl(from var(--acv-color-gray) h s calc(l + 20));
  --acv-color-gray-lightest: hsl(from var(--acv-color-gray) h s calc(l + 30));

  /* Shades of white */
  --acv-color-white-100: var(--acv-color-white);
  --acv-color-white-90: hsl(from var(--acv-color-white) h s calc(l - 10));
  --acv-color-white-80: hsl(from var(--acv-color-white) h s calc(l - 20));
  --acv-color-white-70: hsl(from var(--acv-color-white) h s calc(l - 30));
  --acv-color-white-60: hsl(from var(--acv-color-white) h s calc(l - 40));
  --acv-color-white-50: hsl(from var(--acv-color-white) h s calc(l - 50));
  --acv-color-white-40: hsl(from var(--acv-color-white) h s calc(l - 60));
  --acv-color-white-30: hsl(from var(--acv-color-white) h s calc(l - 70));
  --acv-color-white-20: hsl(from var(--acv-color-white) h s calc(l - 80));
  --acv-color-white-10: hsl(from var(--acv-color-white) h s calc(l - 90));
  --acv-color-white-0: var(--acv-color-black);

  /* Status aliases */
  --acv-color-success: var(--acv-color-status-success-secondary);
  --acv-color-success-background: var(--acv-color-status-success-primary);
  --acv-color-success-border: var(--acv-color-status-success-secondary);
  --acv-color-success-text: var(--acv-color-text-status-success);
  --acv-color-danger: var(--acv-color-status-danger-secondary);
  --acv-color-danger-background: var(--acv-color-status-danger-primary);
  --acv-color-danger-border: var(--acv-color-status-danger-secondary);
  --acv-color-danger-text: var(--acv-color-text-status-danger);
  --acv-color-critical: var(--acv-color-status-critical-secondary);
  --acv-color-critical-background: var(--acv-color-status-critical-primary);
  --acv-color-critical-border: var(--acv-color-status-critical-secondary);
  --acv-color-critical-text: var(--acv-color-text-status-critical);
  --acv-color-warning: var(--acv-color-status-warning-secondary);
  --acv-color-warning-background: var(--acv-color-status-warning-primary);
  --acv-color-warning-border: var(--acv-color-status-warning-secondary);
  --acv-color-warning-text: var(--acv-color-text-status-warning);
  --acv-color-neutral: var(--acv-color-status-neutral-secondary);
  --acv-color-neutral-background: var(--acv-color-status-neutral-primary);
  --acv-color-neutral-border: var(--acv-color-status-neutral-secondary);
  --acv-color-neutral-text: var(--acv-color-text-status-neutral);
  --acv-color-info: var(--acv-color-status-info-secondary);
  --acv-color-info-background: var(--acv-color-status-info-primary);
  --acv-color-info-border: var(--acv-color-status-info-secondary);
  --acv-color-info-text: var(--acv-color-text-status-info);

  /* State aliases */
  --acv-color-disabled: var(--acv-color-button-disabled);
  --acv-color-disabled-border: var(--acv-color-secondary-muted);
  --acv-color-disabled-text: var(--acv-color-text-disabled);
  --acv-color-accent: var(--acv-color-button-active-secondary);
  --acv-color-active: var(--acv-color-button-active-primary);
  --acv-color-focus: var(--acv-color-button-focus);
  --acv-color-highlight: var(
    --acv-color-text-highlight-result,
    hsl(52deg 100% 50%)
  );
  --acv-color-hover: var(--acv-color-button-hover-primary);
}
