:where(html) {
  --acv-size--8px: -8px;
  --acv-size--4px: -4px;
  --acv-size-4px: 4px;
  --acv-size-8px: 8px;
  --acv-size-16px: 16px;
  --acv-size-20px: 20px;
  --acv-size-24px: 24px;
  --acv-size-28px: 28px;
  --acv-size-32px: 32px;
  --acv-size-48px: 48px;
  --acv-size-64px: 64px;
  --acv-size-72px: 72px;
  --acv-size-80px: 80px;
  --acv-size-96px: 96px;
  --acv-size-120px: 120px;
  --acv-size-160px: 160px;
  --acv-size-240px: 240px;
  --acv-size-320px: 320px;
  --acv-size-480px: 480px;
  --acv-size-fluid-1: clamp(0.5rem, 1vw, 1rem);
  --acv-size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --acv-size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --acv-size-fluid-4: clamp(2rem, 4vw, 3rem);
  --acv-size-fluid-5: clamp(4rem, 5vw, 5rem);
  --acv-size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --acv-size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --acv-size-fluid-8: clamp(10rem, 20vw, 15rem);
  --acv-size-fluid-9: clamp(15rem, 30vw, 20rem);
  --acv-size-fluid-10: clamp(20rem, 40vw, 30rem);
  --acv-size-content-20ch: 20ch;
  --acv-size-content-45ch: 45ch;
  --acv-size-content-60ch: 60ch;
  --acv-size-header-20ch: 20ch;
  --acv-size-header-25ch: 25ch;
  --acv-size-header-35ch: 35ch;
  --acv-size-xxs: 240px;
  --acv-size-xs: 360px;
  --acv-size-sm: 480px;
  --acv-size-md: 768px;
  --acv-size-lg: 1024px;
  --acv-size-xl: 1440px;
  --acv-size-xxl: 1920px;
  --acv-size-relative--05: -0.5rem;
  --acv-size-relative--025: -0.25rem;
  --acv-size-relative-025: 0.25rem;
  --acv-size-relative-05: 0.5rem;
  --acv-size-relative-1: 1rem;
  --acv-size-relative-1-25: 1.25rem;
  --acv-size-relative-1-5: 1.5rem;
  --acv-size-relative-1-75: 1.75rem;
  --acv-size-relative-2: 2rem;
  --acv-size-relative-3: 3rem;
  --acv-size-relative-4: 4rem;
  --acv-size-relative-5: 5rem;
  --acv-size-relative-7-5: 7.5rem;
  --acv-size-relative-10: 10rem;
  --acv-size-relative-15: 15rem;
  --acv-size-relative-20: 20rem;
  --acv-size-relative-30: 30rem;
}
