:root {
  --acv-spacing-base: 16px;
  --acv-spacing-x-base: var(--acv-spacing-base);
  --acv-spacing-y-base: var(--acv-spacing-base);
  --acv-spacing-4xs: calc(
    var(--acv-dimension-4xs) * var(--acv-spacing-base)
  ); /* 2px */
  --acv-spacing-3xs: calc(
    var(--acv-dimension-3xs) * var(--acv-spacing-base)
  ); /* 4px */
  --acv-spacing-2xs: calc(
    var(--acv-dimension-2xs) * var(--acv-spacing-base)
  ); /* 8px */
  --acv-spacing-xs: calc(
    var(--acv-dimension-xs) * var(--acv-spacing-base)
  ); /* 12px */
  --acv-spacing-sm: calc(
    var(--acv-dimension-sm) * var(--acv-spacing-base)
  ); /* 16px  */
  --acv-spacing-md: calc(
    var(--acv-dimension-md) * var(--acv-spacing-base)
  ); /* 24px */
  --acv-spacing-lg: calc(
    var(--acv-dimension-lg) * var(--acv-spacing-base)
  ); /* 32px */
  --acv-spacing-xl: calc(
    var(--acv-dimension-xl) * var(--acv-spacing-base)
  ); /* 48px */
  --acv-spacing-2xl: calc(
    var(--acv-dimension-2xl) * var(--acv-spacing-base)
  ); /* 72px */
  --acv-spacing-3xl: calc(
    var(--acv-dimension-3xl) * var(--acv-spacing-base)
  ); /* 96px */
  --acv-spacing-4xl: calc(
    var(--acv-dimension-4xl) * var(--acv-spacing-base)
  ); /* 240px */
}
