:root {
  --ui-spacing-inner-00: 0;
  --ui-spacing-inner-01: 4;
  --ui-spacing-inner-02: 8;
  --ui-spacing-inner-03: 12;
  --ui-spacing-inner-04: 16;
  --ui-spacing-inner-05: 20;
  --ui-spacing-inner-06: 24;
  --ui-spacing-outer-00: 0;
  --ui-spacing-outer-01: 8;
  --ui-spacing-outer-02: 16;
  --ui-radius-zero: 0;
  --ui-spacing-outer-03: 24;
  --ui-border-zero: 0;
  --ui-border-small: 1;
  --ui-border-regular: 2;
  --ui-radius-small: 2;
  --ui-spacing-outer-04: 32;
  --ui-radius-regular: 4;
  --ui-spacing-outer-05: 40;
  --ui-radius-medium: 8;
  --ui-spacing-outer-06: 48;
  --ui-radius-large: 16;
  --ui-shadow-position-zero: 0;
  --ui-shadow-position-y-small: 4;
  --ui-shadow-position-y-regular: 8;
  --ui-shadow-blur-regular: 8;
  --ui-font-family-brand: acronis-cyber;
  --ui-font-family-default: inter;
  --ui-font-family-code: jetbrains-mono;
  --ui-font-weight-regular: 400;
  --ui-font-weight-accent: 500;
  --ui-font-weight-strong: 600;
  --ui-font-size-fineprint: 10;
  --ui-font-size-note: 11;
  --ui-font-size-caption: 12;
  --ui-font-size-body: 14;
  --ui-font-size-accent: 16;
  --ui-font-size-lead: 18;
  --ui-font-size-title: 24;
  --ui-font-size-display: 32;
  --ui-font-height-regular: 16;
  --ui-font-height-medium: 20;
  --ui-font-height-large: 24;
  --ui-font-height-xlarge: 32;
  --ui-font-height-2xlarge: 40;
  --ui-font-height-3xlarge: 48;
  --ui-colors-background-brand: rgba(0.15, 0.41, 0.77, 1);
  --ui-shadow-blur-large: 20;
  --ui-colors-background-primary: rgba(1, 1, 1, 1);
  --ui-colors-background-secondary: rgba(0.96, 0.97, 0.99, 1);
  --ui-colors-background-tertiary: rgba(0.91, 0.94, 0.98, 1);
  --ui-colors-background-inversed: rgba(0.14, 0.19, 0.26, 1);
  --ui-colors-background-error: rgba(1, 0.93, 0.93, 1);
  --ui-colors-background-warning: rgba(1, 0.98, 0.9, 1);
  --ui-colors-background-success: rgba(0.96, 0.98, 0.91, 1);
  --ui-colors-border-brand: rgba(0.15, 0.41, 0.77, 1);
  --ui-colors-background-info: rgba(0.93, 0.95, 0.99, 1);
  --ui-colors-border-primary: rgba(0.87, 0.91, 0.97, 1);
  --ui-colors-border-secondary: rgba(0.84, 0.89, 0.96, 1);
  --ui-colors-border-error: rgba(0.92, 0.22, 0.22, 1);
  --ui-colors-border-warning: rgba(1, 0.76, 0.03, 1);
  --ui-colors-border-success: rgba(0.61, 0.76, 0.15, 1);
  --ui-colors-border-info: rgba(0.25, 0.55, 0.92, 1);
  --ui-colors-text-primary: rgba(0.14, 0.19, 0.26, 1);
  --ui-colors-text-secondary: rgba(0.14, 0.19, 0.26, 0.7);
  --ui-colors-text-tertiary: rgba(0.14, 0.19, 0.26, 0.4);
  --ui-colors-text-disabled: rgba(0.14, 0.19, 0.26, 0.2);
  --ui-colors-text-inversed-primary: rgba(1, 1, 1, 1);
  --ui-colors-text-inversed-secondary: rgba(1, 1, 1, 0.7);
  --ui-colors-text-fixed-primary: rgba(1, 1, 1, 1);
  --ui-colors-text-fixed-secondary: rgba(1, 1, 1, 0.7);
  --ui-colors-text-link: rgba(0.15, 0.41, 0.77, 1);
  --ui-button-padding-button-regular: var(--ui-spacing-inner-02);
  --ui-button-color: var(--ui-colors-background-brand);
  --ui-button-radius: var(--ui-radius-regular);
  --ui-button-spacing: var(--ui-spacing-inner-03);
  --ui-title: rgba(1, 1, 1, 1);
  --ui-background: var(--ui-colors-background-info);
  --ui-border: var(--ui-colors-border-info);
  --ui-h1-size: var(--ui-font-size-title);
  --ui-number-scale-by2-3xs: 2;
  --ui-number-scale-by2-2xs: 4;
  --ui-number-scale-by2-xs: 8;
  --ui-number-scale-by2-sm: 10;
  --ui-number-scale-by2-md: 12;
  --ui-number-scale-by2-lg: 14;
  --ui-number-scale-by2-xl: 16;
  --ui-number-scale-by2-2xl: 24;
  --ui-number-scale-by2-full: 999;
}
