:root {
  --vp-font-family-base: 'Open Sans';
  --vp-sidebar-width: 220px;
}

.VPPage {
  padding: 0 24px 24px;
}

.VPPage h2 {
  margin: 16px;
}

.VPNav {
  background-color: #00204d;
  height: 60px;
}

#VPContent > div > div > div.content {
  padding: 0 0 24px 0 !important;
}

.content-body {
  background-color: transparent !important;
}

.VPSidebar {
  margin-top: 60px;
  padding-top: 0 !important;
  border-right: 1px solid #e2e5e7;
  padding: 32px 10px !important;
}

.VPSidebar .group {
  width: auto;
}


.VPNavBarTitle .title {
  .VPImage {
    margin-left: -25px;
  }
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.curtain {
  display: none;
}

.VPImage {
  transform: scale(.7);
}

.VPNavBarTitle.has-sidebar .title {
  border-bottom: none;
}

#VPSidebarNav h2 {
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  color: #a5aab9;
}

.VPNavBarSearch {
  flex-grow: 0;
}

div.VPNavBarAppearance, .appearance {
  display: none !important;
}