@import 'common/variables';
@import 'common/mixins';
@import 'scrollbar';
@import 'popper';
@import 'input';

@include b(autocomplete) {
  position: relative;
  min-width: 100%;
  display: flex;

  @include when(opened) {
    .el-input__container {
      border-radius: $av-border-radius-2 $av-border-radius-2 0 0;
      border-color: $av-brand-primary;
      border-bottom-width: 0;
      box-shadow: var(--el-shadow-regular);
    }
  }

  .el-input__container {
    background-color: transparent;
  }
}

@include b(autocomplete-suggestion) {
  margin: 5px 0;
  box-shadow: var(--el-shadow-regular);
  border-width: 0 $av-border-width-sm $av-border-width-sm;
  border-style: $av-border-style-solid;
  border-color: $av-brand-primary;
  border-radius: 0 0 $av-border-radius-2 $av-border-radius-2;
  overflow: hidden;

  &.el-popper[x-placement^='bottom'] {
    margin-top: 0;
  }

  @include e(wrap) {
    max-height: 280px;
    padding: 8px 0;
    box-sizing: border-box;
    overflow: auto;
    background-color: $av-fixed-white;
  }

  @include e(list) {
    margin: 0;
    padding: 0;
  }

  @include e(no-data) {
    text-align: center;
    padding: 24px 16px;
  }

  li {
    @include utils-ellipsis;

    padding: 4px 16px;
    margin: 0;
    cursor: pointer;
    color: $av-fixed-primary;
    font-size: $av-font-size-xs;
    line-height: $av-line-height-m;
    list-style: none;

    &:hover {
      background-color: $av-brand-lightest;
    }

    &.highlighted {
      background-color: $av-brand-accent;
    }

    &.divider {
      margin-top: 6px;
      border-top: $av-border-sm $av-fixed-primary;
    }

    &.divider:last-child {
      margin-bottom: -6px;
    }
  }

  @include when(loading) {
    li {
      text-align: center;
      height: 100px;
      line-height: 100px;
      font-size: 20px;
      color: $av-brand-light;

      @include utils-vertical-center;

      &:hover {
        background-color: $av-fixed-white;
      }
    }

    .el-icon-loading {
      vertical-align: middle;
    }
  }
}
