@import 'common/variables';
@import 'common/mixins';

@include b(breadcrumb) {
  display: flex;
  max-width: 100%;

  @include e(item) {
    @include text-body;

    font-weight: $av-font-weight-bold;
    line-height: 32px;
    display: flex;
    align-items: center;
    min-width: 0;

    @include when(dropdown) {
      flex-shrink: 0;

      .el-breadcrumb__inner {
        overflow: visible;
      }
    }

    &:last-child {
      .el-breadcrumb__link:hover {
        background-color: transparent;
        cursor: text;
      }

      .el-breadcrumb__inner,
      .el-breadcrumb__inner a {
        &,
        &:hover {
          font-weight: $av-font-weight-bold;
          color: $av-fixed-primary;
        }
      }

      .el-breadcrumb__separator {
        display: none;
      }

      .el-breadcrumb__icon {
        color: $av-fixed-primary;
      }
    }
  }

  @include e(link) {
    @include link;
    @include secondary-borderless-action-state();

    display: inline-flex;
    align-items: center;
    padding: 0 8px;
    line-height: 32px;
    min-width: 0;
  }

  @include e(icon) {
    color: $av-fixed-link;
    margin-right: 8px;
  }

  @include e(inner) {
    &,
    & a {
      @include utils-ellipsis;
    }
  }

  @include e(separator) {
    color: $av-brand-light;
    margin: 0 16px;
  }

  @include e(dropdown-menu) {
    .el-breadcrumb__link {
      padding: 0;

      @include pseudo(hover) {
        background-color: transparent;
      }

      @include when(focus) {
        background-color: transparent;
      }
    }
  }

  @include when(multi-line) {
    flex-wrap: wrap;
  }
}
