@import 'common/variables';
@import 'common/mixins';

@include b(card) {
  border-width: $av-border-width-sm;
  border-style: $av-border-style-solid;
  border-radius: $av-border-radius-2;
  background-color: $av-fixed-white;
  background-clip: padding-box;
  overflow: hidden;
  color: $av-fixed-primary;
  font-size: $av-font-size-xs;

  @include m(modal) {
    box-shadow: var(--el-shadow-modal);
    border: none;
  }

  $card-border-colors: (
    border-brand-lighter: $av-brand-lighter,
    border-fixed-success: $av-fixed-success,
    border-fixed-warning: $av-fixed-warning,
    border-fixed-danger: $av-fixed-danger,
    border-fixed-critical: $av-fixed-critical
  );

  $card-background-colors: (
    background-transparent: transparent,
    background-fixed-white: $av-fixed-white
  );

  @include color-modifiers(border-color, $card-border-colors);
  @include color-modifiers(background-color, $card-background-colors);

  &.is-focus,
  &:focus {
    box-shadow: var(--el-shadow-regular);
    border-color: $av-brand-primary;
  }
}
