@import 'common/variables';
@import 'common/mixins';

@include b(carousel) {
  @include e(item) {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
  }
}
