@import 'common/variables';
@import 'common/mixins';

@include b(carousel) {
  position: relative;
  overflow: hidden;

  @include e(container) {
    position: relative;
    overflow: hidden;
    display: flex;
  }

  @include e(footer) {
    position: relative;
    height: $av-line-height-m;
  }

  @include e(arrow) {
    transition: all 200ms linear;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @include m(left) {
      left: 0;
    }

    @include m(right) {
      right: 0;
    }
  }

  @include e(indicators) {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
  }

  @include e(indicator) {
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    opacity: .5;
    width: 8px;
    height: 8px;
    background-color: $av-brand-primary;
    border-radius: 50%;
    transition: opacity .5s linear;

    &:hover {
      opacity: 1;
    }

    @include when(active) {
      opacity: 1;
    }
  }
}

.carousel-arrow-left-enter,
.carousel-arrow-left-leave-active {
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
}

.carousel-arrow-right-enter,
.carousel-arrow-right-leave-active {
  transform: translateY(-50%) translateX(10px);
  opacity: 0;
}

.carousel-indicator-enter,
.carousel-indicator-leave-active {
  opacity: 0;
}
