@import 'common/variables';
@import 'common/mixins';

@include b(cascader) {
  display: inline-flex;
  position: relative;
  line-height: $av-line-height-s;

  @include e(dropdown) {
    background: $av-fixed-white;
    border: $av-border-sm $av-brand-primary;
    border-radius: $av-border-radius-2;
    box-shadow: var(--el-shadow-regular);
    box-sizing: border-box;

    .el-popper__arrow {
      display: none;
    }
  }
}

@include b(cascader-panel) {
  display: flex;
}

@include b(cascader-menu) {
  box-sizing: border-box;
  max-height: var(--menuMaxHeight);

  @include e(list) {
    position: relative;
    min-height: 100%;
    list-style: none;
    box-sizing: border-box;

    @include when(empty) {
      width: 140px;
    }
  }

  @include e(empty-text) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $av-fixed-lightest;
  }

  @include e(divider) {
    background-color: $av-brand-accent;
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:last-child {
    .el-cascader-menu__divider {
      display: none;
    }
  }
}

@include b(cascader-node) {
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  height: 40px;

  @include e(divider) {
    background-color: $av-brand-accent;
    width: 100%;
    height: 1px;
  }

  &.in-active-path {
    background: var(--el-secondary-active);

    .el-cascader-node__label {
      color: $av-fixed-primary;
      font-weight: $av-font-weight-normal;
    }
  }

  &:not(.is-disabled) {
    cursor: pointer;

    &:hover {
      background: var(--el-secondary-hover);
    }

    &:active {
      background: var(--el-secondary-active);
    }
  }

  @include when(disabled) {
    cursor: default;

    .el-cascader-node__label {
      color: $av-fixed-lightest;
    }
  }

  @include e(label) {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $av-fixed-link;
    font-weight: $av-font-weight-bold;
  }
}

.el-cascader-fade-enter-active,
.el-cascader-fade-leave-active {
  transition: $av-transition-fade;
}

.el-cascader-fade-enter,
.el-cascader-fade-leave-to {
  opacity: 0;
}
