@import 'common/variables';
@import 'common/mixins';

@include b(checkbox) {
  @include text-body;

  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;

  @include e(content) {
    display: flex;
    align-items: center;
    height: inherit;
  }

  @include e(control) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    width: 16px;
    height: 16px;
    border: $av-border-sm $av-brand-light;
    border-radius: $av-border-radius-1;
    background-color: $av-fixed-white;
    background-clip: content-box;
  }

  @include e(original) {
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  @include e(label) {
    padding-left: 8px;
  }

  @include e(description) {
    color: $av-fixed-primary;
    display: block;
    padding-left: 24px;
  }

  &:focus:not(.is-disabled) {
    .el-checkbox__control {
      box-shadow: 0 0 0 $av-border-width-md $av-fixed-focus;
    }

    &:active .el-checkbox__control {
      box-shadow: none;
    }
  }

  @include when(multiline) {
    .el-checkbox__label {
      white-space: normal;
      display: block;
      line-height: 20px;
    }

    .el-checkbox__content {
      align-items: start;
    }

    .el-checkbox__control {
      margin-top: 2px;
    }
  }

  @for $num-lines from 2 through 3 {
    &.multiline-limit--#{$num-lines} {
      .el-checkbox__label {
        @include utils-multi-line-ellipsis($num-lines);
      }
    }
  }

  @include when(indeterminate) {
    .el-checkbox__control {
      background-clip: border-box;
      border-color: transparent;
      background-color: $av-brand-primary;

      &::before {
        content: '';
        display: block;
        width: 8px;
        height: 2px;
        background-color: $av-fixed-white;
      }
    }
  }

  @include when(checked) {
    .el-checkbox__control {
      color: $av-fixed-white;
      background-clip: border-box;
      border-color: transparent;
      background-color: $av-brand-primary;
    }
  }

  @include when(disabled) {
    color: $av-fixed-lighter;
    cursor: default;

    .el-checkbox__control {
      color: $av-brand-light;
      background-color: $av-brand-accent;
      background-clip: border-box;
      border-color: $av-brand-accent;
    }

    @include e(description) {
      color: $av-fixed-lighter;
    }
  }

  &:not(.is-indeterminate):not(.is-disabled):not(.is-checked) .el-checkbox__control:active,
  &.is-active .el-checkbox__control {
    border-color: $av-brand-primary-active;
  }

  &.is-disabled.is-indeterminate {
    .el-checkbox__control {
      &::before {
        background-color: $av-brand-light;
      }
    }
  }
}
