@import 'common/variables';
@import 'common/mixins';

@include b(chip) {

  $height: 24px;

  display: inline-block;
  vertical-align: top;
  padding-left: 8px;

  @include text-body;

  @include e(container) {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0 0 0 12px;
    text-align: center;
    line-height: $height;
    border-radius: $height * .5;
    position: relative;
    background-color: $av-brand-lightest;
    border: $av-border-sm $av-brand-lighter;
    color: $av-fixed-primary;
  }

  &__text {
    @include utils-ellipsis;

    display: inline-block;
    max-width: 223px;
    vertical-align: top;
    padding-right: 12px;
  }

  @include e(text-close) {
    padding-right: 8px;
  }

  @include e(close-button) {
    min-height: $height;
    padding: 0 8px 0 4px !important;
    border-radius: 0 11px 11px 0;
  }

  @include e(icon) {
    padding-right: 8px;
  }
}
