@use 'sass:math';

@import 'common/variables';
@import 'common/mixins';

[class*='el-col-'] {
  float: left;
  box-sizing: border-box;
}

.el-col-0 {
  display: none;
}

@for $i from 1 through 24 {
  .el-col-#{$i} {
    width: (math.div(1, 24) * $i * 100) * 1%;
  }

  .el-col-offset-#{$i} {
    margin-left: (math.div(1, 24) * $i * 100) * 1%;
  }

  .el-col-pull-#{$i} {
    position: relative;
    right: (math.div(1, 24) * $i * 100) * 1%;
  }

  .el-col-push-#{$i} {
    position: relative;
    left: (math.div(1, 24) * $i * 100) * 1%;
  }
}

@each $break-point-name in (xs, sm, md, lg, xl) {
  @include res($break-point-name) {

    .el-col-#{$break-point-name}-0 {
      display: none;
    }

    @for $i from 1 through 24 {
      .el-col-#{$break-point-name}-#{$i} {
        width: (math.div(1, 24) * $i * 100) * 1%;
      }

      .el-col-#{$break-point-name}-offset-#{$i} {
        margin-left: (math.div(1, 24) * $i * 100) * 1%;
      }

      .el-col-#{$break-point-name}-pull-#{$i} {
        position: relative;
        right: (math.div(1, 24) * $i * 100) * 1%;
      }

      .el-col-#{$break-point-name}-push-#{$i} {
        position: relative;
        left: (math.div(1, 24) * $i * 100) * 1%;
      }
    }
  }
}
