@import 'common/variables';
@import 'common/mixins';

@include b(collapse-item) {
  color: $av-fixed-primary;
  border-bottom: $av-border-sm $av-brand-lighter;

  &:last-child {
    border-bottom: none;
  }

  @include e(header) {
    box-sizing: border-box;
    display: flex;
    padding: 0 16px 0 24px;
    justify-content: space-between;
    align-items: center;
    // transition: border-bottom-color .3s;

    @include m(reversed) {
      flex-direction: row-reverse;
      padding: 0 24px 0 16px;

      .el-collapse-item__title {
        padding-right: 0;
      }
    }

    @include m(clickable) {
      &:hover {
        cursor: pointer;
      }
    }
  }

  @include e(title) {
    color: $av-fixed-primary;
    display: flex;
    flex: 1;
    align-items: center;
    min-width: 0;
    max-width: 100%;
    height: 100%;
    padding-right: 16px;
  }

  @include e(content) {
    box-sizing: border-box;
    will-change: height;
    overflow: hidden;
    border-top: $av-border-sm $av-brand-lighter;
    background-color: $av-brand-lightest;
    background-clip: padding-box;
  }

  @include e(button) {
    @include when(collapsed) {
      .el-collapse-item__arrow {
        transform: rotate(90deg);
      }
    }

    @include when(active) {
      background-color: transparent;

      &:not(:disabled) {
        &:not(:hover) {
          background-color: transparent;
        }
      }
    }
  }

  @include m(size-small) {
    .el-collapse-item__header {
      height: 48px;
    }
  }

  @include m(size-large) {
    .el-collapse-item__header {
      height: 64px;
    }
  }

  @include m(size-auto) {
    .el-collapse-item__header {
      padding: 16px 16px 16px 24px;
    }

    &.el-collapse-item--without-arrow {
      .el-collapse-item__header {
        padding: 16px 24px;
      }
    }
  }

  $title-background-colors: (
    title-background-transparent: transparent,
    title-background-fixed-white: $av-fixed-white
  );

  $panel-background-colors: (
    panel-background-transparent: transparent,
    panel-background-fixed-white: $av-fixed-white,
    panel-background-brand-lightest: $av-brand-lightest
  );

  @include color-modifiers(background-color, $title-background-colors);
  @include color-modifiers(background-color, $panel-background-colors);

  @include m(no-background) {
    background-color: transparent;

    .el-collapse-item__header {
      background-color: transparent;
    }

    .el-collapse-item__content {
      background-color: transparent;
    }
  }

  @include m(no-border) {
    .el-collapse-item__content {
      border: 0;
    }
  }

  @include m(no-padding) {
    .el-collapse-item__header {
      padding: 0 !important;
    }
  }

  &:active.is-focus .el-collapse-item__icon {
    background-color: unset;
  }
}
