@import 'common/variables';
/* stylelint-disable */
:export {
  avBrandPrimary: var(--av-brand-primary);
  avBrandLight: var(--av-brand-light);
  avBrandAccent: var(--av-brand-accent);
  avBrandLightest: var(--av-brand-lightest);
  avBrandLighter: var(--av-brand-lighter);
  avBrandSecondary: var(--av-brand-secondary);
  avBrandSecondaryLight: var(--av-brand-secondary-light);
  avBrandSecondaryAccent: var(--av-brand-secondary-accent);
  avFixedPrimary: var(--av-fixed-primary);
  avFixedSecondary: var(--av-fixed-secondary);
  avFixedLight: var(--av-fixed-light);
  avFixedLighter: var(--av-fixed-lighter);
  avFixedLightest: var(--av-fixed-lightest);
  avFixedInvisible: var(--av-fixed-invisible);
  avInversedPrimary: var(--av-inversed-primary);
  avInversedSecondary: var(--av-inversed-secondary);
  avInversedLight: var(--av-inversed-light);
  avInversedLighter: var(--av-inversed-lighter);
  avInversedLightest: var(--av-inversed-lightest);
  avInversedInvisible: var(--av-inversed-invisible);

  avFixedInfoDark: var(--av-fixed-info-dark);
  avFixedInfo: var(--av-fixed-info);
  avFixedInfoLight: var(--av-fixed-info-light);
  avFixedInfoAccent: var(--av-fixed-info-accent);
  avFixedSuccessDark: var(--av-fixed-success-dark);
  avFixedSuccess: var(--av-fixed-success);
  avFixedSuccessLight: var(--av-fixed-success-light);
  avFixedSuccessAccent: var(--av-fixed-success-accent);
  avFixedWarningDark: var(--av-fixed-warning-dark);
  avFixedWarning: var(--av-fixed-warning);
  avFixedWarningLight: var(--av-fixed-warning-light);
  avFixedWarningAccent: var(--av-fixed-warning-accent);
  avFixedCriticalDark: var(--av-fixed-critical-dark);
  avFixedCritical: var(--av-fixed-critical);
  avFixedCriticalLight: var(--av-fixed-critical-light);
  avFixedCriticalAccent: var(--av-fixed-critical-accent);
  avFixedDangerDark: var(--av-fixed-danger-dark);
  avFixedDanger: var(--av-fixed-danger);
  avFixedDangerLight: var(--av-fixed-danger-light);
  avFixedDangerAccent: var(--av-fixed-danger-accent);
  avFixedNeutralDark: var(--av-fixed-neutral-dark);
  avFixedNeutral: var(--av-fixed-neutral);
  avFixedNeutralLight: var(--av-fixed-neutral-light);
  avFixedNeutralAccent: var(--av-fixed-neutral-accent);
  avFixedFocus: var(--av-fixed-focus);
  avFixedHighlight: var(--av-fixed-highlight);
  avFixedLink: var(--av-fixed-link);
  avFixedLinkLight: var(--av-fixed-link-light);
  avFixedButton: var(--av-fixed-button);
  avFixedButtonLight: var(--av-fixed-button-light);
  avScrollThumb: var(--av-scroll-thumb);
  avScrollThumbInverse: var(--av-scroll-thumb-inverse);
  avSolidBrandAccent: var(--av-solid-brand-accent);
  avSolidBrandLightest: var(--av-solid-brand-lightest);
  avSolidFixedInvisible: var(--av-solid-fixed-invisible);
  avSolidBrandSecondaryAccent: var(--av-solid-brand-secondary-accent);
  avSolidBrandSecondaryLight: var(--av-solid-brand-secondary-light);

  // Chart colors
  avChartInfo: var(--av-chart-info);
  avChartSuccess: var(--av-chart-success);
  avChartWarning: var(--av-chart-warning);
  avChartCritical: var(--av-chart-critical);
  avChartDanger: var(--av-chart-danger);
  avChartNeutral: var(--av-chart-neutral);
  avChartBlue: var(--av-chart-blue);
  avChartGreen: var(--av-chart-green);
  avChartLightBlue: var(--av-chart-light-blue);
  avChartRed: var(--av-chart-red);
  avChartBrown: var(--av-chart-brown);
  avChartYellow: var(--av-chart-yellow);
  avChartPurple: var(--av-chart-purple);
  avChartGrey: var(--av-chart-grey);
  avChartViolet: var(--av-chart-violet);
  avChartTurquoise: var(--av-chart-turquoise);
  avChartTransparent: var(--av-chart-transparent);

  // Helpers
  avAppBase: var(--av-app-base);
  avLight: var(--av-light);
  avDark: var(--av-dark);

  // Navigation
  avNavPrimary: var(--av-nav-primary);
  avNavSecondary: var(--av-nav-secondary);
  avNavText: var(--av-nav-text);
  avNavTextActive: var(--av-nav-text-active);
  avNavTextLight: var(--av-nav-text-light);

  // States
  avPrimaryHover: var(--el-primary-hover);
  avPrimaryActive: var(--el-primary-active);
  avSecondaryHover: var(--el-secondary-hover);
  avSecondaryActive: var(--el-secondary-active);
  avSolidSecondaryActive: var(--el-solid-secondary-active);
  elPrimaryHover: var(--el-primary-hover);
  elPrimaryActive: var(--el-primary-active);
  elSecondaryHover: var(--el-secondary-hover);
  elSecondaryActive: var(--el-secondary-active);
  elSolidSecondaryActive: var(--el-solid-secondary-active);


  // Deprecated colors
  avBrandPrimaryHover: $av-brand-primary-hover;
  avBrandPrimaryActive: $av-brand-primary-active;
  avSolidBrandLight: $av-solid-brand-light;
  avSolidBrandLighter: $av-solid-brand-lighter;
  avNavLight: $av-nav-light;
  avFixedError: $av-fixed-error;
  avFixedNavAccent: $av-fixed-nav-accent;
  avFixedWhite: var(--av-inversed-primary);
  avFixedWhiteSecondary: var(--av-inversed-secondary);
  avFixedWhiteLight: var(--av-inversed-light);
  avFixedWhiteLighter: var(--av-inversed-lighter);
  avFixedWhiteLightest: var(--av-inversed-lightest);
  avFixedWhiteInvisible: var(--av-inversed-invisible);
  avFixedSuccessDarkAccent: var(--av-fixed-success-dark-accent); // outdated
  avFixedLinkDark: rgba(31, 86, 162, 1); // outdated
  avSolidFixedSuccessAccent: rgb(255, 0, 0); // outdated
  avSolidFixedWarningAccent: rgb(255, 0, 0); // outdated
  avSolidFixedCriticalAccent: rgb(255, 0, 0); // outdated
  avSolidFixedDangerAccent: rgb(255, 0, 0); // outdated
  avSolidFixedInfoAccent: rgb(255, 0, 0); // outdated
}
/* stylelint-enable */
