@import 'common/variables';
@import 'common/mixins';
@import 'input';

$border-radius: $av-border-radius-2 + $av-border-width-md;

@include b(combobox) {
  .el-input {
    .el-input__editor {
      cursor: text;
    }

    .el-input__container {
      padding-right: 0;
      cursor: text;
    }

    .el-input__suffix {
      height: 100%;
      flex: 0 0 auto;

      i {
        width: 48px;
        min-width: 48px;
        border-radius: 0 $av-border-radius-2 $av-border-radius-2 0;
      }
    }

    i {
      border-radius: 0 $av-border-radius-2 $av-border-radius-2 0;
      border: 1px transparent solid;
      border-width: 1px;
      box-sizing: border-box;
      line-height: 46px;
    }
  }

  .el-select--small {
    .el-input {
      .el-input__suffix i {
        width: 32px;
        min-width: 32px;
      }
    }
  }

  .el-input:not(.is-disabled) {
    i {
      cursor: pointer;
    }

    .el-combobox__trigger:hover {
      background-color: var(--el-secondary-hover);
      border-radius: 0 $av-border-radius-2 - 1px $av-border-radius-2 - 1px 0;
    }

    i:focus {
      position: relative;

      &::after {
        content: '';
        border-style: $av-border-style-solid;
        border-width: $av-border-width-md $av-border-width-md $av-border-width-md 0;
        border-color: $av-fixed-focus;
        position: absolute;
        right: -5px;
        left: 0;
        top: -5px;
        bottom: -5px;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    .el-combobox__trigger:active {
      // @todo: `:active` state isn't applied in Firefox 84 (Looks like it's issue of FF)
      background-color: var(--el-secondary-active);
      border-radius: 0 $av-border-radius-2 - 1px $av-border-radius-2 - 1px 0;
    }

    @include e(trigger) {
      @include m(dropdown-visible) {
        &,
        &:hover {  // fix: overriding "dropdown-visible" state by ":hover" state
          background-color: var(--el-secondary-active);
        }
      }
    }
  }
}
