@import 'colors/css/_variables.css';
@import 'colors/scss/_box-shadow.scss';

:root {
  // we use color values from Syntax UI to calculate special states
  @import './common/variables/colors-sass';

  // Brand-primary
  --av-brand-lighter: #{rgba($av-brand-primary, .15)};  // removed, fallback

  // Fixed white
  --av-fixed-white: var(--av-inversed-primary); // removed, fallback
  --av-fixed-white-invisible: var(--av-inversed-invisible); // removed, fallback
  --av-fixed-white-light: var(--av-inversed-light); // removed, fallback
  --av-fixed-white-lighter: var(--av-inversed-lighter); // removed, fallback
  --av-fixed-white-lightest: var(--av-inversed-lightest); // removed, fallback
  --av-fixed-white-secondary: var(--av-inversed-secondary); // removed, fallback

  // Nav
  --av-nav-primary-hover: #{lighten($av-nav-primary, 7%)};
  --av-nav-primary-active: #{$av-nav-secondary};
  --av-nav-light: #002e68;  // removed, fallback

  // Fixed
  --av-fixed-error: #d5650b;  // removed, fallback
  --av-fixed-nav-accent: #0065e3;  // removed, fallback

  // Solid colors: Brand-primary
  --av-solid-brand-light: #{mix(#2668c5, #fff, 30%)};  // removed, fallback
  --av-solid-brand-lighter: #{mix(#2668c5, #fff, 15%)};  // removed, fallback

  // Solid colors: Status
  --av-solid-fixed-info-accent: #{mix($av-fixed-info, #fff, 5%)};  // removed, fallback

  // Components: Common
  --el-primary: var(--av-fixed-button);  /* see primary button and `button-variant` mixin */
  --el-primary-hover: #{darken($av-brand-primary, 7%)};
  --el-primary-active: #{darken($av-brand-primary, 12%)};
  --el-secondary-hover: #{rgba($av-brand-primary, .1)};
  --el-secondary-active: #{rgba($av-brand-primary, .2)};

  // Components: Alert, Notification
  --el-status-hover: #{rgba($av-fixed-primary, .05)};
  --el-status-active: #{rgba($av-fixed-primary, .1)};
  --el-status-progress-hover: var(--el-secondary-hover);
  --el-status-progress-active: var(--el-secondary-active);

  // Components: Table
  --el-table-bgcolor-brand-lightest-selected-hover: #{darken($av-solid-brand-accent, 10%)};
  --el-table-bgcolor-fixed-white-selected-hover: #{darken($av-solid-brand-lightest, 5%)};
  --el-table-bgcolor-transparent-background: var(--table_bgcolor);

  // Components: Nav Menu
  --el-nav-primary-hover: #{rgba($av-fixed-white, .2)};
  --el-nav-primary-active: #{$av-nav-secondary};

  // Components: Select, Translucent button (removed)
  --el-translucent: #{rgba($av-fixed-white, .2)};
  --el-translucent-hover: #{rgba($av-fixed-white, .4)};
  --el-translucent-active: #{rgba($av-fixed-white, .3)};
  --el-translucent-inverse: #{rgba($av-fixed-primary, .2)};
  --el-translucent-inverse-hover: #{rgba($av-fixed-primary, .4)};
  --el-translucent-inverse-active: #{rgba($av-fixed-primary, .3)};
  --el-translucent-text: #{$av-fixed-white};

  // Components: Scrollbar
  --el-scrollbar-thumb: var(--el-translucent);
  --el-scrollbar-thumb-inverse: var(--el-translucent-inverse);

  // Components: Tag
  --el-tag-adaptive-bg: #{$av-fixed-white};
  --el-tag-adaptive-border-clr: #{$av-fixed-white};
  --el-tag-adaptive-fg: #{$av-fixed-primary};

  // Shadows
  --shadow-modal: #{$av-shadow-modal};
  --shadow-modal-dark: #{$av-shadow-modal-dark};
  --shadow-regular: #{$av-shadow-regular};
  --shadow-regular-dark: #{$av-shadow-regular-dark};
  --shadow-vertical: #{$av-shadow-vertical};
  --shadow-vertical-dark: #{$av-shadow-vertical-dark};
  --el-shadow-modal: #{$av-shadow-modal};
  --el-shadow-regular: #{$av-shadow-regular};
  --el-shadow-vertical: #{$av-shadow-vertical};

  // Temporary solution
  --el-toggle-solid: #{$av-solid-brand-accent};
}
