@import 'common/variables';
@import 'common/mixins';
@import 'common/popup'; // TODO remove

@include b(dialog) {
  box-sizing: border-box;
  max-height: 100%;
  border-radius: $av-border-radius-2;
  background-color: $av-app-base;
  box-shadow: var(--el-shadow-modal);
  position: relative;
  margin: $dialog-small-margin;

  @include when(hidden-footer) {
    .el-dialog__footer {
      visibility: hidden;
    }
  }

  @include m(fullscreen) {
    width: 100vw;
    margin: 0;
    border-radius: 0;

    @include dialog-body-height('fullscreen');
  }

  @include m(clean) {
    max-width: none;
    flex-shrink: 0;

    .el-dialog__close-button {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 2;
    }

    &.el-dialog--width-medium,
    &.el-dialog--width-large,
    &.el-dialog--width-x-large {
      .el-dialog-content__clean-content {
        padding: 80px 104px;
      }
    }
  }

  @include m(height, 'auto') {
    @include dialog-body-height();
  }

  @include m(height, 'fixed-medium') {
    @include dialog-body-height('fixed-medium');

    .el-dialog-content__clean-content {
      min-height: $dialog-height-medium;
    }
  }

  @each $width, $value in $dialog-widths {
    @include m(width, $width) {
      width: $value;
      min-width: $value;
    }

    @include m(max-width, $width) {
      width: $value;
      max-width: $value;
    }
  }

  @each $height, $value in $dialog-heights {
    @include m(height, $height) {
      @include dialog-body-height($height);
    }

    @include m(max-height, $height) {
      height: $height;
      max-height: $height;
    }
  }

  @include m(center) {
    text-align: center;

    @include e(body) {
      text-align: initial;
      padding: 0;
    }

    @include e(footer) {
      text-align: inherit;
      justify-content: center;
    }
  }

  @include e(wrapper) {
    @include normalize;

    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include when('position-top') {
      align-items: flex-start;
    }
  }

  @include e(outer-scroll) {
    height: 100%;
    width: 100%;
  }

  @include e(outer-container) {
    display: flex;
    align-items: center;
    justify-content: center;

    @include when(scrollable) {
      min-height: 100vh;
      min-width: 100vw;

      @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 1024px) {
        min-height: -webkit-fill-available;
      }

      @supports (-webkit-touch-callout: none) {
        /* CSS specific to iOS devices */
        min-height: -webkit-fill-available;
      }
    }

    @include when(fixed-width) {
      display: inline-flex;
    }

    @include when('position-top') {
      align-items: flex-start;
    }
  }

  @include e(mask) {
    @include normalize;

    display: flex;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include e(container) {
    background-color: $av-brand-lightest;
    outline: none;

    .el-main {
      overflow: hidden;
    }
  }

  @include e(header) {
    font-size: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $dialog-header-height;
    padding: 0 16px 0 24px;
    border-bottom: $av-border-sm $av-brand-lighter;
    border-top-left-radius: $av-border-radius-2;
    border-top-right-radius: $av-border-radius-2;
    background-color: $av-fixed-white;
    background-clip: padding-box;
  }

  @include e(close-button) {
    margin-left: 16px;
  }

  @include e(title) {
    @include text-display-medium;
    @include utils-ellipsis;

    display: inline-block;
    flex: 0 1 auto;
  }

  @include e(body) {
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    color: $av-fixed-primary;
    line-height: $av-line-height-s;
    font-size: $av-font-size-xs;
    display: flex;
    flex-direction: column;
  }

  @include e(aside) {
    min-height: 64px;
    min-width: 256px;
    border-right: $av-border-sm $av-brand-lighter;
  }

  @include e(footer) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $dialog-footer-height;
    padding: 0 24px;
    box-sizing: border-box;
    border-top: $av-border-sm $av-brand-lighter;
    border-bottom-left-radius: $av-border-radius-2;
    border-bottom-right-radius: $av-border-radius-2;
    background-color: $av-fixed-white;
    background-clip: padding-box;
  }

  @include e(footer-aside) {
    flex: 1;
    padding-right: 16px;
  }

  @include e(footer-actions) {
    display: flex;
    align-items: center;
  }

  @include e(flex-wrapper) {
    // workaround for IE flex vertical align with min-width
    display: inline-flex;
    flex-direction: column;

    @include m(content) {
      width: 100%;
    }
  }

  @include e(content-scrollbar) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  @include e(content-scrollbar-wrap) {
    flex: 1 1 auto;
    -ms-scroll-chaining: none;
    // to target firefox only to resolve body scrolling when dialog is open
    @supports (-moz-appearance:none) {
      overscroll-behavior: contain;
    }

    &:focus {
      outline: none;
    }
  }
}

@include b(dialog-content) {
  @include e(clean-content) {
    flex: 1 0 auto;
    padding: 80px 64px;
    display: flex;
    flex-direction: column;

    @include when(fade-edges) {
      &::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 64px;
        background-image: linear-gradient(to bottom, $av-fixed-white, rgba(255, 255, 255, 0));
        content: '';
        z-index: 1;
        border-top-left-radius: $av-border-radius-2;
        border-top-right-radius: $av-border-radius-2;
      }

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 80px;
        background-image: linear-gradient(to top, $av-fixed-white, rgba(255, 255, 255, 0));
        content: '';
        z-index: 1;
        border-bottom-left-radius: $av-border-radius-2;
        border-bottom-right-radius: $av-border-radius-2;
      }
    }
  }
}

.dialog-fade-enter-active {
  animation: dialog-fade-in .3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out .3s;
}

.el-scrollbar__view {
  height: 100%;
}
