@import 'common/variables';
@import 'common/mixins';

$divider-colors: (
  brand-light: $av-brand-light,
  brand-lighter: $av-brand-lighter,
  brand-lightest: $av-brand-lightest,
  brand-accent: $av-brand-accent
);

@include b(divider) {
  width: 100%;
  height: $av-border-width-sm;
  min-height: $av-border-width-sm;
  vertical-align: middle;

  @include color-modifiers(background-color, $divider-colors);

  @include when(vertical) {
    display: inline-block;
    width: $av-border-width-sm;
    min-width: $av-border-width-sm;
    min-height: 24px;
    height: 100%;
  }
}
