@import 'common/variables';
@import 'common/mixins';
@import 'popper';

$border-radius: $av-border-radius-2 + $av-border-width-md;

@include b(dropdown) {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  color: $av-brand-primary;
  max-width: 100%;
  cursor: pointer;

  @include when(disabled) {
    cursor: default;
  }

  @include e(text-split-button) {
    font-weight: $av-font-weight-normal;
    color: $av-brand-primary;
    padding: 0 8px;
    border: none;
    border-radius: $av-border-radius-2;
    background-color: transparent;
    outline: none;

    &:hover {
      background-color: $av-brand-accent;
    }

    &:focus {
      background-color: $av-fixed-focus;
    }

    &:active {
      background-color: $av-brand-lighter;
    }

    @include m(dropdown-visible) {
      background-color: $av-brand-accent;
    }
  }

  @include e(split-left) {
    border-right-width: 0 !important;
    position: relative;
    outline: none;
    min-width: 0;

    &.is-focus:not(.el-button--text) {
      box-shadow: 0 0;

      &::before {
        content: '';
        border: $av-border-md;
        border-right: none;
        border-color: $av-fixed-focus;
        position: absolute;
        right: 0;
        left: -4px;
        top: -4px;
        bottom: -4px;
        box-sizing: content-box;
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &.is-focus.el-button--ghost {
      &::before {
        border: none;
      }
    }

    &.el-button--primary + .el-dropdown__divider {
      border-width: $av-border-width-sm 0;
      border-style: $av-border-style-solid;
      border-color: $av-fixed-white;
      background-color: $av-fixed-white;
    }

    &.el-button--secondary + .el-dropdown__divider {
      border-width: $av-border-width-sm 0;
      border-style: $av-border-style-solid;
      border-color: $av-fixed-button;
      background-color: $av-brand-lighter;
    }

    &.el-button--text + .el-dropdown__divider {
      width: 0;
    }

    &.el-button--text {
      margin-right: 8px;
    }
  }

  @include e(divider) {
    width: 1px;
    height: 32px;
    display: block;
  }

  @include e(split-right) {
    padding: 0;
    border-left-width: 0 !important;
    outline: none;
    width: 32px;

    &.el-button--text {
      width: 16px;
    }

    &.is-focus:not(.el-button--text) {
      box-shadow: 0 0;

      &::before {
        content: '';
        border: $av-border-md;
        border-left: none;
        border-color: $av-fixed-focus;
        position: absolute;
        right: -4px;
        left: 0;
        top: -4px;
        bottom: -4px;
        box-sizing: content-box;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    &.is-focus.el-button--ghost {
      &::before {
        border: none;
      }
    }
  }

  @include e(icon) {
    font-size: $av-font-size-xxs;
    margin: 0 3px;
  }
}

@include b(dropdown-menu) {
  border: $av-border-sm $av-brand-primary;
  border-radius: $av-border-radius-2;
  margin: 8px 0;
  background-color: $av-fixed-white;
  box-shadow: var(--el-shadow-regular);
  z-index: #{$av-z-index-toolbar + 1};
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;

  @include e(list) {
    list-style: none;
    padding: 8px 0;
    margin: 0;
  }

  @include e(divider) {
    margin: 8px 0;
  }

  @include e(no-data) {
    @include text-body;

    text-align: center;
    padding: 24px 16px;
    max-width: 512px;
  }

  @include e(no-border) {
    border: none;
    box-shadow: 2px 0 20px 0 $av-fixed-lightest;
  }

  @include e(item) {
    @include utils-ellipsis;

    display: none;
    align-items: center;
    list-style: none;
    line-height: $av-line-height-m;
    padding: 4px 16px;
    margin: 0;
    font-size: $av-font-size-xs;
    color: $av-fixed-link;
    cursor: pointer;
    outline: none;

    &:not(.is-disabled):hover {
      background-color: var(--el-secondary-hover);
    }

    &:not(.is-disabled):not(.is-sidebar):focus {
      background-color: var(--av-fixed-focus);
    }

    &:not(.is-disabled):not(.is-sidebar):active {
      background-color: var(--el-secondary-active);
    }

    &:not(.is-disabled).is-sidebar:focus {
      background-color: $av-brand-accent;
    }

    @include when(disabled) {
      cursor: default;
      color: $av-fixed-light;

      &:active {
        pointer-events: none;
      }
    }

    @include when(visible) {
      display: flex;
    }

    @include when(divided) {
      box-shadow: 0 -8px $av-fixed-white, 0 -8px 0 1px $av-brand-lighter;
      margin-top: 16px;
    }
  }

  @include e(item-icon) {
    flex: 0 0 auto;
  }
}
