@import 'common/variables';
@import 'common/mixins';

@include b(file-picker) {
  display: inline-block;
  width: 100%;
  color: var(--av-fixed-link);
  line-height: $av-line-height-l;

  @include m(medium) {
    .el-file-picker__inner {
      font-size: $av-font-size-xs;
      height: $av-line-height-l;
    }

    .el-file-picker__value {
      font-size: $av-font-size-xs;
    }
  }

  @include m(small) {
    .el-file-picker__inner {
      font-size: $av-font-size-xs;
      height: $av-line-height-m;
    }

    .el-file-picker__value {
      bottom: 3px;
      font-size: $av-font-size-xs;
      line-height: $av-line-height-s;
    }

    .el-file-picker__browse {
      display: flex;
      height: 32px;
      align-items: center;
    }
  }

  @include m(focus) {
    .el-file-picker__inner {
      border-color: $av-brand-primary;
      background-color: $av-fixed-white;
    }
  }

  @include e(remove-button) {
    border-radius: 0;
    margin-right: 8px !important;

    &:hover {
      background-color: transparent;
    }

    @include m(error) {
      color: $av-fixed-danger !important;
    }
  }

  @include e(inner) {
    position: relative;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $av-fixed-white;
    border-radius: $av-border-radius-2;
    border: $av-border-sm $av-brand-light;
    cursor: pointer;

    @include m(error) {
      border-color: $av-fixed-danger !important;
    }
  }

  @include e(input) {
    display: none;
    -webkit-appearance: none;
    outline: none;

    &:focus + .el-file-picker__inner {
      border-color: $av-brand-primary;
      outline: none;
    }

    &[disabled] + .el-file-picker__inner {
      cursor: default;
      background-color: $av-brand-lightest;
      border-color: $av-brand-accent;
      background-clip: padding-box;

      .el-file-picker__label {
        color: var(--av-fixed-lighter);
      }

      .el-file-picker__browse {
        color: $av-fixed-link-light;
      }
    }
  }

  @include e(browse) {
    @include utils-ellipsis;

    font-weight: $av-font-weight-bold;
    max-width: 150px;
    flex: 0 0 auto;
    padding: 0 16px;
    pointer-events: none;

    > i {
      vertical-align: middle;
    }

    @include m(has-file) {
      border-left: 1px solid $av-brand-light;
    }

    @include m(has-file-error) {
      border-left: 1px solid $av-fixed-danger;
    }
  }

  @include e(label) {
    @include utils-ellipsis;

    display: block;
    flex: 1 1 auto;
    pointer-events: none;
    color: $av-fixed-light;
    padding: 0 0 0 16px;
    font-size: $av-font-size-xs;

    @include m(top) {
      padding: 4px 0 0 16px;
      align-self: flex-start;
      // transition: 300ms;
      font-size: $av-font-size-xxs;
      line-height: 1.3;

      .el-file-picker--small & {
        opacity: 0;
      }
    }
  }

  @include e(value) {
    @include utils-ellipsis;

    position: absolute;
    bottom: 4px;
    right: 0;
    left: 0;
    padding: 0 128px 0 16px;
    overflow-y: auto;
    display: block;
    line-height: $av-line-height-s;
    pointer-events: none;
    color: $av-fixed-primary;
  }
}
