@import 'common/mixins';

@include b(filter) {
  @include e(footer) {
    display: flex;
    justify-content: space-between;
  }

  @include e(button-max-width) {
    max-width: 256px;
  }

  @include e(reset) {
    min-width: 160px;
  }

  @include e(form) {
    position: relative;

    &:focus {
      outline: none;
    }
  }
}

.el-filter__counter {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  margin: 8px;
  font-size: $av-font-size-xxxs;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $av-fixed-link;
  color: $av-fixed-white;
}
