@import 'common/mixins';

@include b(footer) {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  @include e(content) {
    flex: 1;
  }

  @include color-modifiers(background-color, (
    brand-lightest: $av-brand-lightest,
    fixed-white: $av-fixed-white
  ));
}
