@import 'common/variables';
@import 'common/mixins';

.form-error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $av-fixed-danger;
  font-size: $av-font-size-xxs;
  line-height: $av-line-height-xs;
  white-space: normal;
  word-break: break-word;

  &__icon {
    margin-right: 8px;
  }

  @include when(large) {
    font-size: $av-font-size-xs;
    line-height: $av-line-height-m;
  }
}
