@import 'common/variables';
@import 'common/mixins';

@include b(form-item) {
  padding-bottom: 8px;
  font-family: $av-font-family;
  font-size: $av-font-size-xs;
  color: $av-fixed-primary;
  display: flex;
  flex-direction: column;

  &.is-error-absolute {
    padding-bottom: 0;
  }

  @include e(label) {
    line-height: $av-line-height-m;
  }

  @include e(content) {
    position: relative;
  }

  @include e(error-holder) {
    min-height: $av-line-height-xs;

    .is-error-absolute & {
      min-height: auto;
    }
  }

  @include e(error) {
    .is-error-absolute & {
      position: absolute;
      top: 100%;
      padding-top: 0;
    }
  }

  @include when(wrapping-file-picker) {
    .el-form-item__error-holder {
      min-height: initial;
    }
  }

  @include when(error) {
    & {
      .el-input__container,
      .el-textarea__container,
      .el-file-picker__inner {
        border-color: $av-fixed-danger;
      }
    }

    & .is-focus {
      .el-input__container,
      .el-textarea__container {
        border-color: $av-brand-primary;
      }
    }

    @include when(focus) {
      .form-error {
        color: $av-fixed-light;
      }
    }

    // password: hide description when form item is in error state
    .el-password.is-with-description {
      .el-password__container {
        margin-bottom: 0;
      }
    }

    .el-password__description {
      display: none;
    }
  }
}
