@use 'common/variables';
@use 'common/mixins';

$icon-sizes: (16, 24, 32, 64, 72, 96);
$icon-colors: (
  brand-primary: $av-brand-primary,
  brand-light: $av-brand-light,
  brand-secondary: $av-brand-secondary,
  brand-secondary-light: $av-brand-secondary-light,
  fixed-primary: $av-fixed-primary,
  fixed-secondary: $av-fixed-secondary,
  fixed-light: $av-fixed-light,
  fixed-lighter: $av-fixed-lighter,
  fixed-lightest: $av-fixed-lightest,
  fixed-info-dark: $av-fixed-info-dark,
  fixed-info: $av-fixed-info,
  fixed-info-light: $av-fixed-info-light,
  fixed-info-accent: $av-fixed-info-accent,
  fixed-success-dark: $av-fixed-success-dark,
  fixed-success-dark-accent: $av-fixed-success-dark-accent,
  fixed-success: $av-fixed-success,
  fixed-success-light: $av-fixed-success-light,
  fixed-success-accent: $av-fixed-success-accent,
  fixed-danger-dark: $av-fixed-danger-dark,
  fixed-danger: $av-fixed-danger,
  fixed-danger-light: $av-fixed-danger-light,
  fixed-danger-accent: $av-fixed-danger-accent,
  fixed-critical-dark: $av-fixed-critical-dark,
  fixed-critical: $av-fixed-critical,
  fixed-critical-light: $av-fixed-critical-light,
  fixed-critical-accent: $av-fixed-critical-accent,
  fixed-warning-dark: $av-fixed-warning-dark,
  fixed-warning: $av-fixed-warning,
  fixed-warning-light: $av-fixed-warning-light,
  fixed-warning-accent: $av-fixed-warning-accent,
  fixed-neutral-dark: $av-fixed-neutral-dark,
  fixed-neutral: $av-fixed-neutral,
  fixed-neutral-light: $av-fixed-neutral-light,
  fixed-neutral-accent: $av-fixed-neutral-accent,
  fixed-white: $av-fixed-white,
  fixed-link-dark: $av-fixed-link-dark,
  fixed-link: $av-fixed-link,
  fixed-link-light: $av-fixed-link-light,
  solid-brand-accent: $av-solid-brand-accent,
  solid-brand-lightest: $av-solid-brand-lightest,
  solid-brand-secondary-accent: $av-solid-brand-secondary-accent,
  solid-brand-secondary-light: $av-solid-brand-secondary-light,
  solid-fixed-success-accent: $av-solid-fixed-success-accent,
  solid-fixed-warning-accent: $av-solid-fixed-warning-accent,
  solid-fixed-critical-accent: $av-solid-fixed-critical-accent,
  solid-fixed-danger-accent: $av-solid-fixed-danger-accent,
  solid-fixed-info-accent: $av-solid-fixed-info-accent,
  chart-blue: $av-chart-blue,
  chart-green: $av-chart-green,
  chart-light-blue: $av-chart-light-blue,
  chart-red: $av-chart-red,
  chart-brown: $av-chart-brown,
  chart-yellow: $av-chart-yellow,
  chart-purple: $av-chart-purple,
  chart-grey: $av-chart-grey,
);

@mixin icon {
  @include font-smoothing;

  position: relative;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: $av-font-weight-normal;
  line-height: 1;
  font-size: 0;
  outline: none;
  text-transform: none;
  vertical-align: middle;
  min-width: 16px;

  @include color-modifiers(color, $icon-colors);
  @include color-modifiers(color, $icon-colors, before);

  &::before {
    // todo: hack for alignment of icon inner container
    transform: scaleX(.999);
  }

  @each $size in $icon-sizes {
    &--size-#{$size} {
      @include icon-size-modifier($size);
    }
  }

  @include when(disabled) {
    color: $av-brand-light;

    &::before {
      color: $av-brand-light;
    }
  }

  @include when(latest) {
    &::before {
      display: none;
    }
  }

  @include when(multi-color) {
    .svg {
      fill: none;
    }
  }
}

.i {
  @include icon;

  @include when(left) {
    margin-right: 8px;
  }

  @include when(right) {
    margin-left: 8px;
  }

  @include when(multi-color) {
    .svg {
      fill: none;
    }
  }

  &__state {
    @include icon;

    position: absolute;
    transform: translateX(-100%);

    @include when(latest) {
      transform: none;
    }
  }
}

.svg {
  fill: currentColor;
  pointer-events: none;

  @each $size in $icon-sizes {
    &--size-#{$size} {
      min-width: #{$size}px;
      width: #{$size}px;
      height: #{$size}px;
    }
  }
}
