@import 'common/variables';
@import 'common/mixins';

@mixin label() {
  @include text-body;
  @include utils-ellipsis;

  color: $av-fixed-light;
  padding: 11px 8px 0;
  border-radius: inherit;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &.is-active {
    @include text-caption;

    padding-top: 1px;
  }
}

@mixin no-number-input-spin-box {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type='number'] {
    appearance: textfield;
  }
}

@include b(input) {
  @include no-number-input-spin-box;

  display: inline-block;
  width: 100%;

  @include e(required) {
    color: $av-fixed-danger;
    padding-right: 6px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  @include e(container) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 48px;
    border: $av-border-sm $av-brand-light;
    border-radius: $av-border-radius-2;
    padding: 0 8px;
    background-color: $av-fixed-white;
    background-clip: padding-box;
    cursor: text;

    input {
      color: $av-fixed-primary;

      &::-ms-clear,
      &::-ms-reveal {
        display: none;
      }

      // remove the invalid shadow in firefox for number input validation
      &:invalid {
        box-shadow: none;
      }
    }

    @include when(embedded) {
      border-width: 0;
    }

    &.has-prefix {
      padding-left: 0;
    }

    &.has-suffix {
      padding-right: 0;
    }
  }

  @include e(wrapper) {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    padding: 11px 8px 0;
    position: relative;
  }

  @include e(label) {
    @include label;

    @include m(prefix) {
      padding-left: 0;
    }
  }

  @include e(placeholder) {
    @include text-body;

    color: $av-fixed-light;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    left: 8px;
    right: 8px;
    cursor: text;
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

    @include m(prefix) {
      left: 0;
    }
  }

  @include e(editor) {
    @include utils-ellipsis;
    @include text-body;

    width: 100%;
    height: 24px;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
    z-index: 1;

    @include m(absolute-position) {
      position: absolute;
      left: 0;
      right: 0;
      padding-left: inherit;
      padding-right: inherit;
    }

    @include m(prefix) {
      padding-left: 0;
    }

    @include m(select-prefix) {
      padding-left: 16px;
      left: 16px;
    }

    @include m(select-suffix) {
      padding-right: 16px;
      right: 16px;
    }
  }

  @include e((prefix, suffix)) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
  }

  @include e(suffix) {
    .i {
      color: $av-brand-primary;
    }

    .el-input__container {
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-left: $av-border-sm $av-brand-light;
    }
  }

  @include e(prefix) {
    .el-input__container {
      background-color: transparent;
      border-radius: 0;
      border: none;
      border-right: $av-border-sm $av-brand-light;
    }
  }

  @include e(icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    @include m(control) {
      cursor: pointer;
    }

    @include m(close) {
      &:focus {
        background-color: $av-fixed-focus;
        border-radius: $av-border-width-md;
      }
    }
  }

  @include m(small) {
    @include e(container) {
      height: 32px;
      padding: 0;

      @include when(embedded) {
        @include e(wrapper) {
          padding-top: 4px;
        }
      }
    }

    @include e(wrapper) {
      padding-top: 3px;
    }

    @include e(placeholder) {
      font-size: $av-font-size-xs;
    }

    @include e(editor) {
      font-size: $av-font-size-xs;
    }

    @include e(prefix) {
      height: 100%;
    }

    @include e(suffix) {
      height: 100%;
    }
  }

  @include when(disabled) {
    .el-input__container {
      cursor: default;
      background-color: $av-brand-lightest;
      border-color: $av-brand-lightest;
      background-clip: border-box;
    }

    .el-input__label,
    .el-input__editor,
    .el-input__placeholder {
      color: $av-fixed-lighter;
      cursor: default;
    }

    input::placeholder {
      color: $av-fixed-lighter;
      cursor: default;
    }

    .el-input__prefix .i,
    .el-input__suffix .i {
      cursor: default;
      color: $av-brand-light;
    }
  }

  @include when(focus) {
    .el-input__container {
      border-color: $av-brand-primary;
    }
  }

  @include when(active) {
    &:not(.el-input--small).el-input--has-label {
      .el-input__wrapper {
        padding-top: 17px;
      }
    }
  }

  input::-webkit-contacts-auto-fill-button,
  input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
  }
}

@include b(textarea) {
  @include e(container) {
    position: relative;
    border: $av-border-sm $av-brand-light;
    border-radius: $av-border-radius-2;
    background-color: $av-fixed-white;
    background-clip: padding-box;
    box-sizing: border-box;
  }

  @include e(label) {
    @include label;

    padding-left: 16px;
    padding-right: 16px;
  }

  @include e(placeholder) {
    font-size: $av-font-size-s;
    line-height: $av-line-height-s;
    color: $av-fixed-light;
    overflow: hidden;
    position: absolute;
    left: 16px;
    right: 16px;
    top: 0;
    bottom: 3px;
    cursor: text;
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  }

  @include e(editor) {
    @include text-body;

    color: $av-fixed-primary;
    display: block;
    width: 100%;
    padding: 0 16px 3px;
    appearance: none;
    border: none;
    resize: vertical;
    border-radius: $av-border-radius-2;
    background-color: transparent;
    position: relative;

    &:focus {
      border-color: $av-brand-primary;
      outline: none;
    }
  }

  @include m(small) {
    .el-textarea__editor {
      padding: 3px 8px;
    }

    .el-textarea__placeholder {
      top: 3px;
      bottom: 3px;
      left: 8px;
      right: 8px;
    }
  }

  @include when(disabled) {
    .el-textarea__container,
    .el-textarea__label {
      cursor: default;
      background-color: transparent;
    }

    .el-textarea__label,
    .el-textarea__editor,
    .el-textarea__placeholder {
      color: $av-fixed-lighter;
      background-color: transparent;
    }

    textarea::placeholder {
      color: $av-fixed-lighter;
      background-color: transparent;
    }
  }

  @include when(focus) {
    .el-textarea__container {
      border-color: $av-brand-primary;
    }
  }

  &:not(.el-textarea--small).el-textarea--has-label {
    .el-textarea__container {
      padding-top: 17px;
    }

    .el-textarea__placeholder {
      top: 17px;
    }
  }
}
