@import 'common/variables';
@import 'common/mixins';

@include b(link) {
  color: $av-fixed-link;
  display: inline-block;
  font-weight: $av-font-weight-bold;

  &:not(:active):focus {
    background-color: $av-fixed-focus;
    outline: none;
    border-radius: 2px;
  }

  @include when(disabled) {
    opacity: .6;
    pointer-events: none;
  }
}
