@import 'common/variables';
@import 'common/mixins';

$loading-colors: (
  brand-primary: $av-brand-primary,
  brand-light: $av-brand-light,
  brand-lighter: $av-brand-lighter,
  brand-lightest: $av-brand-lightest,
  solid-brand-lightest: $av-solid-brand-lightest,
  brand-accent: $av-brand-accent,
  fixed-modal: $av-fixed-modal,
  fixed-white: $av-fixed-white,
  fixed-primary: $av-fixed-primary
);

@include b(loading-parent) {
  @include m(relative) {
    position: relative !important;
  }

  @include m(hidden) {
    overflow: hidden !important;
  }
}

@include b(loading) {
  @include normalize;

  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $av-z-index-normal;
  // transition: opacity .3s;

  @include e(backdrop) {
    @include color-modifiers(background-color, $loading-colors);

    border-radius: inherit;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include e(content) {
    text-align: center;
    z-index: inherit;
  }

  @include when(fullscreen) {
    position: fixed;
    z-index: $av-z-index-loading;
  }
}

.el-loading-fade-enter,
.el-loading-fade-leave-active {
  opacity: 0;
}

.el-loading__backdrop--color-solid-brand-lightest {
  opacity: .95 !important;
}
