@import 'common/variables';
@import 'common/mixins';

@include b(main) {
  display: block;
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }

  @include color-modifiers(background-color, (
    brand-lightest: $av-brand-lightest,
    brand-lighter: $av-brand-lighter,
    brand-accent: $av-brand-accent
  ));
}
