@import 'common/variables';
@import 'common/mixins';

@include b(notification) {
  @include normalize;

  box-sizing: border-box;
  font-family: $av-font-family;
  display: flex;
  max-width: 344px;
  min-width: 296px;
  min-height: 56px;
  border: $av-border-sm $av-fixed-info;
  border-radius: $av-border-radius-2;
  background-color: $av-fixed-info-accent;  // default state is the same as "info" modifier
  box-shadow: var(--el-shadow-regular);
  overflow: hidden;
  position: fixed;
  z-index: $av-z-index-notifications;
  //transition: opacity .3s, transform .3s, left .3s, right .3s, top .4s, bottom .3s;

  @include e(container) {
    display: flex;
    flex: 1;
    min-width: 0;
    padding: 16px 24px;
  }

  @include e(close) {
    color: $av-brand-primary;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    min-height: 100%;
    border-left: $av-border-sm $av-brand-lighter;

    &:focus {
      outline: none;
      background-color: var(--el-status-hover);
    }

    &:hover {
      background-color: var(--el-status-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--el-status-active);
    }
  }

  @include e(icon) {
    font-size: 0;
    display: flex;
    align-items: center;
    margin-right: 24px;

    @include m(align-message) {
      height: $av-line-height-s;
    }

    @include m(align-title) {
      height: $av-line-height-m;
    }
  }

  @include e(content) {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
  }

  @include e(title) {
    @include text-strong;
    @include utils-ellipsis;

    max-width: 100%;
  }

  @include e(message) {
    @include text-body;
  }

  // apply statuses (modifiers): info, success, warning, critical, error
  @include notification-modifiers();

  @include m(info) {
    border: $av-border-sm $av-fixed-info;
  }

  @include m(success) {
    border: $av-border-sm $av-fixed-success;
  }

  @include m(warning) {
    border: $av-border-sm $av-fixed-warning;
  }

  @include m(critical) {
    border: $av-border-sm $av-fixed-critical;
  }

  @include m(error) {
    border: $av-border-sm $av-fixed-danger;
  }

  @include m(progress) {
    border: $av-border-sm $av-brand-primary;
    background-color: $av-fixed-white;

    .el-notification__close {
      &:hover {
        background-color: var(--el-status-progress-hover);
      }

      &:active {
        background-color: var(--el-status-progress-active);
      }
    }
  }

  @include when(closable) {
    min-width: 360px;
    max-width: 408px;
  }

  &.right {
    right: 16px;
  }

  &.left {
    left: 16px;
  }
}

.el-notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.el-notification-fade-leave-active {
  opacity: 0;
}
