@import 'common/variables';
@import 'common/mixins';
@import 'input';

@include b(num-picker) {
  display: inline-block;
  vertical-align: middle;
  min-width: 128px;
  width: 100%;

  @include e(container) {
    box-sizing: border-box;
    display: flex;
    height: 32px;
    border: $av-border-sm $av-brand-light;
    border-radius: $av-border-radius-2;
    background-color: $av-fixed-white;
    background-clip: padding-box;
    overflow: hidden;
  }

  @include e((decrease, increase)) {
    user-select: none;
    color: $av-brand-primary;
    display: flex;
    align-items: center;
    padding: 0 8px;
    flex: 0 1 auto;

    &:hover {
      background-color: $av-brand-accent;
      cursor: pointer;
    }

    &:active {
      background-color: $av-brand-lighter;
    }

    @include when(disabled) {
      color: $av-brand-light;
      border-color: $av-brand-lightest;
      background-color: $av-brand-lightest;

      &:hover,
      &:active {
        cursor: default;
      }
    }
  }

  @include e(decrease) {
    border-right: $av-border-sm $av-brand-light;
  }

  @include e(increase) {
    border-left: $av-border-sm $av-brand-light;
  }

  @include e(editor) {
    flex: 1 1 0;

    .el-input__container {
      height: 100%;
      border: none;
      border-radius: 0;
    }

    .el-input__editor {
      text-align: center;
    }
  }

  @include e(infinity) {
    box-sizing: border-box;
    display: flex;
    height: 32px;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    background-color: $av-brand-lightest;
    background-clip: padding-box;
    overflow: hidden;
    color: $av-fixed-lighter;
  }

  @include when(disabled) {
    .el-num-picker__container {
      border-color: $av-brand-accent;
    }
  }

  @include when(focus) {
    .el-num-picker__container {
      border-color: $av-brand-primary;
    }
  }

  &.is-disabled.is-focus {
    .el-num-picker__container {
      border-color: $av-brand-light;
    }
  }
}
