@import 'common/variables';
@import 'common/mixins';

@include b(select-dropdown) {
  @include e(item) {
    @include utils-ellipsis;

    display: flex;
    align-items: center;
    font-size: $av-font-size-xs;
    padding: 0 16px;
    position: relative;
    height: 40px;
    line-height: 2.86;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;

    @include e(suffix) {
      flex: 1;
    }

    @include when(multi-line) {
      height: 56px;
      line-height: 1;
      padding: 8px 16px;

      @include e(item-icon) {
        margin-right: 4px;
      }

      span {
        line-height: initial !important;
      }

      .label {
        line-height: 24px !important;
      }

      .sublabel {
        display: block;
      }
    }

    @include when(disabled) {
      pointer-events: none;
      color: $av-fixed-lighter;
    }

    @include when(in-remote-selected-section) {
      display: none;
    }

    &:hover {
      background-color: var(--el-secondary-hover);
    }

    &:active {
      background-color: var(--el-secondary-active);
    }

    &.hover {
      background-color: var(--el-secondary-hover);

      &:not(.selected):hover {
        background-color: var(--el-secondary-hover);
      }
    }

    &.selected {
      color: $av-fixed-primary;
      font-weight: $av-font-weight-normal;
      background-color: var(--el-secondary-active);
    }

    span {
      @include utils-ellipsis;

      line-height: $av-line-height-m !important;
    }
  }
}
