@import 'common/variables';
@import 'common/mixins';

@include b(select-group) {
  $gap: 20px;

  margin: 0;
  padding: 0;

  @include e(wrap) {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-of-type) {
      padding-bottom: 24px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 12px;
        height: $av-border-width-sm;
        background: $av-brand-lighter;
      }
    }
  }

  @include e(title) {
    padding-left: $gap;
    font-size: $av-font-size-xs;
    color: $av-fixed-light;
    line-height: 30px;
  }

  .el-select-dropdown__item {
    padding-left: $gap;
  }
}
