@import 'common/variables';
@import 'common/mixins';
@import 'select';

@include b(pagination) {
  @include text-strong;

  display: flex;

  .el-button--secondary,
  .el-button--secondary:active,
  .el-button--secondary:hover,
  .el-button--secondary:not(:disabled).is-selected {
    color: $av-brand-primary;
    border-color: $av-brand-primary;
  }
}

@include b(pager) {
  user-select: none;
  list-style: none;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  padding: 0;
  margin: 0 8px 0 0;

  @include e(item) {
    padding: 0 4px;
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: $av-font-size-xs;
    font-weight: $av-font-weight-bold;
    min-width: 32px;
    height: 32px;
    line-height: 30px; //32px - 1px (border-top) - 1px(border-bottom)
    color: $av-brand-primary;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    border-width: $av-border-width-sm 0 $av-border-width-sm $av-border-width-sm;
    border-style: $av-border-style-solid;
    border-color: $av-brand-primary;

    &:last-child {
      border-width: $av-border-width-sm;
      border-top-right-radius: $av-border-radius-2;
      border-bottom-right-radius: $av-border-radius-2;
    }

    &:first-child {
      border-top-left-radius: $av-border-radius-2;
      border-bottom-left-radius: $av-border-radius-2;
    }

    &:focus:not(:active) {
      &::before {
        content: '';
        border-width: 3px 0;
        border-style: $av-border-style-solid;
        border-color: $av-fixed-focus;
        position: absolute;
        right: 0;
        left: 0;
        top: -4px;
        bottom: -4px;
        box-sizing: content-box;
      }

      &:first-child::before {
        border-width: $av-border-width-md 0 $av-border-width-md $av-border-width-md;
        left: -4px;
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child::before {
        border-width: $av-border-width-md $av-border-width-md $av-border-width-md 0;
        right: -4px;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    &:hover {
      background-color: var(--el-secondary-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--el-secondary-active);
    }

    @include when(active) {
      background-color: var(--el-secondary-active);
      color: $av-brand-primary;
      cursor: default;
    }

    @include when(clicked) {
      &::before {
        content: unset !important;
      }
    }
  }
}
