@import 'common/variables';
@import 'common/mixins';

@include b(password) {
  @include e(container) {
    position: relative;
  }

  @include e(description) {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    font-size: $av-font-size-xxs;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: $av-line-height-xs;
    letter-spacing: normal;
    text-align: left;
    color: $av-fixed-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include e(score) {
    display: flex;
    height: $av-line-height-xs;
    justify-content: space-around;
    align-items: center;

    div {
      background-color: $av-brand-lighter;
      border-radius: $av-border-radius-2;
      flex: 1;
      height: 4px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    @include m(weak) {
      div:first-child {
        background-color: $av-fixed-danger;
      }
    }

    @include m(normal) {
      div:not(:last-child) {
        background-color: $av-fixed-warning;
      }
    }

    @include m(strong) {
      div {
        background-color: $av-fixed-success;
      }
    }
  }

  @include when(error) {
    .el-password__description {
      color: $av-fixed-danger;
    }

    &,
    .is-focus {
      .el-input__container {
        border-color: $av-fixed-danger;
      }
    }
  }

  @include when(with-description) {
    .el-password__container {
      margin-bottom: $av-line-height-xs;
    }
  }
}
