@import 'common/variables';
@import 'common/mixins';
@import './popper';

@include b(popover) {
  position: absolute;
  background: $av-fixed-white;
  border-radius: $av-border-radius-2;
  z-index: $av-z-index-poppers;
  box-shadow: 0 0 0 $av-border-width-sm $av-brand-primary, var(--el-shadow-regular);
  box-sizing: border-box;

  @include e(reference) {
    width: fit-content;

    &:focus:not(.focusing),
    &:focus:hover {
      outline-width: 0;
    }
  }

  &:focus:active,
  &:focus {
    outline-width: 0;
  }

  @include e(loading) {
    height: 128px;
    min-width: 256px;
  }

  @include e(wrap) {
    border-radius: inherit;
    overflow: hidden;
    height: 100%;
  }

  @include e(actions) {
    margin: 8px 0 0 -8px;
  }
}
