@import 'common/variables';
@import 'common/mixins';

$popper-arrow-offset: 4px;
$popper-indent: 8px;

$popper--greenpulse-offset: 23px;

$popper-indent-with-greenpulse: 20px + $popper-arrow-offset;

@include b(popper) {
  @include normalize;
  @include text-body;

  margin-top: 12px;

  @include e(arrow) {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-color: $av-brand-primary $av-brand-primary transparent transparent;
    border-style: solid;
    border-width: $av-border-width-sm;
    transform: rotate(-45deg);
    background-image: linear-gradient(45deg, transparent 45%, $av-fixed-white 45%);
    background-clip: padding-box;
  }

  @include m(with-arrow) {
    &[x-placement^='top'] {
      margin-bottom: $popper-indent;
      margin-top: 2px;

      .el-popper__arrow {
        bottom: -$popper-arrow-offset;
        left: 50%;
        transform: rotate(-225deg);
      }
    }

    &[x-placement^='bottom'] {
      margin-top: $popper-indent;

      .el-popper__arrow {
        top: -$popper-arrow-offset;
        left: 50%;
      }
    }

    &[x-placement^='right'] {
      margin-left: $popper-indent;
      margin-top: 2px;

      .el-popper__arrow {
        top: 50%;
        left: -$popper-arrow-offset;
        transform: rotate(-135deg);
      }
    }

    &[x-placement^='left'] {
      margin-right: $popper-indent;
      margin-top: 2px;

      .el-popper__arrow {
        top: 50%;
        right: -$popper-arrow-offset;
        transform: rotate(45deg);
      }
    }
  }

  @include e(green-pulse) {
    position: absolute;
    display: block;
    pointer-events: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circle {
    border-radius: 50%;
    background: rgba(155, 194, 37, 1);
    position: absolute;
  }

  .animation {
    opacity: 0;
    animation: scale-in 1.5s infinite;
  }

  .first {
    width: 16px;
    height: 16px;
    opacity: 1;
  }

  .second {
    width: 24px;
    height: 24px;
    animation-delay: .25s;
  }

  .third {
    width: 32px;
    height: 32px;
    animation-delay: -.75;
  }

  @keyframes scale-in {
    from {
      transform: scale(.25, .25);
      opacity: 1;
    }

    to {
      transform: scale(1.5, 1.5);
      opacity: 0;
    }
  }

  @include m(with-green-pulse) {
    &[x-placement^='top'] {
      margin-bottom: $popper-indent-with-greenpulse;

      .el-popper__green-pulse {
        bottom: -$popper--greenpulse-offset;
        left: 50%;
      }
    }

    &[x-placement^='bottom'] {
      margin-top: $popper-indent-with-greenpulse;

      .el-popper__green-pulse {
        top: -$popper--greenpulse-offset;
        left: 50%;
      }
    }

    &[x-placement^='right'] {
      margin-left: $popper-indent-with-greenpulse;

      .el-popper__green-pulse {
        top: 50%;
        left: -$popper--greenpulse-offset;
      }
    }

    &[x-placement^='left'] {
      margin-right: $popper-indent-with-greenpulse;

      .el-popper__green-pulse {
        top: 50%;
        right: -$popper--greenpulse-offset;
      }
    }
  }
}
