@import 'common/variables';
@import 'common/mixins';

$progress-colors: (
  brand-secondary: $av-brand-secondary,
  fixed-success-lighter: $av-fixed-success,
  fixed-warning: $av-fixed-warning,
  fixed-critical: $av-fixed-critical,
  fixed-danger: $av-fixed-danger,
  chart-info: $av-chart-info,
  chart-success: $av-chart-success,
  chart-warning: $av-chart-warning,
  chart-critical: $av-chart-critical,
  chart-danger: $av-chart-danger,
  chart-neutral: $av-chart-neutral,
  chart-blue: $av-chart-blue,
  chart-green: $av-chart-green,
  chart-light-blue: $av-chart-light-blue,
  chart-red: $av-chart-red,
  chart-brown: $av-chart-brown,
  chart-yellow: $av-chart-yellow,
  chart-purple: $av-chart-purple,
  chart-grey: $av-chart-grey,
  chart-violet: $av-chart-violet,
  chart-turquoise: $av-chart-turquoise,
  chart-transparent: $av-chart-transparent
);

@include b(progress) {
  @include m(size-medium) {
    .el-progress-bar {
      height: 8px;
    }
  }

  @include m(size-small) {
    .el-progress-bar {
      height: 4px;
    }
  }
}

@include b(progress-bar) {
  box-sizing: border-box;

  @include e((outer, inner)) {
    height: inherit;
  }

  @include e(outer) {
    border-radius: $av-border-radius-2;
    overflow: hidden;
    background-color: $av-brand-secondary-light;

    .el-popover__reference {
      width: initial;
    }
  }

  @include e(inner) {
    @include color-modifiers(background-color, $progress-colors);

    @include m(animate) {
      @include animate-background();
    }

    @include m(animate-freeze) {
      animation-duration: 0s;
    }
  }
}

@include b(progress-circle) {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
  transition: stroke-dashoffset .5s;

  @include e(outer) {
    fill: transparent;
    stroke: $av-brand-light;
    stroke: {
      width: 2px;
      linejoin: round;
    }
  }

  @include e(inner) {
    fill: transparent;
    stroke: {
      width: 2px;
      dasharray: 44;
      dashoffset: 44;
      linejoin: round;
    }

    @include color-modifiers(stroke, $progress-colors);
  }
}
