@import 'common/variables';
@import 'common/mixins';

@include b(radio) {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  outline: none;
  position: relative;
  cursor: pointer;
  user-select: none;

  @include e(content) {
    display: flex;
    align-items: center;
    height: inherit;
  }

  @include e(control) {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    width: 16px;
    height: 16px;
    border: $av-border-sm $av-brand-light;
    border-radius: $av-border-radius-circle;
    background-color: $av-fixed-white;
    background-clip: content-box;
  }

  @include e(original) {
    width: 0;
    height: 0;
    margin: 0;
    outline: none;
    position: absolute;
    opacity: 0;
  }

  @include e(label) {
    padding-left: 8px;
  }

  @include e(description) {
    color: $av-fixed-light;
    display: block;
    padding-left: 24px;
  }

  @include when(disabled) {
    color: $av-fixed-lighter;
    cursor: default;

    .el-radio__control {
      background-color: $av-brand-accent;
    }

    @include e(description) {
      color: $av-fixed-lighter;
    }
  }

  @include when(checked) {
    .el-radio__control {
      border: 5px solid $av-brand-primary;
    }

    &.is-disabled {
      .el-radio__control {
        border: 4px solid $av-brand-accent;
        background-color: $av-brand-light;
        min-width: 14px;
        width: 16px;
        height: 16px;

        &::before {
          display: block;
          content: '';
          min-width: 14px;
          width: 14px;
          height: 14px;
          border-radius: $av-border-radius-circle;
          border: $av-border-sm $av-brand-light;
        }
      }
    }
  }

  &:focus:not(.is-disabled) {
    .el-radio__control {
      box-shadow: 0 0 0 $av-border-width-md $av-fixed-focus;
    }

    &:active .el-radio__control {
      box-shadow: none;
    }
  }

  &:not(.is-disabled):not(.is-checked) .el-radio__control:active,
  &:not(.is-disabled):not(.is-checked).is-active .el-radio__control {
    border-color: $av-brand-primary-active;
  }
}
