@import 'common/variables';
@import 'common/mixins';

@include b(ribbon) {
  .el-alert__container {
    align-items: center;
  }

  .el-alert__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .el-alert__actions-right {
    padding-right: 0;
  }

  @include e(pagination) {
    flex: 1 0 auto;
    text-align: end;
  }
}
