@import 'common/variables';
@import 'common/mixins';

@include b(search) {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(.el-search--embedded) .el-input__container {
    background-color: $av-fixed-white;
  }

  @include e(suggestions) {
    margin-top: 8px !important;
    border-radius: $av-border-radius-2;
    border: $av-border-sm $av-brand-primary;
    box-shadow: var(--el-shadow-regular);
  }

  @include e(icon) {
    cursor: pointer;
    text-align: center;

    &:focus:not(:active) {
      background-color: $av-fixed-focus;
    }
  }

  @include m(large) {
    height: 100%;

    .el-input {
      height: 64px;
      padding: 16px 8px;
    }
  }

  @include m(embedded) {
    .el-autocomplete {
      padding: 0 8px;
    }
  }

  @include m(collapse-hover) {
    width: 64px;
    height: 64px;

    &:hover {
      background-color: var(--el-secondary-hover);
    }

    &:active {
      background-color: var(--el-secondary-active);
    }
  }
}
