@import 'common/variables';
@import 'common/mixins';
@import 'select-dropdown';
@import 'tag';
@import 'option';
@import 'option-group';
@import 'scrollbar';
@import 'input';

@include b(select) {
  display: inline-block;
  position: relative;
  width: 100%;

  @include e(multiple-text) {
    padding-left: 16px;
  }

  .el-input {
    &__container {
      cursor: pointer;
    }

    &__editor {
      cursor: pointer;
    }

    .el-select__caret {
      display: flex;
      align-items: center;
      color: $av-brand-primary;
      font-size: $av-font-size-s;
      cursor: pointer;

      @include when(show-close) {
        font-size: $av-font-size-xs;
        text-align: center;
        border-radius: $av-border-radius-circle;
        color: $av-fixed-light;

        &:hover {
          color: $av-fixed-light;
        }
      }
    }

    &.is-disabled {
      .el-input__editor {
        cursor: default;
      }
    }
  }

  @include e(input) {
    border: none;
    outline: none;
    padding: 0;
    margin-left: 15px;
    color: $av-fixed-light;
    font-size: $av-font-size-xs;
    vertical-align: middle;
    appearance: none;
    height: 28px;
    background-color: transparent;

    @include when(mini) {
      height: 14px;
    }
  }

  @include e(loading) {
    height: 80px;
  }

  @include e(close) {
    cursor: pointer;
    position: absolute;
    top: 8px;
    z-index: $av-z-index-toolbar;
    right: 25px;
    color: $av-fixed-light;
    line-height: $av-line-height-xs;
    font-size: $av-font-size-xs;

    &:hover {
      color: $av-fixed-light;
    }
  }

  @include e(tags) {
    position: absolute;
    line-height: normal;
    white-space: normal;
    z-index: $av-z-index-dropdowns;
    top: 50%;
    transform: translateY(-50%);
  }

  .el-tag {
    box-sizing: border-box;
    border-color: transparent;
    margin: 3px 0 3px 6px;
    background-color: $av-brand-primary;

    &__close {
      margin-top: -5px;
      margin-left: 3px;
      color: $av-fixed-white;

      &:hover {
        color: $av-fixed-light;
      }

      &::before {
        display: block;
        transform: translate(0, .5px);
      }
    }
  }

  @include m(small) {
    line-height: $av-line-height-s;
    vertical-align: top;

    @include e(multiple-text) {
      padding-left: 8px;
    }

    .el-input {
      .el-select__caret {
        line-height: $av-line-height-xs;
      }
    }
  }

  @include m(translucent) {
    .el-input,
    .el-input.is-active,
    .el-input.is-focus {
      &__editor::placeholder {
        color: var(--el-translucent-text);
      }

      &__editor:disabled::placeholder {
        color: var(--el-translucent-text);
      }

      .el-input__container {
        border-color: transparent;
        background: var(--el-translucent);
      }

      .el-input__suffix {
        .el-input__icon,
        .i--color-brand-primary::before {
          color: var(--el-translucent-text);
        }
      }

      input,
      .el-text,
      .el-input__label,
      .el-input__placeholder {
        color: var(--el-translucent-text);
      }
    }

    .el-input.is-disabled .el-input__container {
      opacity: .3;
    }
  }
}
