@import 'common/variables';
@import 'common/mixins';
@import './popper';

@include b(select-dropdown) {
  position: absolute;
  z-index: $av-z-index-toolbar + 1;
  border: $av-border-sm $av-brand-primary;
  border-radius: $av-border-radius-2;
  background-color: $av-fixed-white;
  box-shadow: var(--el-shadow-regular);
  box-sizing: border-box;
  margin: 8px 0;

  @include e(wrap) {
    overflow-y: auto;
  }

  @include e(list) {
    list-style: none;
    padding: 8px 0;
    margin: 0;

    &.is-empty {
      padding: 0;
    }
  }

  @include e(empty) {
    @include text-body;

    line-height: 32px;
    color: $av-fixed-light;
    text-align: center;
    padding: 16px 24px;
  }

  @include e(scroll-loading) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    position: relative;
    height: 40px;
  }

  @include e(search-count) {
    @include utils-ellipsis;

    color: $av-fixed-light;
    padding: 0 16px;
    position: relative;
    height: 40px;
    font-size: $av-font-size-xs;
    line-height: 2.86;
    box-sizing: border-box;
    text-align: left;
  }

  .el-popper__arrow {
    //transform: translateX(-400%);
  }

  @include when(arrow-fixed) {
    .el-popper__arrow {
      //transform: translateX(-200%);
    }
  }
}

@include b(select-dropdown-search) {
  hr {
    margin: 0;
  }
}

@include b(select-dropdown-search-form) {
  height: 48px;
  display: flex;
  align-items: center;
}
