@import 'common/variables';
@import 'common/mixins';
@import 'num-picker';
@import 'tooltip';

@include b(slider) {
  @include utils-clearfix;

  @include e(runway) {
    width: 100%;
    height: 6px;
    margin: 16px 0;
    background-color: $av-brand-lighter;
    border-radius: $av-border-radius-2;
    position: relative;
    cursor: pointer;
    vertical-align: middle;

    &.show-input {
      margin-right: 154px;
      width: auto;
    }

    &.disabled {
      cursor: default;

      .el-slider__bar {
        background-color: $av-fixed-light;
      }

      .el-slider__button {
        border-color: $av-fixed-light;

        &:hover,
        &.hover,
        &.dragging {
          transform: scale(1);
        }

        &:hover,
        &.hover {
          cursor: default;
        }

        &.dragging {
          cursor: default;
        }
      }

      .el-slider__button-wrapper {
        &:hover,
        &.hover {
          cursor: default;
        }

        &.dragging {
          cursor: default;
        }
      }
    }
  }

  @include e(input) {
    float: right;
    margin-top: 3px;
    width: 130px;
  }

  @include e(bar) {
    height: 6px;
    background-color: $av-brand-primary;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
  }

  @include e(button-wrapper) {
    @include utils-vertical-center;

    height: 36px;
    width: 36px;
    position: absolute;
    top: -15px;
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    user-select: none;
    outline: none;

    .el-tooltip {
      vertical-align: middle;
      display: inline-block;
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  @include e(button) {
    width: 16px;
    height: 16px;
    border: $av-border-md $av-brand-primary;
    background-color: $av-fixed-white;
    border-radius: 50%;
    // transition: .2s;
    user-select: none;

    &:hover,
    &.hover,
    &.dragging {
      transform: scale(1.2);
    }

    &:hover,
    &.hover {
      cursor: grab;
    }

    &.dragging {
      cursor: grabbing;
    }
  }

  @include e(stop) {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: $av-border-radius-circle;
    background-color: $av-fixed-white;
    transform: translateX(-50%);
  }

  @include when(vertical) {
    position: relative;

    .el-slider__runway {
      width: 6px;
      height: 100%;
      margin: 0 16px;
    }

    .el-slider__bar {
      width: 6px;
      height: auto;
      border-radius: 0 0 3px 3px;
    }

    .el-slider__button-wrapper {
      top: auto;
      left: -15px;
      transform: translateY(50%);
    }

    .el-slider__stop {
      transform: translateY(50%);
    }

    &.el-slider--with-input {
      padding-bottom: #{58px};

      .el-slider__input {
        overflow: visible;
        float: none;
        position: absolute;
        bottom: 22px;
        width: 36px;
        margin-top: 15px;

        .el-input__inner {
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
        }

        .el-input-number__decrease,
        .el-input-number__increase {
          top: 32px;
          margin-top: -1px;
          border: $av-border-sm $av-brand-light;
          line-height: $av-line-height-s;
          box-sizing: border-box;
          // transition: $av-transition-border;
        }

        .el-input-number__decrease {
          width: 18px;
          right: 18px;
          border-bottom-left-radius: $av-border-radius-2;
        }

        .el-input-number__increase {
          width: 19px;
          border-bottom-right-radius: $av-border-radius-2;

          ~ .el-input .el-input__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        &:hover {
          .el-input-number__decrease,
          .el-input-number__increase {
            border-color: $av-fixed-light;
          }
        }

        &:active {
          .el-input-number__decrease,
          .el-input-number__increase {
            border-color: $av-brand-primary;
          }
        }
      }
    }
  }
}
