@import 'common/variables';
@import 'common/mixins';

$spinner-colors: (
  brand-primary: $av-brand-primary,
  brand-secondary: $av-brand-secondary,
  fixed-white: $av-fixed-white
);

@include b(spinner) {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-top-color: transparent !important;
  border-radius: $av-border-radius-circle;

  @include color-modifiers(border-color, $spinner-colors);

  @each $size in (16, 24) {
    @include m(size-#{$size}) {
      width: #{$size}px;
      height: #{$size}px;
      border-width: 2px;
      animation: rotate .4s linear infinite;
    }
  }

  @each $size in (32, 48) {
    @include m(size-#{$size}) {
      width: #{$size}px;
      height: #{$size}px;
      border-width: 3px;
      animation: rotate .5s linear infinite;
    }
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}
