@import 'common/variables';
@import 'common/mixins';

@include b(split-button) {
  @include utils-clearfix;

  display: flex;
  max-width: 100%;
  outline: none;

  .el-button {
    float: left;
    position: relative;

    + .el-button {
      margin-left: 0;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      // @fixme: define correct color
      @import './common/variables/colors-sass'; /* stylelint-disable-line no-duplicate-at-import-rules */

      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: $av-border-sm rgba($av-fixed-primary, .2);
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  @each $type in (primary, success, warning, danger, info) {
    .el-button--#{$type} {
      &:first-child {
        // @fixme: define correct color
        border-right-color: rgba(255, 255, 255, .5);  // in the past `rgba($av-fixed-white, .5)`
      }

      &:last-child {
        // @fixme: define correct color
        border-left-color: rgba(255, 255, 255, .5);  // in the past `rgba($av-fixed-white, .5)`
      }

      &:not(:first-child):not(:last-child) {
        // @fixme: define correct color
        border-left-color: rgba(255, 255, 255, .5);  // in the past `rgba($av-fixed-white, .5)`
        border-right-color: rgba(255, 255, 255, .5);  // in the past `rgba($av-fixed-white, .5)`
      }
    }
  }
}
