@import 'common/variables';
@import 'common/mixins';

@include b(stepper) {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-weight: $av-font-weight-bold;
  height: inherit;
  background-color: $av-fixed-white;
  border-bottom-left-radius: $av-border-radius-2;

  @include when(horizontal) {
    flex-direction: row;
    background-color: transparent;
  }
}
