@import 'common/variables';
@import 'common/mixins';

@include b(stepper-item) {
  display: inline-flex;
  align-items: center;
  padding: 16px 24px;
  background-clip: padding-box;
  font-size: $av-font-size-xs;
  line-height: $av-line-height-m;
  color: $av-fixed-primary;
  border-bottom: $av-border-sm $av-brand-lighter;

  @include when(completed) {
    color: $av-brand-primary;

    @include when(interactive) {
      cursor: pointer;
      color: var(--av-brand-primary);

      &:not(.is-active):hover {
        background-color: $av-brand-accent;
      }

      @include when(pressed) {
        background-color: $av-brand-accent;
      }

      @include when(focus) {
        background-color: $av-fixed-focus;
      }
    }
  }

  @include when(visited) {
    color: $av-brand-primary;

    @include when(interactive) {
      cursor: pointer;

      &:not(.is-active):hover {
        background-color: $av-brand-accent;
      }

      @include when(pressed) {
        background-color: $av-brand-accent;
      }

      @include when(focus) {
        background-color: $av-fixed-focus;
      }
    }
  }

  @include when(active) {
    color: $av-brand-primary;
    background-color: $av-brand-lightest;

    @include when(interactive) {
      cursor: auto;
    }
  }

  &:focus {
    outline: none;
  }

  @include e(icon) {
    height: 16px;
    margin-right: 8px;
  }

  @include e(bullet) {
    letter-spacing: -2px;

    &::after {
      content: '.';
      margin-right: 8px;
    }
  }

  @include e(name) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include b(stepper) {
  @include when(horizontal) {
    @include b(stepper-item) {
      margin-right: 8px;
      padding: 0 8px;
      border: none;
      min-width: 0;

      &:last-child {
        margin-right: 0;
      }

      @media (max-width: $--md) {
        margin-right: 0;
      }

      @include when(completed) {
        border-radius: $av-border-radius-2;

        @include when(interactive) {
          @include when(pressed) {
            background-color: $av-brand-accent;
          }
        }
      }

      @include when(visited) {
        border-radius: $av-border-radius-2;

        @include when(interactive) {
          @include when(pressed) {
            background-color: $av-brand-accent;
          }
        }
      }

      @include e(icon) {
        font-size: $av-font-size-xs;
        background-color: transparent;
      }
    }
  }
}
