@import 'common/mixins';
@import 'common/variables';
@import 'table/table-action-item';
@import 'table/table-actions';
@import 'table/table-actions-column';
@import 'table/table-background';
@import 'table/table-body';
@import 'table/table-cell';
@import 'table/table-column';
@import 'table/table-column-resize';
@import 'table/table-columns-visibility';
@import 'table/table-head';
@import 'table/table-head-cell';
@import 'table/table-head-row';
@import 'table/table-list';
@import 'table/table-row';
@import 'table/table-rows-group-header';
@import 'table/table-rtl';
@import 'table/table-sizes';
@import 'table/table-skeleton';

@include b(table) {
  @include text-body;

  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;

  .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }

  @include e((top, footer)) {
    height: $av-line-height-l;
    line-height: $av-line-height-l;
  }

  &:hover .el-table__body_wrapper > .el-scrollbar > .el-scrollbar__bar {
    opacity: 1;
  }

  @include e(empty-block) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 24px;
    position: relative;
  }

  @include e(empty-text) {
    color: $av-fixed-light;
    text-align: center;
  }

  @include e(append-loader) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include m(border-top) {
    border-top: $av-border-sm $av-brand-accent;
  }

  @include m(border-bottom) {
    .el-table__row:last-of-type {
      .el-table__cell {
        border-bottom: $av-border-sm $av-brand-lighter;
      }
    }
  }

  @include m(bordered-vertical) {
    .el-table__head_cell {
      border-right: $av-border-sm $av-brand-accent;

      @include when((last-scroll-column, last-column)) {
        border-right: none;
      }
    }
  }

  @include m(striped) {
    .el-table__row:nth-child(even) {
      .el-table__cell {
        background-color: $av-brand-lightest;
      }
    }
  }

  @include m(scrollable-x) {
    .el-table__head_wrapper,
    .el-table__footer_wrapper {
      overflow-x: hidden;
      overflow-y: visible;
      position: relative;
    }

    .el-table__body_wrapper {
      overflow-x: auto;
      overflow-y: visible;
      display: block;
    }
  }

  @include m(scrollable-y) {
    .el-table__body_wrapper {
      overflow-y: auto;
      display: block;
    }
  }

  @include e(expand-column) {
    .cell {
      padding: 0;
      text-align: center;
    }
  }

  @include e(disable-overflow) {
    .el-tooltip-wrapper .content {
      overflow: initial;
      text-overflow: initial;
      width: 100%;
    }
  }

  @include e(indent) {
    &--leaf {
      margin-right: 8px;
    }
  }

  @include e(expand-icon) {
    position: relative;
    cursor: pointer;
    color: $av-brand-primary;
    font-size: $av-font-size-xxs;
    transform: rotate(0deg);
    transition: rotate .2s ease;
    display: inline-flex;
    user-select: none;
    border-radius: 3px;
    padding: 8px;
    margin: 0;

    &:hover {
      background-color: $av-brand-lighter;
    }

    @include m(expanded) {
      position: relative;
      transform: rotate(90deg);

      i::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 3px;
        left: 0;
        top: 0;
        border: 2px solid $av-brand-primary;
      }
    }

    @include m(leaf) {
      visibility: hidden;
    }

    > .el-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;
    }
  }

  @include e(expanded-cell) {
    background-color: $av-fixed-white;

    //Purely to increase weight
    &[class*=cell] {
      padding: 20px 50px;
      border-bottom: 1px solid $av-brand-lighter;
    }

    &:hover {
      background-color: transparent !important;
    }
  }
}
