@import 'common/variables';
@import 'common/mixins';

$border-radius: $av-border-radius-2 + $av-border-width-md;

@include b(tabs) {
  width: 100%;

  @include e(nav) {
    flex-wrap: nowrap;
    display: flex;
    border: $av-border-sm $av-brand-primary;
    border-radius: $av-border-radius-2;
    height: 32px;
    box-sizing: border-box;
    line-height: $av-line-height-m - 2*$av-border-width-sm;

    @include m(large) {
      height: 48px;
      line-height: $av-line-height-l - 2*$av-border-width-sm;
    }

    @include m(spaced) {
      margin: 24px 24px 0 24px;
    }
  }

  @include e(item) {
    padding: 0 16px;
    height: 100%;
    line-height: inherit;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: $av-font-size-xs;
    font-weight: $av-font-weight-bold;
    color: $av-brand-primary;
    position: relative;
    border: 0;
    border-right: $av-border-sm $av-brand-primary;
    background-color: transparent;
    min-width: 0;
    outline: none;

    &:-moz-focusring {
      outline: none;
    }

    &:last-child {
      border: 0;
      border-radius: 0 $av-border-radius-2 $av-border-radius-2 0;
    }

    &:first-child {
      border-radius: $av-border-radius-2 0 0 $av-border-radius-2;
    }

    &.is-focus:focus:not(:active) {
      outline: none;
      overflow: visible;

      &::before {
        content: '';
        border: $av-border-md $av-fixed-focus;
        border-width: 3px 0;
        position: absolute;
        right: 0;
        left: 0;
        top: -4px;
        bottom: -4px;
        box-sizing: content-box;
      }

      &:first-child::before {
        border-width: $av-border-width-md 0 $av-border-width-md $av-border-width-md;
        left: -4px;
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child::before {
        border-width: $av-border-width-md $av-border-width-md $av-border-width-md 0;
        right: -4px;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    &:hover {
      background-color: var(--el-secondary-hover);
      cursor: pointer;
    }

    &:active {
      background-color: var(--el-secondary-active);
    }

    @include when(active) {
      background-color: var(--el-secondary-active);
    }

    @include when(disabled) {
      color: $av-fixed-light;
      cursor: default;
    }
  }

  @include e(item-label) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @include e(content) {
    overflow: hidden;
    position: relative;
  }
}
