@import 'common/variables';
@import 'common/mixins';

@include b(tooltip) {
  @include e(popper) {
    @include text-caption;

    letter-spacing: $av-letter-spacing;
    font-weight: $av-font-weight-bold;
    color: $av-fixed-white;
    box-sizing: border-box;
    word-break: break-word;
    max-width: 272px;
    padding: 16px;
    border-radius: $av-border-radius-1;
    background: $av-fixed-primary;
    box-shadow: var(--el-shadow-regular);
    z-index: $av-z-index-tooltips;
    position: absolute;
    display: none;

    &[data-show] {
      display: block !important;
    }
    @include m(auto-width) {
      max-width: none;
    }

    .el-popper__arrow {
      border-color: transparent;
      background-image: linear-gradient(45deg, transparent 45%, $av-fixed-primary 45%);
    }

    &[data-popper-placement^='top'] {
      > .el-popper__arrow {
        bottom: -4px;
        transform: rotate(-225deg);
      }
    }

    &[data-popper-placement='top'] {
      > .el-popper__arrow {
        left: 50%;
      }
    }

    &[data-popper-placement='top-start'] {
      > .el-popper__arrow {
        left: 33.5px;
      }
    }

    &[data-popper-placement='top-end'] {
      > .el-popper__arrow {
        left: 132.5px;
      }
    }

    &[data-popper-placement^='left'] {
      transform-origin: right center;

      > .el-popper__arrow {
        right: -4px;
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement='left-start'] {
      > .el-popper__arrow {
        top: 12px;
      }
    }

    &[data-popper-placement='left'] {
      > .el-popper__arrow {
        top: 21px;
      }
    }

    &[data-popper-placement='left-end'] {
      > .el-popper__arrow {
        top: 30px;
      }
    }

    &[data-popper-placement^='bottom'] {
      transform-origin: center top;

      > .el-popper__arrow {
        top: -4px;
      }
    }

    &[data-popper-placement='bottom-start'] {
      > .el-popper__arrow {
        left: 47.5px;
      }
    }

    &[data-popper-placement='bottom'] {
      > .el-popper__arrow {
        left: 97.5px;
      }
    }

    &[data-popper-placement='bottom-end'] {
      > .el-popper__arrow {
        left: 142px;
      }
    }

    &[data-popper-placement^='right'] {
      transform-origin: left center;

      > .el-popper__arrow {
        left: -4px;
        transform: rotate(-135deg);
      }
    }

    &[data-popper-placement='right-start'] {
      > .el-popper__arrow {
        top: 12px;
      }
    }

    &[data-popper-placement='right'] {
      > .el-popper__arrow {
        top: 21px;
      }
    }

    &[data-popper-placement='right-end'] {
      > .el-popper__arrow {
        top: 30px;
      }
    }
  }
}
