@import 'common/variables';
@import 'common/mixins';

@include b(tooltip-wrapper) {
  display: inline-flex;
  align-items: center;
  overflow: hidden;

  .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @supports (-webkit-appearance:none) {
      &::after {
        content: '';
        display: block;
      }
    }
  }
}
