@import 'common/variables';
@import 'common/mixins';

@include b(upload) {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  outline: none;

  @include e(input) {
    display: none;
  }
}

@include b(upload-dragger) {
  text-align: center;
  position: relative;
  overflow: hidden;

  @include e(inner-mask) {
    position: absolute;
    margin: auto;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;

    @include when(dragover) {
      border-radius: $av-border-radius-2;
      border: $av-border-width-sm dashed $av-brand-lighter;
      border-color: $av-brand-primary;
      background-color: $av-brand-lightest;
    }
  }

  @include e(content) {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-50%);
  }

  @include e(text) {
    @include utils-ellipsis;

    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
  }

  @include when(dragover) {
    .drag-hidden {
      visibility: hidden;
    }
  }
}
