@import '../common/variables';
@import '../common/mixins';

@include b(file-tree) {
  flex-grow: 1;

  .el-tree {
    outline: none;

    .btn-actions {
      width: 24px;
      height: 24px;
    }

    &__empty-block {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > .el-tree-node:first-child {
      > .el-tree-node__content {
        border-top: $av-border-sm $av-brand-lighter;
      }
    }

    .el-tree-node {
      &__file-tree {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 29px;
      }

      &__content {
        padding-right: 24px;
        overflow: visible;
        background-clip: padding-box;
        border-bottom: $av-border-sm $av-brand-lighter;

        &:hover {
          background-color: var(--el-secondary-hover);
        }

        @include when(current) {
          background-color: $av-brand-lightest;
        }

        @include when(focus) {
          background-color: $av-fixed-focus;
        }

        .el-checkbox {
          margin-right: 16px;
        }
      }

      &__expand-icon {
        margin-right: 16px;
      }

      &__customized-icon {
        margin-right: 16px;
      }
    }
  }
}
