@import '../common/variables';
@import '../common/mixins';

@include b(file-browser) {
  .el-form-item {
    padding-bottom: 0;
  }

  .el-aside {
    background-color: $av-fixed-white;

    .el-menu-item {
      min-height: 56px !important;
      height: 56px;

      &:hover {
        background-color: var(--el-secondary-hover) !important;
      }

      @include when(active) {
        background-color: $av-brand-lightest !important;
      }

      @include when(focus) {
        background-color: $av-fixed-focus !important;
      }
    }
  }

  .el-dialog__aside {
    min-height: 100%;
  }

  .el-dialog__flex-wrapper {
    display: block;
  }

  &__main {
    height: 512px;
    max-height: 512px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .el-empty-screen {
    text-align: center;

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 512px;
      width: 100%;
      background-color: $av-solid-brand-lightest;
    }
  }

  .loading-wrapper {
    height: 68px;
  }
}
