@layer ui-base {
  :root {
    --acv-dialog-color: var(--acv-color-brand-primary);
    --acv-dialog-z-index: var(--acv-z-index-dialog);
    --acv-dialog-bg-color: var(--acv-color-surface-fixed-secondary);
    --acv-dialog-radius: var(--acv-radius-small);
    --acv-dialog-shadow-color: var(--acv-color-surface-inversed-secondary);
    --acv-dialog-shadow: var(--acv-shadow-shape)
      var(--acv-color-surface-primary);
    --acv-dialog-border-color: var(--acv-color-surface-primary);
    --acv-dialog-title-font-size: var(--acv-font-size-body);
    --acv-dialog-title-weight: 500;
    --acv-dialog-title-color: var(--acv-color-text-primary);
    --acv-dialog-header-v-padding: 8px;
    --acv-dialog-header-h-padding: 14px;
    --acv-dialog-body-v-padding: 14px;
    --acv-dialog-body-h-padding: 14px;
    --acv-dialog-body-line-height: var(--acv-font-line-height-regular);
    --acv-dialog-footer-v-padding: 10px;
    --acv-dialog-footer-h-padding: 16px;
    --acv-dialog-close-color: var(--acv-color-text-status-info);
    --acv-dialog-close-color-hover: var(--acv-color-surface-primary);
    --acv-dialog-resizer-color: var(--acv-color-surface-primary);
    --acv-dialog-backdrop-color: hsl(215deg, 30%, 20%, 0.9);
    --acv-dialog-width: var(--acv-dialog-width-small);
    --acv-dialog-width-small: 512px;
    --acv-dialog-width-medium: 672px;
    --acv-dialog-width-large: 832px;
    --acv-dialog-width-x-large: 1184px;
    --acv-dialog-height: var(--acv-dialog-height-small);
    --acv-dialog-height-auto: auto;
    --acv-dialog-height-fit: min-content;
    --acv-dialog-height-small: 512px;
    --acv-dialog-height-medium: 640px;
    --acv-dialog-height-large: 832px;
    --acv-dialog-margin: var(--acv-dialog-margin-small);
    --acv-dialog-margin-small: 48px;
    --acv-dialog-margin-medium: 64px;
    --acv-dialog-margin-large: 128px;
  }
}
