[data-theme="Acronis"] {
  /* colors */
  --ac-shadow-big-color: hsla(215deg, 30%, 20%, 0.9);
  --ac-shadow-regular-color: hsla(215deg, 30%, 20%, 0.2);
  --ac-shadow-small-color: hsla(215deg, 30%, 20%, 0.1);

  /* numbers */
  --ac-shadow-big-x-offset: 0rem;
  --ac-shadow-big-y-offset: 0.625rem;
  --ac-shadow-big-blur: 1.25rem;
  --ac-shadow-regular-x-offset: 0rem;
  --ac-shadow-regular-y-offset: 0.625rem;
  --ac-shadow-regular-blur: 1.25rem;
  --ac-shadow-small-x-offset: 0rem;
  --ac-shadow-small-y-offset: 0.25rem;
  --ac-shadow-small-blur: 0.5rem;
}

[data-theme="Constructor"] {
  /* colors */
  --ac-shadow-big-color: hsla(0deg, 0%, 0%, 0.25);
  --ac-shadow-regular-color: hsla(0deg, 0%, 0%, 0.25);
  --ac-shadow-small-color: hsla(0deg, 0%, 0%, 0.15);

  /* numbers */
  --ac-shadow-big-x-offset: 0rem;
  --ac-shadow-big-y-offset: 0rem;
  --ac-shadow-big-blur: 1.25rem;
  --ac-shadow-regular-x-offset: 0rem;
  --ac-shadow-regular-y-offset: 0rem;
  --ac-shadow-regular-blur: 1.25rem;
  --ac-shadow-small-x-offset: 0rem;
  --ac-shadow-small-y-offset: 0rem;
  --ac-shadow-small-blur: 0.5rem;
}

[data-theme="Virtuozzo"] {
  /* colors */
  --ac-shadow-big-color: hsl(0deg, 0%, 100%);
  --ac-shadow-regular-color: hsl(0deg, 0%, 100%);
  --ac-shadow-small-color: hsl(0deg, 0%, 100%);

  /* numbers */
  --ac-shadow-big-blur: 0rem;
  --ac-shadow-big-x-offset: 0rem;
  --ac-shadow-big-y-offset: 0rem;
  --ac-shadow-regular-blur: 0rem;
  --ac-shadow-regular-x-offset: 0rem;
  --ac-shadow-regular-y-offset: 0rem;
  --ac-shadow-small-blur: 0rem;
  --ac-shadow-small-x-offset: 0rem;
  --ac-shadow-small-y-offset: 0rem;
}
