:root {
  --ac-border-radius-none: 0px;
  --ac-border-radius-small: 1px;
  --ac-border-radius-medium: 2px;
  --ac-border-radius-large: 4px;
  --ac-border-radius-x-large: 8px;
  --ac-border-radius-2xlarge: 16px;
  --ac-border-radius-round: 100px;
  --ac-border-width-zero: 0px;
  --ac-border-width-normal: var(--ac-border-width-small, 1px);
  --ac-border-width-small: 1px;
  --ac-border-width-medium: 2px;
  --ac-border-width-large: 4px;
  --ac-border-width-x-large: 8px;
  --ac-border-style-solid: "solid";
  --ac-border-style-dashed: "dashed";
  --ac-font-height-regular: 16px;
  --ac-font-height-medium: 20px;
  --ac-font-height-large: 24px;
  --ac-font-height-x-large: 32px;
  --ac-font-height-2xlarge: 40px;
  --ac-font-height-3xlarge: 48px;
  --ac-font-size-zero: 0px;
  --ac-font-size-4xsmall: 10px;
  --ac-font-size-3xsmall: 11px;
  --ac-font-size-2xsmall: 12px;
  --ac-font-size-xsmall: 14px;
  --ac-font-size-small: 16px;
  --ac-font-size-medium: 18px;
  --ac-font-size-large: 24px;
  --ac-font-size-x-large: 32px;
  --ac-font-size-2xlarge: 36px;
  --ac-font-size-3xlarge: 40px;
  --ac-font-size-4xlarge: 48px;
  --ac-font-weight-thin: 100;
  --ac-font-weight-light: 300;
  --ac-font-weight-regular: 400;
  --ac-font-weight-accent: 500;
  --ac-font-weight-strong: 600;
  --ac-font-weight-bold: 700;
  --ac-font-weight-bolder: 900;
  --ac-line-height-xsmall: 1.1;
  --ac-line-height-small: 1.2;
  --ac-line-height-medium: 1.4;
  --ac-line-height-large: 1.5;
  --ac-line-height-x-large: 1.72;
  --ac-shadow-blur-regular: 8px;
  --ac-shadow-blur-large: 20px;
  --ac-shadow-position-zero: 0px;
  --ac-shadow-position-y-small: 4px;
  --ac-shadow-position-y-regular: 8px;
  --ac-spacing-00: 0px;
  --ac-spacing-04: 4px;
  --ac-spacing-08: 8px;
  --ac-spacing-12: 12px;
  --ac-spacing-16: 16px;
  --ac-spacing-20: 20px;
  --ac-spacing-24: 24px;
  --ac-spacing-28: 28px;
  --ac-spacing-32: 32px;
  --ac-spacing-36: 36px;
  --ac-spacing-48: 48px;
  --ac-spacing-56: 56px;
  --ac-z-index-negative: -1px;
  --ac-z-index-normal: 1px;
}
