@layer acv-base {
  :root {
    /* Insert component css variables here */
    --acv-checkbox-color: var(--acv-color-brand-primary);
    --acv-checkbox-disabled-color: var(--acv-color-bg-disabled);
    --acv-checkbox-error-color: var(--acv-color-bg-danger);
  }
}
