@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url('NotoSansJP-Thin.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('NotoSansJP-Light.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('NotoSansJP-Regular.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('NotoSansJP-Medium.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('NotoSansJP-Bold.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: url('NotoSansJP-Black.otf') format('opentype');
  unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 100;
  font-style: normal;
  src: url('NotoSansSC-Thin.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('NotoSansSC-Light.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('NotoSansSC-Regular.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('NotoSansSC-Medium.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('NotoSansSC-Bold.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'Noto Sans Chinese';
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  src: url('NotoSansSC-Black.otf') format('opentype');
  unicode-range: U+4E00-9FFF;
}
