/*
  Global styles of HTML elements
  You can add more styles to this layer to style HTML elements.
*/
@layer base {
  html {
    line-height: 1.5;
    text-size-adjust: none;
    tab-size: 4;
    font-family: var(--acv-font-family-default), sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    /* Set shorter line heights on headings and interactive elements */
    line-height: 1.1;
  }

  a:not([class]) {
    /* A elements that don't have a class get default styles */
    text-decoration-skip-ink: auto;
    font-weight: var(--acv-font-weight-accent);
    color: var(--acv-color-primary);

    &:hover {
      color: var(--acv-color-primary-dark);
    }
  }

  b,
  strong {
    font-weight: var(--acv-font-weight-strong);
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--acv-font-family-mono), monospace;
    font-size: var(--acv-font-size-body);
  }

  small {
    font-size: var(--acv-font-size-note);
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: hsl(218deg 11% 65%);
  }

  textarea:not([rows]) {
    /* Make sure textareas without a rows attribute are not tiny */
    min-height: 10em;
  }

  img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
