@import '../../common/variables';
@import '../../common/mixins';

@include b(sidebar-layout) {
  font-size: $av-font-size-s;
  line-height: $av-line-height-s;
  font-weight: $av-font-weight-normal;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  @include e(sidebar) {
    z-index: $av-z-index-normal;
    overflow: hidden;
    box-shadow: var(--el-shadow-vertical);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 256px;
  }

  @include e(panel) {
    position: relative;
  }

  @include when(open) {
    .el-sidebar-layout__panel {
      width: calc(100% - 256px);
      max-width: calc(100% - 256px);
    }
  }
}
