@import '../../common/variables';
@import '../../common/mixins';

@include b(sidebar-panel) {
  height: 100%;
  background-color: $av-fixed-white;

  @include e(wrapper) {
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }

  @include e(close) {
    background-color: $av-fixed-white;
    position: absolute;
    top: 20px;
    right: 16px;
    border-radius: 4px;
    z-index: 20;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $av-brand-accent;
    }
  }

  @include e(close-padding) {
    @include m(small) {
      margin-bottom: 32px;
    }

    @include m(large) {
      margin-bottom: 64px;
    }
  }

  @include e(preview) {
    margin-top: 64px;
    height: 128px;
    overflow: hidden;
  }

  @include e(sticky-title) {
    @include utils-ellipsis;

    background-color: $av-fixed-white;
    width: 100%;
    z-index: 10;
    height: 64px;
    line-height: 64px;
    padding: 0 64px 0 24px;
    position: absolute;
    top: 0;
    border-bottom: $av-border-sm $av-brand-lightest;
  }

  @include e(property-label) {
    color: $av-fixed-light;
  }

  @include e(action-wrapper) {
    padding: 0 24px;
  }

  @include e(action-list) {
    @include m(large-spacing) {
      margin-top: 48px;
    }

    @include m(small-spacing) {
      margin-top: 32px;
    }
  }

  @include e(action-group) {
    width: 100%;
  }

  @include e(action-divider) {
    margin: 20px 0;
  }
}
