@import '../../common/variables';
@import '../../common/mixins';

@include b(sidebar-title) {
  background-color: $av-fixed-white;
  width: 100%;
  z-index: 10;

  @include e(wrapper) {
    margin: 24px;
  }

  @include e(main-title) {
    line-height: 24px;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  @include e(subtitle) {
    line-height: 24px;
    color: $av-fixed-light;
  }
}
