:root {
  --acv-base-border-width-00: 0px;
  --acv-base-border-width-01: 1px;
  --acv-base-border-width-02: 2px;
  --acv-base-border-width-03: 3px;
  --acv-base-font-family-inter: Inter;
  --acv-base-font-line-height-16: 16px;
  --acv-base-font-line-height-20: 20px;
  --acv-base-font-line-height-24: 24px;
  --acv-base-font-line-height-32: 32px;
  --acv-base-font-line-height-40: 40px;
  --acv-base-font-line-height-48: 48px;
  --acv-base-font-line-height-56: 56px;
  --acv-base-font-line-height-64: 64px;
  --acv-base-font-size-10: 10px;
  --acv-base-font-size-11: 11px;
  --acv-base-font-size-12: 12px;
  --acv-base-font-size-14: 14px;
  --acv-base-font-size-16: 16px;
  --acv-base-font-size-18: 18px;
  --acv-base-font-size-24: 24px;
  --acv-base-font-size-32: 32px;
  --acv-base-font-size-40: 40px;
  --acv-base-font-size-48: 48px;
  --acv-base-font-size-56: 56px;
  --acv-base-font-weight-100: 100;
  --acv-base-font-weight-300: 300;
  --acv-base-font-weight-400: 400;
  --acv-base-font-weight-500: 500;
  --acv-base-font-weight-600: 600;
  --acv-base-font-weight-700: 700;
  --acv-base-font-weight-900: 900;
  --acv-base-height-16: 16px;
  --acv-base-height-24: 24px;
  --acv-base-height-32: 32px;
  --acv-base-height-40: 40px;
  --acv-base-height-48: 48px;
  --acv-base-radius-00: 0px;
  --acv-base-radius-01: 1px;
  --acv-base-radius-02: 2px;
  --acv-base-radius-03: 3px;
  --acv-base-radius-04: 4px;
  --acv-base-radius-06: 6px;
  --acv-base-radius-08: 8px;
  --acv-base-radius-16: 16px;
  --acv-base-radius-circle: 999px;
  --acv-base-shadow-blur-08: 4px;
  --acv-base-shadow-blur-20: 20px;
  --acv-base-shadow-position-y-00: 0px;
  --acv-base-shadow-position-y-04: 4px;
  --acv-base-shadow-position-y-08: 8px;
  --acv-base-spacing-00: 0px;
  --acv-base-spacing-02: 2px;
  --acv-base-spacing-04: 4px;
  --acv-base-spacing-08: 8px;
  --acv-base-spacing-12: 12px;
  --acv-base-spacing-16: 16px;
  --acv-base-spacing-24: 24px;
  --acv-base-spacing-32: 32px;
  --acv-base-spacing-40: 40px;
  --acv-base-spacing-48: 48px;
  --acv-base-spacing-56: 56px;
}
