@layer acv-base {
  :root {
    --acv-chart-color: var(--acv-color-chart-blue);
    --acv-color-chart-blue: rgb(38 104 197 / 1);
    --acv-color-chart-brown: rgb(174 115 57 / 1);
    --acv-color-chart-critical: rgb(255 129 13 / 1);
    --acv-color-chart-danger: rgb(234 57 57 / 1);
    --acv-color-chart-green: rgb(8 166 158 / 1);
    --acv-color-chart-gray: rgb(148 154 163 / 1);
    --acv-color-chart-info: rgb(64 139 234 / 1);
    --acv-color-chart-light-blue: rgb(137 201 246 / 1);
    --acv-color-chart-neutral: rgb(222 224 227 / 1);
    --acv-color-chart-purple: rgb(206 120 243 / 1);
    --acv-color-chart-red: rgb(241 92 92 / 1);
    --acv-color-chart-success: rgb(155 194 37 / 1);
    --acv-color-chart-transparent: rgb(137 201 246 / 0.5);
    --acv-color-chart-turquoise: rgb(36 174 226 / 1);
    --acv-color-chart-violet: rgb(111 91 149 / 1);
    --acv-color-chart-warning: rgb(255 193 7 / 1);
    --acv-color-chart-yellow: rgb(232 201 77 / 1);
    --acv-color-dark: rgb(36 49 67 / 0.9);
  }
}
