$av-shadow-small: 0px 4px 8px rgba(36, 49, 67, 0.1);
$av-shadow-regular: 0px 10px 20px rgba(36, 49, 67, 0.2);
$av-shadow-modal: 0px 10px 20px rgba(36, 49, 67, 0.9);
$av-shadow-vertical: -5px 0px 20px rgba(36, 49, 67, 0.2);
$av-shadow-vertical-right: 5px 0px 20px rgba(36, 49, 67, 0.2);
$av-shadow-vertical-dark: -5px 0px 20px rgba(0, 0, 0, 0.3);
$av-shadow-regular-dark: 0px 10px 20px rgba(0, 0, 0, 0.3);
$av-shadow-modal-dark: 0px 10px 20px rgba(0, 0, 0, 0.3);