$av-app-base: var(--av-app-base) !default;
$av-brand-accent: var(--av-brand-accent) !default;
$av-brand-light: var(--av-brand-light) !default;
$av-brand-lightest: var(--av-brand-lightest) !default;
$av-brand-primary: var(--av-brand-primary) !default;
$av-brand-secondary: var(--av-brand-secondary) !default;
$av-brand-secondary-accent: var(--av-brand-secondary-accent) !default;
$av-brand-secondary-light: var(--av-brand-secondary-light) !default;
$av-chart-blue: var(--av-chart-blue) !default;
$av-chart-brown: var(--av-chart-brown) !default;
$av-chart-critical: var(--av-chart-critical) !default;
$av-chart-danger: var(--av-chart-danger) !default;
$av-chart-green: var(--av-chart-green) !default;
$av-chart-grey: var(--av-chart-grey) !default;
$av-chart-info: var(--av-chart-info) !default;
$av-chart-light-blue: var(--av-chart-light-blue) !default;
$av-chart-neutral: var(--av-chart-neutral) !default;
$av-chart-purple: var(--av-chart-purple) !default;
$av-chart-red: var(--av-chart-red) !default;
$av-chart-success: var(--av-chart-success) !default;
$av-chart-transparent: var(--av-chart-transparent) !default;
$av-chart-turquoise: var(--av-chart-turquoise) !default;
$av-chart-violet: var(--av-chart-violet) !default;
$av-chart-warning: var(--av-chart-warning) !default;
$av-chart-yellow: var(--av-chart-yellow) !default;
$av-dark: var(--av-dark) !default;
$av-fixed-button: var(--av-fixed-button) !default;
$av-fixed-button-light: var(--av-fixed-button-light) !default;
$av-fixed-critical: var(--av-fixed-critical) !default;
$av-fixed-critical-accent: var(--av-fixed-critical-accent) !default;
$av-fixed-critical-dark: var(--av-fixed-critical-dark) !default;
$av-fixed-critical-light: var(--av-fixed-critical-light) !default;
$av-fixed-danger: var(--av-fixed-danger) !default;
$av-fixed-danger-accent: var(--av-fixed-danger-accent) !default;
$av-fixed-danger-dark: var(--av-fixed-danger-dark) !default;
$av-fixed-danger-light: var(--av-fixed-danger-light) !default;
$av-fixed-focus: var(--av-fixed-focus) !default;
$av-fixed-highlight: var(--av-fixed-highlight) !default;
$av-fixed-info: var(--av-fixed-info) !default;
$av-fixed-info-accent: var(--av-fixed-info-accent) !default;
$av-fixed-info-dark: var(--av-fixed-info-dark) !default;
$av-fixed-info-light: var(--av-fixed-info-light) !default;
$av-fixed-invisible: var(--av-fixed-invisible) !default;
$av-fixed-light: var(--av-fixed-light) !default;
$av-fixed-lighter: var(--av-fixed-lighter) !default;
$av-fixed-lightest: var(--av-fixed-lightest) !default;
$av-fixed-link: var(--av-fixed-link) !default;
$av-fixed-link-light: var(--av-fixed-link-light) !default;
$av-fixed-neutral: var(--av-fixed-neutral) !default;
$av-fixed-neutral-accent: var(--av-fixed-neutral-accent) !default;
$av-fixed-neutral-dark: var(--av-fixed-neutral-dark) !default;
$av-fixed-neutral-light: var(--av-fixed-neutral-light) !default;
$av-fixed-primary: var(--av-fixed-primary) !default;
$av-fixed-secondary: var(--av-fixed-secondary) !default;
$av-fixed-success: var(--av-fixed-success) !default;
$av-fixed-success-accent: var(--av-fixed-success-accent) !default;
$av-fixed-success-dark: var(--av-fixed-success-dark) !default;
$av-fixed-success-light: var(--av-fixed-success-light) !default;
$av-fixed-warning: var(--av-fixed-warning) !default;
$av-fixed-warning-accent: var(--av-fixed-warning-accent) !default;
$av-fixed-warning-dark: var(--av-fixed-warning-dark) !default;
$av-fixed-warning-light: var(--av-fixed-warning-light) !default;
$av-inversed-invisible: var(--av-inversed-invisible) !default;
$av-inversed-light: var(--av-inversed-light) !default;
$av-inversed-lighter: var(--av-inversed-lighter) !default;
$av-inversed-lightest: var(--av-inversed-lightest) !default;
$av-inversed-primary: var(--av-inversed-primary) !default;
$av-inversed-secondary: var(--av-inversed-secondary) !default;
$av-light: var(--av-light) !default;
$av-nav-primary: var(--av-nav-primary) !default;
$av-nav-secondary: var(--av-nav-secondary) !default;
$av-nav-text: var(--av-nav-text) !default;
$av-nav-text-active: var(--av-nav-text-active) !default;
$av-nav-text-light: var(--av-nav-text-light) !default;
$av-scroll-thumb: var(--av-scroll-thumb) !default;
$av-scroll-thumb-inverse: var(--av-scroll-thumb-inverse) !default;
$av-solid-brand-accent: var(--av-solid-brand-accent) !default;
$av-solid-brand-lightest: var(--av-solid-brand-lightest) !default;
$av-solid-brand-secondary-accent: var(--av-solid-brand-secondary-accent) !default;
$av-solid-brand-secondary-light: var(--av-solid-brand-secondary-light) !default;
$av-solid-fixed-invisible: var(--av-solid-fixed-invisible) !default;
$el-primary-active: var(--el-primary-active) !default;
$el-primary-hover: var(--el-primary-hover) !default;
$el-secondary-active: var(--el-secondary-active) !default;
$el-secondary-hover: var(--el-secondary-hover) !default;
$el-solid-secondary-active: var(--el-solid-secondary-active) !default;
