@mixin link {
    text-decoration: none;
    color: var(--acv-link-color);

    &:hover {
         color: var(--acv-link-color-hover);
        cursor: pointer;
    }

     &:active {
       color: var(--acv-link-color-active);
     }
}

@mixin borderless-action-state {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border-radius: var(--acv-radius-small);
    font-weight: var(--acv-font-weight-accent);

    &:hover {
        background-color: var(--acv-color-button-hover-primary);
    }

    &:focus {
        background-color: var(--acv-color-button-focus);
    }

    &:active {
        background-color: var(--acv-color-button-active);
    }

    &:not(:disabled):active,
    &:not(:disabled).is-active {
        background: var(--acv-color-button-active);
    }

    &:not(:disabled).is-selected {
        background-color: var(--acv-color-button-active);
    }

    &:disabled {
        cursor: default;
        pointer-events: none;
    }
}
