@import '_layout.css';
@import '_typography.css';
@import '_color.css';
@import '_icon.css';
@import '_animation.css';
@import '_util.css';

* {
  box-sizing: border-box;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-stack);
}
