@include e(legend) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__item {
    margin-bottom: 4px;
    transition: opacity 200ms ease-in-out;
  }

  &__item:hover {
    cursor: pointer;
  }

  &__label {
    > span {
      display: inline-block;
    }
  }

  &__value {
    display: inline-block;
  }

  &__bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 16px;

    > span {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: inline-block;
    }
  }

  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__seperator {
    width: 1px;
    height: 16px;
    background-color: $av-brand-accent;
  }
}
