:root {
  --av-brand-secondary: rgb(64, 139, 234);
  --av-brand-secondary-light: rgba(64, 139, 234, .3);
  --av-brand-secondary-accent: rgba(64, 139, 234, .1);
  --av-fixed-primary: rgb(255, 255, 255);
  --av-fixed-secondary: rgba(255, 255, 255, .9);
  --av-fixed-light: rgba(255, 255, 255, .7);
  --av-fixed-lighter: rgba(255, 255, 255, .4);
  --av-fixed-lightest: rgba(255, 255, 255, .2);
  --av-fixed-invisible: rgba(255, 255, 255, .1);
  --av-inversed-primary: rgb(46, 46, 55);
  --av-inversed-secondary: rgba(46, 46, 55, .95);
  --av-inversed-light: rgba(46, 46, 55, .7);
  --av-inversed-lighter: rgba(46, 46, 55, .4);
  --av-inversed-lightest: rgba(46, 46, 55, .2);
  --av-inversed-invisible: rgba(46, 46, 55, .1);
  --av-fixed-info-dark: rgb(64, 139, 234);
  --av-fixed-info: rgb(64, 139, 234);
  --av-fixed-info-light: rgb(48, 55, 73);
  --av-fixed-info-accent: rgb(48, 55, 73);
  --av-fixed-success-dark: rgb(155, 194, 37);
  --av-fixed-success: rgb(155, 194, 37);
  --av-fixed-success-light: rgb(57, 61, 53);
  --av-fixed-success-accent: rgb(57, 61, 53);
  --av-fixed-warning-dark: rgb(255, 193, 7);
  --av-fixed-warning: rgb(255, 193, 7);
  --av-fixed-warning-light: rgb(67, 61, 50);
  --av-fixed-warning-accent: rgb(67, 61, 50);
  --av-fixed-critical-dark: rgb(255, 129, 13);
  --av-fixed-critical: rgb(255, 129, 13);
  --av-fixed-critical-light: rgb(67, 54, 51);
  --av-fixed-critical-accent: rgb(67, 54, 51);
  --av-fixed-danger-dark: rgb(234, 57, 57);
  --av-fixed-danger: rgb(234, 57, 57);
  --av-fixed-danger-light: rgb(65, 47, 55);
  --av-fixed-danger-accent: rgb(65, 47, 55);
  --av-fixed-neutral-dark: rgb(148, 154, 163);
  --av-fixed-neutral: rgb(148, 154, 163);
  --av-fixed-neutral-light: rgb(58, 58, 66);
  --av-fixed-neutral-accent: rgb(58, 58, 66);
  --av-solid-brand-secondary-light: rgb(198, 220, 249);
  --av-solid-brand-secondary-accent: rgb(236, 243, 253);
  --av-solid-fixed-invisible: rgb(25, 25, 35);
  --av-app-base: rgb(35, 35, 44);
  --av-light: rgb(255, 255, 255);
  --av-dark: rgba(23, 23, 33, .9);
  --av-fixed-focus: rgb(179, 209, 247);
  --av-fixed-highlight: rgb(255, 223, 0);
  --av-chart-info: rgb(64, 139, 234);
  --av-chart-success: rgb(155, 194, 37);
  --av-chart-warning: rgb(255, 193, 7);
  --av-chart-critical: rgb(255, 129, 13);
  --av-chart-danger: rgb(234, 57, 57);
  --av-chart-neutral: rgb(222, 224, 227);
  --av-chart-blue: rgb(38, 104, 197);
  --av-chart-green: rgb(8, 166, 158);
  --av-chart-light-blue: rgb(137, 201, 246);
  --av-chart-red: rgb(241, 92, 92);
  --av-chart-brown: rgb(174, 115, 57);
  --av-chart-yellow: rgb(232, 201, 77);
  --av-chart-purple: rgb(206, 120, 243);
  --av-chart-grey: rgb(148, 154, 163);
  --av-chart-violet: rgb(111, 91, 149);
  --av-chart-turquoise: rgb(36, 174, 226);
  --av-chart-transparent: rgba(137, 201, 246, .5);
  --av-fixed-button: rgb(97, 149, 239);
  --av-fixed-button-light: rgba(97, 149, 239, .3);
  --av-fixed-link: rgb(97, 149, 239);
  --av-fixed-link-light: rgba(97, 149, 239, .3);
  --av-brand-primary: rgb(255, 255, 255);
  --av-brand-light: rgba(255, 255, 255, .3);
  --av-brand-accent: rgba(255, 255, 255, .1);
  --av-brand-lightest: rgba(255, 255, 255, .05);
  --av-solid-brand-accent: rgb(46, 46, 55);
  --av-solid-brand-lightest: rgb(35, 35, 44);
  --el-primary-hover: rgb(82, 127, 203);
  --el-primary-active: rgb(68, 104, 167);
  --el-secondary-hover: rgba(255, 255, 255, .1);
  --el-secondary-active: rgba(255, 255, 255, .2);
  --el-solid-secondary-active: rgb(69, 69, 77);
  --av-nav-primary: rgb(23, 23, 33);
  --av-nav-secondary: rgb(69, 69, 77);
  --av-nav-text: rgb(255, 255, 255);
  --av-nav-text-light: rgba(255, 255, 255, .7);
  --av-nav-text-active: rgb(255, 255, 255);
  --av-scroll-thumb: rgba(255, 255, 255, .2);
  --av-scroll-thumb-inverse: rgba(255, 255, 255, .2);
}
