:root {
  --av-nav-primary: rgb(36, 49, 67);
  --av-nav-secondary: rgb(113, 121, 134);
  --av-nav-text: rgb(255, 255, 255);
  --av-nav-text-light: rgba(255, 255, 255, .7);
  --av-nav-text-active: rgb(255, 255, 255);
  --av-scroll-thumb: rgba(36, 49, 67, .4);
  --av-scroll-thumb-inverse: rgba(255, 255, 255, .4);
  --el-primary-hover: rgb(54, 65, 75);
  --el-primary-active: rgb(41, 49, 56);
  --el-secondary-hover: rgba(68, 81, 94, .1);
  --el-secondary-active: rgba(68, 81, 94, .2);
  --el-solid-secondary-active: rgb(218, 220, 223);
  --av-fixed-button: rgb(68, 81, 94);
  --av-fixed-button-light: rgba(68, 81, 94, .3);
  --av-fixed-link: rgb(38, 104, 197);
  --av-fixed-link-light: rgba(38, 104, 197, .3);
  --av-brand-primary: rgb(68, 81, 94);
  --av-brand-light: rgba(68, 81, 94, .3);
  --av-brand-accent: rgba(68, 81, 94, .1);
  --av-brand-lightest: rgba(68, 81, 94, .05);
  --av-solid-brand-accent: rgb(236, 238, 239);
  --av-solid-brand-lightest: rgb(246, 246, 247);
  --av-brand-secondary: rgb(64, 139, 234);
  --av-brand-secondary-light: rgba(64, 139, 234, .3);
  --av-brand-secondary-accent: rgba(64, 139, 234, .1);
  --av-fixed-primary: rgb(36, 49, 67);
  --av-fixed-secondary: rgba(36, 49, 67, .9);
  --av-fixed-light: rgba(36, 49, 67, .7);
  --av-fixed-lighter: rgba(36, 49, 67, .4);
  --av-fixed-lightest: rgba(36, 49, 67, .2);
  --av-fixed-invisible: rgba(36, 49, 67, .1);
  --av-inversed-primary: rgb(255, 255, 255);
  --av-inversed-secondary: rgba(255, 255, 255, .95);
  --av-inversed-light: rgba(255, 255, 255, .7);
  --av-inversed-lighter: rgba(255, 255, 255, .4);
  --av-inversed-lightest: rgba(255, 255, 255, .2);
  --av-inversed-invisible: rgba(255, 255, 255, .1);
  --av-fixed-info-dark: rgb(31, 86, 162);
  --av-fixed-info: rgb(64, 139, 234);
  --av-fixed-info-light: rgb(202, 222, 249);
  --av-fixed-info-accent: rgb(236, 243, 253);
  --av-fixed-success-dark: rgb(64, 112, 9);
  --av-fixed-success: rgb(155, 194, 37);
  --av-fixed-success-light: rgb(218, 233, 174);
  --av-fixed-success-accent: rgb(245, 249, 233);
  --av-fixed-warning-dark: rgb(142, 94, 47);
  --av-fixed-warning: rgb(255, 193, 7);
  --av-fixed-warning-light: rgb(255, 232, 163);
  --av-fixed-warning-accent: rgb(255, 249, 230);
  --av-fixed-critical-dark: rgb(181, 56, 28);
  --av-fixed-critical: rgb(255, 129, 13);
  --av-fixed-critical-light: rgb(255, 200, 170);
  --av-fixed-critical-accent: rgb(254, 237, 217);
  --av-fixed-danger-dark: rgb(198, 32, 32);
  --av-fixed-danger: rgb(234, 57, 57);
  --av-fixed-danger-light: rgb(255, 197, 197);
  --av-fixed-danger-accent: rgb(255, 236, 236);
  --av-fixed-neutral-dark: rgb(92, 102, 115);
  --av-fixed-neutral: rgb(148, 154, 163);
  --av-fixed-neutral-light: rgb(222, 224, 227);
  --av-fixed-neutral-accent: rgb(233, 234, 236);
  --av-solid-brand-secondary-light: rgb(198, 220, 249);
  --av-solid-brand-secondary-accent: rgb(236, 243, 253);
  --av-solid-fixed-invisible: rgb(233, 234, 236);
  --av-app-base: rgb(255, 255, 255);
  --av-light: rgb(255, 255, 255);
  --av-dark: rgba(36, 49, 67, .9);
  --av-fixed-focus: rgb(179, 209, 247);
  --av-fixed-highlight: rgb(255, 223, 0);
  --av-chart-info: rgb(64, 139, 234);
  --av-chart-success: rgb(155, 194, 37);
  --av-chart-warning: rgb(255, 193, 7);
  --av-chart-critical: rgb(255, 129, 13);
  --av-chart-danger: rgb(234, 57, 57);
  --av-chart-neutral: rgb(222, 224, 227);
  --av-chart-blue: rgb(38, 104, 197);
  --av-chart-green: rgb(8, 166, 158);
  --av-chart-light-blue: rgb(137, 201, 246);
  --av-chart-red: rgb(241, 92, 92);
  --av-chart-brown: rgb(174, 115, 57);
  --av-chart-yellow: rgb(232, 201, 77);
  --av-chart-purple: rgb(206, 120, 243);
  --av-chart-grey: rgb(148, 154, 163);
  --av-chart-violet: rgb(111, 91, 149);
  --av-chart-turquoise: rgb(36, 174, 226);
  --av-chart-transparent: rgba(137, 201, 246, .5);
}
