@layer utilities {
  .acv-grid {
    display: grid;
  }

  .acv-grid--inline {
    display: inline-grid;
  }

  .acv-grid-row {
    display: grid;
    width: 100%;
    place-items: start;
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }

  .acv-grid--rows-1 {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }

  .acv-grid--row-span-1 {
    grid-row: span 1 / span 1;
  }

  .acv-grid--row-start-1 {
    grid-row-start: 1;
  }

  .acv-grid--row-end-1 {
    grid-row-end: 1;
  }

  .acv-grid--cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .acv-grid--col-span-1 {
    grid-column: span 1 / span 1;
  }

  .acv-grid--col-start-1 {
    grid-column-start: 1;
  }

  .acv-grid--col-end-1 {
    grid-column-end: 1;
  }

  .acv-grid--rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  .acv-grid--row-span-2 {
    grid-row: span 2 / span 2;
  }

  .acv-grid--row-start-2 {
    grid-row-start: 2;
  }

  .acv-grid--row-end-2 {
    grid-row-end: 2;
  }

  .acv-grid--cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .acv-grid--col-span-2 {
    grid-column: span 2 / span 2;
  }

  .acv-grid--col-start-2 {
    grid-column-start: 2;
  }

  .acv-grid--col-end-2 {
    grid-column-end: 2;
  }

  .acv-grid--rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .acv-grid--row-span-3 {
    grid-row: span 3 / span 3;
  }

  .acv-grid--row-start-3 {
    grid-row-start: 3;
  }

  .acv-grid--row-end-3 {
    grid-row-end: 3;
  }

  .acv-grid--cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .acv-grid--col-span-3 {
    grid-column: span 3 / span 3;
  }

  .acv-grid--col-start-3 {
    grid-column-start: 3;
  }

  .acv-grid--col-end-3 {
    grid-column-end: 3;
  }

  .acv-grid--rows-4 {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .acv-grid--row-span-4 {
    grid-row: span 4 / span 4;
  }

  .acv-grid--row-start-4 {
    grid-row-start: 4;
  }

  .acv-grid--row-end-4 {
    grid-row-end: 4;
  }

  .acv-grid--cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .acv-grid--col-span-4 {
    grid-column: span 4 / span 4;
  }

  .acv-grid--col-start-4 {
    grid-column-start: 4;
  }

  .acv-grid--col-end-4 {
    grid-column-end: 4;
  }

  .acv-grid--rows-5 {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }

  .acv-grid--row-span-5 {
    grid-row: span 5 / span 5;
  }

  .acv-grid--row-start-5 {
    grid-row-start: 5;
  }

  .acv-grid--row-end-5 {
    grid-row-end: 5;
  }

  .acv-grid--cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .acv-grid--col-span-5 {
    grid-column: span 5 / span 5;
  }

  .acv-grid--col-start-5 {
    grid-column-start: 5;
  }

  .acv-grid--col-end-5 {
    grid-column-end: 5;
  }

  .acv-grid--rows-6 {
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .acv-grid--row-span-6 {
    grid-row: span 6 / span 6;
  }

  .acv-grid--row-start-6 {
    grid-row-start: 6;
  }

  .acv-grid--row-end-6 {
    grid-row-end: 6;
  }

  .acv-grid--cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .acv-grid--col-span-6 {
    grid-column: span 6 / span 6;
  }

  .acv-grid--col-start-6 {
    grid-column-start: 6;
  }

  .acv-grid--col-end-6 {
    grid-column-end: 6;
  }

  .acv-grid--rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }

  .acv-grid--row-span-7 {
    grid-row: span 7 / span 7;
  }

  .acv-grid--row-start-7 {
    grid-row-start: 7;
  }

  .acv-grid--row-end-7 {
    grid-row-end: 7;
  }

  .acv-grid--cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .acv-grid--col-span-7 {
    grid-column: span 7 / span 7;
  }

  .acv-grid--col-start-7 {
    grid-column-start: 7;
  }

  .acv-grid--col-end-7 {
    grid-column-end: 7;
  }

  .acv-grid--rows-8 {
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }

  .acv-grid--row-span-8 {
    grid-row: span 8 / span 8;
  }

  .acv-grid--row-start-8 {
    grid-row-start: 8;
  }

  .acv-grid--row-end-8 {
    grid-row-end: 8;
  }

  .acv-grid--cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .acv-grid--col-span-8 {
    grid-column: span 8 / span 8;
  }

  .acv-grid--col-start-8 {
    grid-column-start: 8;
  }

  .acv-grid--col-end-8 {
    grid-column-end: 8;
  }

  .acv-grid--rows-9 {
    grid-template-rows: repeat(9, minmax(0, 1fr));
  }

  .acv-grid--row-span-9 {
    grid-row: span 9 / span 9;
  }

  .acv-grid--row-start-9 {
    grid-row-start: 9;
  }

  .acv-grid--row-end-9 {
    grid-row-end: 9;
  }

  .acv-grid--cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .acv-grid--col-span-9 {
    grid-column: span 9 / span 9;
  }

  .acv-grid--col-start-9 {
    grid-column-start: 9;
  }

  .acv-grid--col-end-9 {
    grid-column-end: 9;
  }

  .acv-grid--rows-10 {
    grid-template-rows: repeat(10, minmax(0, 1fr));
  }

  .acv-grid--row-span-10 {
    grid-row: span 10 / span 10;
  }

  .acv-grid--row-start-10 {
    grid-row-start: 10;
  }

  .acv-grid--row-end-10 {
    grid-row-end: 10;
  }

  .acv-grid--cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .acv-grid--col-span-10 {
    grid-column: span 10 / span 10;
  }

  .acv-grid--col-start-10 {
    grid-column-start: 10;
  }

  .acv-grid--col-end-10 {
    grid-column-end: 10;
  }

  .acv-grid--rows-11 {
    grid-template-rows: repeat(11, minmax(0, 1fr));
  }

  .acv-grid--row-span-11 {
    grid-row: span 11 / span 11;
  }

  .acv-grid--row-start-11 {
    grid-row-start: 11;
  }

  .acv-grid--row-end-11 {
    grid-row-end: 11;
  }

  .acv-grid--cols-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }

  .acv-grid--col-span-11 {
    grid-column: span 11 / span 11;
  }

  .acv-grid--col-start-11 {
    grid-column-start: 11;
  }

  .acv-grid--col-end-11 {
    grid-column-end: 11;
  }

  .acv-grid--rows-12 {
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }

  .acv-grid--row-span-12 {
    grid-row: span 12 / span 12;
  }

  .acv-grid--row-start-12 {
    grid-row-start: 12;
  }

  .acv-grid--row-end-12 {
    grid-row-end: 12;
  }

  .acv-grid--cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .acv-grid--col-span-12 {
    grid-column: span 12 / span 12;
  }

  .acv-grid--col-start-12 {
    grid-column-start: 12;
  }

  .acv-grid--col-end-12 {
    grid-column-end: 12;
  }

  .acv-grid--rows-13 {
    grid-template-rows: repeat(13, minmax(0, 1fr));
  }

  .acv-grid--row-span-13 {
    grid-row: span 13 / span 13;
  }

  .acv-grid--row-start-13 {
    grid-row-start: 13;
  }

  .acv-grid--row-end-13 {
    grid-row-end: 13;
  }

  .acv-grid--cols-13 {
    grid-template-columns: repeat(13, minmax(0, 1fr));
  }

  .acv-grid--col-span-13 {
    grid-column: span 13 / span 13;
  }

  .acv-grid--col-start-13 {
    grid-column-start: 13;
  }

  .acv-grid--col-end-13 {
    grid-column-end: 13;
  }

  .acv-grid--rows-14 {
    grid-template-rows: repeat(14, minmax(0, 1fr));
  }

  .acv-grid--row-span-14 {
    grid-row: span 14 / span 14;
  }

  .acv-grid--row-start-14 {
    grid-row-start: 14;
  }

  .acv-grid--row-end-14 {
    grid-row-end: 14;
  }

  .acv-grid--cols-14 {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }

  .acv-grid--col-span-14 {
    grid-column: span 14 / span 14;
  }

  .acv-grid--col-start-14 {
    grid-column-start: 14;
  }

  .acv-grid--col-end-14 {
    grid-column-end: 14;
  }

  .acv-grid--rows-15 {
    grid-template-rows: repeat(15, minmax(0, 1fr));
  }

  .acv-grid--row-span-15 {
    grid-row: span 15 / span 15;
  }

  .acv-grid--row-start-15 {
    grid-row-start: 15;
  }

  .acv-grid--row-end-15 {
    grid-row-end: 15;
  }

  .acv-grid--cols-15 {
    grid-template-columns: repeat(15, minmax(0, 1fr));
  }

  .acv-grid--col-span-15 {
    grid-column: span 15 / span 15;
  }

  .acv-grid--col-start-15 {
    grid-column-start: 15;
  }

  .acv-grid--col-end-15 {
    grid-column-end: 15;
  }

  .acv-grid--rows-16 {
    grid-template-rows: repeat(16, minmax(0, 1fr));
  }

  .acv-grid--row-span-16 {
    grid-row: span 16 / span 16;
  }

  .acv-grid--row-start-16 {
    grid-row-start: 16;
  }

  .acv-grid--row-end-16 {
    grid-row-end: 16;
  }

  .acv-grid--cols-16 {
    grid-template-columns: repeat(16, minmax(0, 1fr));
  }

  .acv-grid--col-span-16 {
    grid-column: span 16 / span 16;
  }

  .acv-grid--col-start-16 {
    grid-column-start: 16;
  }

  .acv-grid--col-end-16 {
    grid-column-end: 16;
  }

  .acv-grid--rows-17 {
    grid-template-rows: repeat(17, minmax(0, 1fr));
  }

  .acv-grid--row-span-17 {
    grid-row: span 17 / span 17;
  }

  .acv-grid--row-start-17 {
    grid-row-start: 17;
  }

  .acv-grid--row-end-17 {
    grid-row-end: 17;
  }

  .acv-grid--cols-17 {
    grid-template-columns: repeat(17, minmax(0, 1fr));
  }

  .acv-grid--col-span-17 {
    grid-column: span 17 / span 17;
  }

  .acv-grid--col-start-17 {
    grid-column-start: 17;
  }

  .acv-grid--col-end-17 {
    grid-column-end: 17;
  }

  .acv-grid--rows-18 {
    grid-template-rows: repeat(18, minmax(0, 1fr));
  }

  .acv-grid--row-span-18 {
    grid-row: span 18 / span 18;
  }

  .acv-grid--row-start-18 {
    grid-row-start: 18;
  }

  .acv-grid--row-end-18 {
    grid-row-end: 18;
  }

  .acv-grid--cols-18 {
    grid-template-columns: repeat(18, minmax(0, 1fr));
  }

  .acv-grid--col-span-18 {
    grid-column: span 18 / span 18;
  }

  .acv-grid--col-start-18 {
    grid-column-start: 18;
  }

  .acv-grid--col-end-18 {
    grid-column-end: 18;
  }

  .acv-grid--rows-19 {
    grid-template-rows: repeat(19, minmax(0, 1fr));
  }

  .acv-grid--row-span-19 {
    grid-row: span 19 / span 19;
  }

  .acv-grid--row-start-19 {
    grid-row-start: 19;
  }

  .acv-grid--row-end-19 {
    grid-row-end: 19;
  }

  .acv-grid--cols-19 {
    grid-template-columns: repeat(19, minmax(0, 1fr));
  }

  .acv-grid--col-span-19 {
    grid-column: span 19 / span 19;
  }

  .acv-grid--col-start-19 {
    grid-column-start: 19;
  }

  .acv-grid--col-end-19 {
    grid-column-end: 19;
  }

  .acv-grid--rows-20 {
    grid-template-rows: repeat(20, minmax(0, 1fr));
  }

  .acv-grid--row-span-20 {
    grid-row: span 20 / span 20;
  }

  .acv-grid--row-start-20 {
    grid-row-start: 20;
  }

  .acv-grid--row-end-20 {
    grid-row-end: 20;
  }

  .acv-grid--cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
  }

  .acv-grid--col-span-20 {
    grid-column: span 20 / span 20;
  }

  .acv-grid--col-start-20 {
    grid-column-start: 20;
  }

  .acv-grid--col-end-20 {
    grid-column-end: 20;
  }

  .acv-grid--rows-21 {
    grid-template-rows: repeat(21, minmax(0, 1fr));
  }

  .acv-grid--row-span-21 {
    grid-row: span 21 / span 21;
  }

  .acv-grid--row-start-21 {
    grid-row-start: 21;
  }

  .acv-grid--row-end-21 {
    grid-row-end: 21;
  }

  .acv-grid--cols-21 {
    grid-template-columns: repeat(21, minmax(0, 1fr));
  }

  .acv-grid--col-span-21 {
    grid-column: span 21 / span 21;
  }

  .acv-grid--col-start-21 {
    grid-column-start: 21;
  }

  .acv-grid--col-end-21 {
    grid-column-end: 21;
  }

  .acv-grid--rows-22 {
    grid-template-rows: repeat(22, minmax(0, 1fr));
  }

  .acv-grid--row-span-22 {
    grid-row: span 22 / span 22;
  }

  .acv-grid--row-start-22 {
    grid-row-start: 22;
  }

  .acv-grid--row-end-22 {
    grid-row-end: 22;
  }

  .acv-grid--cols-22 {
    grid-template-columns: repeat(22, minmax(0, 1fr));
  }

  .acv-grid--col-span-22 {
    grid-column: span 22 / span 22;
  }

  .acv-grid--col-start-22 {
    grid-column-start: 22;
  }

  .acv-grid--col-end-22 {
    grid-column-end: 22;
  }

  .acv-grid--rows-23 {
    grid-template-rows: repeat(23, minmax(0, 1fr));
  }

  .acv-grid--row-span-23 {
    grid-row: span 23 / span 23;
  }

  .acv-grid--row-start-23 {
    grid-row-start: 23;
  }

  .acv-grid--row-end-23 {
    grid-row-end: 23;
  }

  .acv-grid--cols-23 {
    grid-template-columns: repeat(23, minmax(0, 1fr));
  }

  .acv-grid--col-span-23 {
    grid-column: span 23 / span 23;
  }

  .acv-grid--col-start-23 {
    grid-column-start: 23;
  }

  .acv-grid--col-end-23 {
    grid-column-end: 23;
  }

  .acv-grid--rows-24 {
    grid-template-rows: repeat(24, minmax(0, 1fr));
  }

  .acv-grid--row-span-24 {
    grid-row: span 24 / span 24;
  }

  .acv-grid--row-start-24 {
    grid-row-start: 24;
  }

  .acv-grid--row-end-24 {
    grid-row-end: 24;
  }

  .acv-grid--cols-24 {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }

  .acv-grid--col-span-24 {
    grid-column: span 24 / span 24;
  }

  .acv-grid--col-start-24 {
    grid-column-start: 24;
  }

  .acv-grid--col-end-24 {
    grid-column-end: 24;
  }

  .acv-grid-rows-none {
    grid-template-rows: none;
  }

  .acv-grid-rows-auto {
    grid-auto-rows: auto;
  }

  .acv-grid-rows-min {
    grid-auto-rows: min-content;
  }

  .acv-grid-rows-max {
    grid-auto-rows: max-content;
  }

  .acv-grid-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }

  .acv-grid-row-auto {
    grid-row: auto;
  }

  .acv-grid-row-span-full {
    grid-row: 1 / -1;
  }

  .acv-grid-row-start-auto {
    grid-row-start: auto;
  }

  .acv-grid-row-end-auto {
    grid-row-end: auto;
  }

  .acv-grid-cols-none {
    grid-template-columns: none;
  }

  .acv-grid-cols-auto {
    grid-auto-columns: auto;
  }

  .acv-grid-cols-min {
    grid-auto-columns: min-content;
  }

  .acv-grid-cols-max {
    grid-auto-columns: max-content;
  }

  .acv-grid-cols-fr {
    grid-auto-columns: minmax(0, 1fr);
  }

  .acv-grid-col-auto {
    grid-column: auto;
  }

  .acv-grid-col-span-full {
    grid-column: 1 / -1;
  }

  .acv-grid-col-start-auto {
    grid-column-start: auto;
  }

  .acv-grid-col-end-auto {
    grid-column-end: auto;
  }

  .acv-grid--flow-row {
    grid-auto-flow: row;
  }

  .acv-grid--flow-col {
    grid-auto-flow: column;
  }

  .acv-grid--flow-row-dense {
    grid-auto-flow: row dense;
  }

  .acv-grid--flow-col-dense {
    grid-auto-flow: column dense;
  }

  .acv-grid--cols-auto-auto {
    grid-auto-columns: auto;
  }

  .acv-grid--cols-auto-min {
    grid-auto-columns: min-content;
  }

  .acv-grid--cols-auto-max {
    grid-auto-columns: max-content;
  }

  .acv-grid--cols-auto-fr {
    grid-auto-columns: minmax(0, 1fr);
  }

  .acv-grid--rows-auto-auto {
    grid-auto-rows: auto;
  }

  .acv-grid--rows-auto-min {
    grid-auto-rows: min-content;
  }

  .acv-grid--rows-auto-max {
    grid-auto-rows: max-content;
  }

  .acv-grid--rows-auto-fr {
    grid-auto-rows: minmax(0, 1fr);
  }

  .acv-grid--gap-0 {
    grid-gap: 0;
    gap: 0;
  }

  .acv-grid--column-gap-0 {
    grid-column-gap: 0;
    column-gap: 0;
  }

  .acv-grid--row-gap-0 {
    grid-row-gap: 0;
    row-gap: 0;
  }

  .acv-grid--gap-8 {
    grid-gap: 8px;
    gap: 8px;
  }

  .acv-grid--column-gap-8 {
    grid-column-gap: 8px;
    column-gap: 8px;
  }

  .acv-grid--row-gap-8 {
    grid-row-gap: 8px;
    row-gap: 8px;
  }

  .acv-grid--gap-16 {
    grid-gap: 16px;
    gap: 16px;
  }

  .acv-grid--column-gap-16 {
    grid-column-gap: 16px;
    column-gap: 16px;
  }

  .acv-grid--row-gap-16 {
    grid-row-gap: 16px;
    row-gap: 16px;
  }

  .acv-grid--gap-24 {
    grid-gap: 24px;
    gap: 24px;
  }

  .acv-grid--column-gap-24 {
    grid-column-gap: 24px;
    column-gap: 24px;
  }

  .acv-grid--row-gap-24 {
    grid-row-gap: 24px;
    row-gap: 24px;
  }

  .acv-grid--gap-32 {
    grid-gap: 32px;
    gap: 32px;
  }

  .acv-grid--column-gap-32 {
    grid-column-gap: 32px;
    column-gap: 32px;
  }

  .acv-grid--row-gap-32 {
    grid-row-gap: 32px;
    row-gap: 32px;
  }

  .acv-grid--gap-48 {
    grid-gap: 48px;
    gap: 48px;
  }

  .acv-grid--column-gap-48 {
    grid-column-gap: 48px;
    column-gap: 48px;
  }

  .acv-grid--row-gap-48 {
    grid-row-gap: 48px;
    row-gap: 48px;
  }

  .acv-grid--gap-56 {
    grid-gap: 56px;
    gap: 56px;
  }

  .acv-grid--column-gap-56 {
    grid-column-gap: 56px;
    column-gap: 56px;
  }

  .acv-grid--row-gap-56 {
    grid-row-gap: 56px;
    row-gap: 56px;
  }

  .acv-grid--gap-64 {
    grid-gap: 64px;
    gap: 64px;
  }

  .acv-grid--column-gap-64 {
    grid-column-gap: 64px;
    column-gap: 64px;
  }

  .acv-grid--row-gap-64 {
    grid-row-gap: 64px;
    row-gap: 64px;
  }

  .place-items-center {
    place-items: center;
  }
}
