*,
*:before,
*:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: hsl(220deg 13% 91%);
}

html {
  line-height: 1.5;
  text-size-adjust: none;
  tab-size: 4;
  font-family: var(--acv-font-family-default);
}

/* Remove default margin in favour of better control in authored CSS */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  /* Set shorter line heights on headings and interactive elements */
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;

  /* Balance text wrapping on headings */
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

b,
strong {
  font-weight: var(--acv-font-weight-strong);
}

code,
kbd,
samp,
pre {
  font-family: var(--acv-font-family-mono, monospace);
  font-size: var(--acv-font-size-body);
}

small {
  font-size: var(--acv-font-size-note);
}

sub,
sup {
  font-size: var(--acv-font-size-fineprint);
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-size: var(--acv-font-size-body);
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: hsl(218deg 11% 65%);
}

textarea:not([rows]) {
  /* Make sure textareas without a rows attribute are not tiny */
  min-height: 10em;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

:target {
  /* Anything that has been anchored to should have extra scroll margin */
  scroll-margin-block: 5ex;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  align-self: center;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}
