name: Release Icons

on:
  push:
    branches:
      - main
    paths:
      - 'packages/icons/**'

jobs:
  changelog:
    if: github.repository == 'acronis/ui-component-library'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Conventional Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5.3.0
        with:
          preset: "conventionalcommits"
          github-token: ${{ secrets.ACV_TOKEN }}
          version-file: './packages/icons/package.json'
          output-file: './packages/icons/CHANGELOG.md'
