name: Release UI

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  changelog:
    if: github.repository == 'acronis/ui-component-library'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Conventional Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5.3.0
        with:
          preset: "conventionalcommits"
          github-token: ${{ secrets.GITHUB_TOKEN }}
#          TODO add personal access token to trigger publish workflow
#          github-token: ${{ secrets.PA_TOKEN }}
          version-file: './packages/ui/package.json'
          output-file: './packages/ui/CHANGELOG.md'

      - name: Release
        uses: softprops/action-gh-release@v2
        if: ${{steps.changelog.outputs.skipped == 'false'}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          name: ${{ steps.changelog.outputs.tag }}
          body: ${{steps.changelog.outputs.clean_changelog}}
          draft: false
          prerelease: false
