name: UI Syntax - Release

on:
  push:
    branches:
      - main
    paths:
      - 'packages/ui-syntax/**'

  workflow_dispatch:

permissions:
  contents: write

jobs:
  changelog:
    if: github.repository == 'acronis/ui-component-library'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Conventional Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5.3.0
        with:
          preset: "conventionalcommits"
          github-token: ${{ secrets.ACV_TOKEN }}
          version-file: './packages/ui-syntax/package.json'
          output-file: './packages/ui-syntax/CHANGELOG.md'
          tag-prefix: 'ui-syntax/'
          git-path: './packages/ui-syntax'
          git-user-name: 'Team-RND-Tools-Github'
          git-user-email: 'team-rnd-tools-github@acronis.com'
