name: Test - Visual Regression

on:
  pull_request:
    branches: [main]
    paths:
      - 'packages/ui/**'
      - 'packages/demos/**'

  workflow_dispatch:

jobs:
  visual-regression:
    runs-on: ubuntu-latest
    container:
      image: cypress/included:13.12.0
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Set up Cypress binary cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/Cypress
          key: cypress-${{ runner.os }}-cypress-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build utils
        run: pnpm --filter ./packages/utils run build

      - name: Build UI Component Library
        run: pnpm --filter ./packages/ui run build

      - name: Build icons
        run: pnpm --filter ./packages/icons run build

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: packages/ui
          start: pnpm --filter ./packages/ui run cypress:run
          component: true
          browser: chrome
